#layout-editor  {
    background: #a7a7a7;
    min-height: 800px;
}

/* Layout timeline */
#layout-editor #layout-timeline {
    background: #444;
    padding: 5px;
    overflow-x: hidden;
}

#layout-editor #layout-timeline #regions-container {
    overflow: auto;
}

#layout-editor #layout-timeline .region {
    background: cadetblue;
    height: 40px;
    padding: 3px;
    margin: 4px 0;
}

#layout-editor #layout-timeline #labels-container {
    font-size: 10px;
    float: left;
    width: 4%;
    padding-top: 38px;
}

#layout-editor #layout-timeline #timeline-container {
    float: left;
    width: 96%
}

#layout-editor #layout-timeline .label-region {
    height: 40px;
    padding: 10px 2px 0 0;
    text-align: right;
    font-weight: bold;
    margin-bottom: 4px;
    color: white;
}

#layout-editor #layout-timeline .widget {
    color: #222;
    font-weight: bold;
    float: left;
    height: 100%;
}

#layout-editor #layout-timeline .widget-ghost {
    background: #f3f3f370;
    color: #999;
    font-weight: bold;
    float: left;
    height: 100%;
}

#layout-editor #layout-timeline .ghost-padding {
    background: #11111121;
    float: left;
    height: 100%;
}

#layout-editor #layout-timeline .extension {
    color: #999;
    font-weight: bold;
    float: left;
    background: #f3f3f370;
    height: 80%;
    margin-top: 0.2em;
}

/* Layout Viewer */
#layout-editor #layout-viewer-container {
    padding: 5px;
    background: black;
}

#layout-editor #layout-viewer {
    min-height: 450px;
    background: #5f75a5;
}

#layout-editor #layout-viewer .viewer-element {
    position:relative;
    background: #ffffff3b;
}

#layout-editor #layout-viewer .empty {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff8a;
    top: 50%;
    transform: translateY(-50%);
}

#layout-editor #layout-viewer-navbar nav {
    background:#444;
    padding: 4px;
    overflow: auto;
    margin-top: 5px;
}

#layout-editor #layout-viewer-navbar nav .info {
    float: right;
    font-size: 20px;
}

/* Properties Panel */
#layout-editor #properties-panel {
    min-height: 450px;
    padding: 0;
}

#layout-editor #properties-panel-container {
    min-height: 450px;
    background: white;
}

#layout-editor #properties-panel-container .form-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#layout-editor #properties-panel-container .form-title-layout {
    background: #444;
}

#layout-editor #properties-panel-container .form-title-region {
    background: #365aa5;
}

#layout-editor #properties-panel-container .form-title-widget {
    color: #222;
    background: #9cce63;
}

#layout-editor #properties-panel-container .button-container {
    padding: 10px;
}

/* Layout Navigator */
#layout-editor #layout-navigator {
    background: black;
    min-height: 200px;
    padding: 0;
}

#layout-editor #layout-navigator-edit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(35, 35, 35, 0.9); /* Black w/ opacity */
}

#layout-editor #layout-navigator-edit-content {
    width: 90%;
    background: black;
    height: 90%;
    top: 3%;
    left: 5%;
    position: relative;
}

#layout-editor #layout-navigator-edit #layout-navigator-edit-navbar .navbar {
    padding: 5px;
    background: gray;
    width: 90%;
    left: 5%;
}

/* Layout object selection */
#layout-editor .selectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#layout-editor #layout-navigator .region.selectable:hover,
#layout-editor .widget.selectable:hover {
    background: #cfcfcf !important;
}

#layout-editor .region.selected-region,
#layout-editor #layout-timeline .region.selected-region {
    background: #1358e5 !important;
}

#layout-editor .region.selected-widget,
#layout-editor .widget.selected-widget {
    background: #8bc34a !important;
}

/* Layout bottom navbar */
#layout-editor #bottom-toolbar {
    min-height: 45px;
    padding: 5px 0 0 200px;
    z-index: 0;
    background: gray;
}

@media (max-width: 768px) {
    #layout-editor #bottom-toolbar {
        padding: 5px 0 0 5px;
    }
}

/* Properties Panel */
#layout-manager {
    left: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 15%;
    opacity: 0.95;
}

#layout-manager #layout-manager-header {
    background: #2d2d2d;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: #212121 3px solid;
}

#layout-manager #layout-manager-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
    color: #444;
    padding: 2px;
}

#layout-manager .change {
    color: black;
    background-color: #c3c3c3;
    border-radius: 2px;
    padding: 2px;
}

#layout-manager .change.uploaded {
    background-color: #8dffa6;
}

/* Loading Container */
#layout-editor .loading-container {
    position: relative;
    min-height: inherit;
}

#layout-editor .loading-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    margin: -25px;
}