#layout-editor  {
    background: lightblue;
}

/* Layout top region */
#layout-editor #layout-top-region {
    background: gray;
}

/* Layout center region */
#layout-editor #layout-center-region {
    background: lightgray;
}

/* Layout timeline */
#layout-editor #layout-top-region #layout-timeline {
    background: #444;
    padding: 5px;
    overflow-x: hidden;
}

#layout-editor #layout-top-region #layout-timeline #regions-container {
    overflow: auto;
    max-height: 250px;
}

#layout-editor #layout-top-region #layout-timeline .region {
    background: cadetblue;
    height: 40px;
    padding: 3px;
    margin: 4px 0;
}

#layout-editor #layout-top-region #layout-timeline #labels-container {
    float: left;
    width: 4%;
    padding-top: 40px;
}

#layout-editor #layout-top-region #layout-timeline #timeline-container {
    float: left;
    width: 96%
}

#layout-editor #layout-top-region #layout-timeline .label-region {
    height: 40px;
    padding: 10px 2px 0 0; 
    text-align: right;
    font-weight: bold;
    color: white;
}

#layout-editor #layout-top-region #layout-timeline .widget {
    color: #222;
    font-weight: bold;
    float: left;
    height: 100%;
}

#layout-editor #layout-top-region #layout-timeline .widget-ghost {
    background: #f3f3f370;
    color: #999;
    font-weight: bold;
    float: left;
    height: 100%;
}

#layout-editor #layout-top-region #layout-timeline .ghost-padding {
    background: #11111121;
    float: left;
    height: 100%;
}

#layout-editor #layout-top-region #layout-timeline .extension {
    color: #999;
    font-weight: bold;
    float: left;
    background: #f3f3f370;
    height: 80%;
    margin-top: 0.2em;
}

#layout-editor #layout-center-region #layout-viewer {
    height: 450px;
    background: lightcyan;
}

#layout-editor #layout-center-region #layout-property-panel {
    background: lightpink;
    height: 500px;
}

/* Layout Navigator */
#layout-editor #layout-navigator {
    background: black;
    min-height: 200px;
    padding: 0;
}

#layout-editor #layout-navigator-edit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(35, 35, 35, 0.9); /* Black w/ opacity */
}

#layout-editor #layout-navigator-edit-content {
    width: 90%;
    background: black;
    height: 90%;
    top: 3%;
    left: 5%;
    position: relative;
}

#layout-editor #layout-navigator-edit #layout-navigator-edit-navbar .navbar {
    padding: 5px;
    background: gray;
    width: 90%;
    left: 5%;
}

/* Layout object selection */
#layout-editor .selectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#layout-editor #layout-navigator .region.selectable:hover,
#layout-editor .widget.selectable:hover {
    background: #cfcfcf !important;
}

#layout-editor .region.selected-region,
#layout-editor #layout-timeline .region.selected-region {
    background: #1358e5 !important;
}

#layout-editor .region.selected-widget,
#layout-editor .widget.selected-widget {
    background: #8bc34a !important;
}

/* Layout bottom navbar */
#layout-editor #bottom-toolbar {
    min-height: 45px;
    padding: 5px 0 0 200px;
    z-index: 0;
    background: gray;
}

@media (max-width: 768px) {
    #layout-editor #bottom-toolbar {
        padding: 5px 0 0 5px;
    }
}