// Import
@import "mixins.less";
@import "toolbar.less";

// Variables
@designer-bg-color: #a7a7a7;
@designer-primary-color: #30426a;
@designer-z-index-select: 10;

@layout-main-bg-color: #8c1bb9;
@layout-main-fg-color: #ffffff;
@layout-hover-color: lighten(@layout-main-bg-color, 20%);
@layout-selected-color: lighten(@layout-main-bg-color, 10%);

@region-main-bg-color: #1b45b9;
@region-main-fg-color: #ffffff;
@region-hover-color: lighten(@region-main-bg-color, 40%);
@region-selected-color: lighten(@region-main-bg-color, 30%);

@widget-main-bg-color: #6fb91b;
@widget-main-fg-color: #2e2e2e;
@widget-hover-color: lighten(@widget-main-bg-color, 20%);
@widget-selected-color: lighten(@widget-main-bg-color, 10%);

@timeline-widget-bg-color: #f1f1f1;
@timeline-widget-fg-color: #222;
@timeline-widget-border-color: #868686;

@timeline-ghost-bg-color: #c5c5c5;
@timeline-ghost-fg-color: #fff;

@designer-overlay-z-index: 1050;
@loading-overlay-z-index: 2000;

// CSS
#layout-editor  {
    background: @designer-bg-color;
    min-height: 90vh;
    padding-bottom: 15vh;
    overflow: hidden;
}

#layout-editor .top-right-btn {
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 25px;
    color: #e0e0e0;
    z-index: 1;
}

#layout-editor .center-msg {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    .set-transparent-color(color; #fff; 50%);
    top: 50%;
    transform: translateY(-50%);
}

/* Layout timeline */
#layout-editor #layout-timeline {
    background: @designer-primary-color;
    padding: 5px;
    max-height: 220px;
    min-height: 25vh;
    overflow-y: auto;
}

#layout-editor #layout-timeline #regions-container {
    overflow: auto;
}

#layout-editor #layout-timeline .designer-region {
    background: @region-main-bg-color;
    height: 40px;
    padding: 3px;
    margin: 4px 0;
}

#layout-editor #layout-timeline .designer-region .message {
    color: white;
    font-weight: bold;
    padding: 7px;
}

#layout-editor #layout-timeline #timeline-container {
    float: left;
    width: 100%;
    padding: 10px;
    background: #536693;
}

#layout-editor #layout-timeline .label-region {
    height: 40px;
    padding: 10px 2px 0 0;
    text-align: right;
    font-weight: bold;
    margin-bottom: 4px;
    color: @region-main-fg-color;
}

#layout-editor #layout-timeline .designer-widget {
    background: @timeline-widget-bg-color;
    color: @timeline-widget-fg-color;
    font-weight: bold;
    float: left;
    height: 100%;
    border: 1px solid @timeline-widget-border-color;
    overflow: hidden;
    .border-radius(4px);
}

#layout-editor #layout-timeline .designer-widget .widgetLabel {
    width: 20px;
    display: inline-block;
    height: 100%;
    text-align: center;
    opacity: 0.85;
    margin-left: 5px;
}

#layout-editor #layout-timeline .designer-widget .widgetTitle {
    display: inline-block;
}

#layout-editor #layout-timeline .designer-widget i.editProperty {
    float: right;
    cursor: pointer;
    padding: 2px;
    color: @widget-main-fg-color;
}

#layout-editor #layout-timeline .designer-widget i.editProperty:hover {
    color: lighten(@widget-main-fg-color, 20%);
}

#layout-editor #layout-timeline .designer-widget-ghost {
    .set-transparent-color(background; @timeline-ghost-bg-color; 60%);
    color: @timeline-ghost-fg-color;
    font-weight: bold;
    float: left;
    height: 100%;
    padding: 6px;
}

#layout-editor #layout-timeline .designer-widget-sortable-highlight {
    background: #ffe921;
    float: left;
    width: 5%;
    height: 100%;
    border: none;
}

#layout-editor .deletable {
    border: 1px solid #868686;
    padding: 5px;
    .border-radius(4px);
}

#layout-editor .layout-region-deletable {
    background: @region-main-bg-color;
    color: @region-main-fg-color;
}

#layout-editor #layout-timeline .ghost-padding {
    .set-transparent-color(background; #111111; 20%);
    float: left;
    height: 100%;
}

#layout-editor #layout-timeline .extension {
    color: #999;
    font-weight: bold;
    float: left;
    .set-transparent-color(background; #f3f3f3; 50%);
    height: 80%;
    margin-top: 0.2em;
}

/* Layout Viewer */
#layout-editor #layout-viewer-container {
    padding: 5px;
    background: @designer-primary-color;
}

#layout-editor #layout-viewer {
    min-height: 45vh;
}

#layout-editor .layout-viewer-border {
    .set-transparent-color(background; #000; 90%);
    position: absolute;
}

#layout-editor #layout-viewer.fullscreen {
    position: fixed; /* Stay in place */
    z-index: @designer-overlay-z-index; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    .set-transparent-color(background-color; #000; 90%);
}

#layout-editor #layout-viewer.viewer-outline  {
    position: absolute;
    color: #10c01f;
    z-index: 0;
}

#layout-editor #layout-viewer .viewer-element {
    position:relative;
}

#layout-editor #layout-viewer .layout-player {
    background: #000;
}

#layout-editor #layout-viewer .play-btn-container {
    position: relative;
    width: 100%;
    display: table;
    height: 100%;
    text-align: center;
    background: black;
    background: #0000006b;
}

#layout-editor #layout-viewer #play-btn {
    font-size: 70px;
    color: #aaa;
    color: rgba(255, 255, 255, 0.65);
    text-shadow: 0px 0px 5px #5c5c5c;
    vertical-align: middle;
    display: table-cell;
}

#layout-editor #layout-viewer #play-btn:hover {
    font-size: 70px;
    color: #f0f0f0;
    text-shadow: 0px 0px 25px #fff;
}

#layout-editor #layout-viewer-navbar nav {
    background: #444;
    padding: 4px;
    overflow: auto;
    margin-top: 5px;
}

#layout-editor #layout-viewer-navbar .designer-region {
    background: @region-main-bg-color;
}

#layout-editor #layout-viewer-navbar .designer-widget {
    background: @widget-main-bg-color;
}

#layout-editor #layout-viewer-navbar nav .info {
    float: right;
    font-size: 20px;
}

/* Properties Panel */
#layout-editor #properties-panel {
    min-height: 45vh;
    padding: 0;
}

#layout-editor #properties-panel-container {
    background: white;
}

#layout-editor #properties-panel-container .form-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

#layout-editor #properties-panel-container .form-title-layout {
    color: @layout-main-fg-color;
    background: @layout-main-bg-color;
}

#layout-editor #properties-panel-container .form-title-region {
    color: @region-main-fg-color;
    background: @region-main-bg-color;
}

#layout-editor #properties-panel-container .form-title-widget {
    color: @widget-main-fg-color;
    background: @widget-main-bg-color;
}

#layout-editor #properties-panel-container .form-container {
    padding-top: 10px;
}

#layout-editor #properties-panel-container .button-container {
    padding: 10px;
}

/* Layout Navigator */
#layout-editor #layout-navigator {
    background: black;
    min-height: 25vh;
    padding: 5px;
    border: @designer-primary-color 5px solid;
    margin-bottom: 5px;
}

#layout-editor #layout-navigator .designer-region{
    .box-shadow(inset 0 0 5px #ddd);
}

#layout-editor #layout-navigator-edit .designer-region {
    .box-shadow(inset 0 0 10px #ddd);
}

#layout-editor #layout-navigator-edit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: @designer-overlay-z-index; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    .set-transparent-color(background-color; #000; 90%);
}

#layout-editor #layout-navigator-edit-content {
    width: 90%;
    background: black;
    height: 85%;
    top: 3%;
    left: 5%;
    position: relative;
}

#layout-editor #layout-navigator-edit #layout-navigator-edit-navbar {
    top: 20px;
    position: relative;
}

#layout-editor #layout-navigator-edit #layout-navigator-edit-navbar .navbar {
    padding: 5px;
    background: gray;
    width: 90%;
    left: 5%;
}

/* Layout object selection */
#layout-editor .selectable {
    .user-select-none();
}

#layout-editor .designer-region.selectable:hover {
    background: @region-hover-color !important;
}

#layout-editor #layout-timeline .designer-widget.selectable:hover {
    background: @widget-hover-color !important;
}

#layout-editor .selected-region {
    background: @region-selected-color !important;
}

#layout-editor #layout-navigator .designer-region.selected-widget,
#layout-editor .designer-widget.selected-widget {
    background: @widget-selected-color !important;
}

#layout-editor  #layout-timeline .designer-widget.ui-droppable-active {
    .z-index-set(@designer-z-index-select);
    .background-stripes(45deg; @widget-hover-color; lighten(@widget-hover-color, 10%); 10px; 4px);
}

#layout-editor #layout-timeline .designer-widget.ui-droppable-active.ui-droppable-hover,
#layout-editor #layout-timeline .designer-widget.ui-droppable-active:hover {
    .background-stripes(45deg; darken(@widget-hover-color, 10%); @widget-hover-color; 10px; 4px);
}

#layout-editor  #layout-timeline .designer-widget.ui-droppable-active * {
    visibility: hidden;
}

#layout-editor .designer-region.ui-droppable-active {
    .z-index-set(@designer-z-index-select);
    .background-stripes(45deg; @region-hover-color; lighten(@region-hover-color, 10%); 10px; 4px);
}

#layout-editor .designer-region.ui-droppable-active.ui-droppable-hover,
#layout-editor .designer-region.ui-droppable-active:hover {
    .background-stripes(45deg; darken(@region-hover-color, 10%); @region-hover-color; 10px; 4px);
}

#layout-editor .designer-region.ui-droppable-active * {
    visibility: hidden;
}

#layout-editor  #layout-navigator .layout.ui-droppable-active {
    .z-index-set(@designer-z-index-select);
    .background-stripes(45deg; @layout-hover-color; lighten(@layout-hover-color, 10%); 10px; 4px);
}

#layout-editor  #layout-navigator .layout.ui-droppable-active.ui-droppable-hover,
#layout-editor  #layout-navigator .layout.ui-droppable-active:hover {
    .background-stripes(45deg; darken(@layout-hover-color, 10%); @layout-hover-color; 10px; 4px);
}

#layout-editor  #layout-navigator .layout.ui-droppable-active * {
    visibility: hidden;
}

#layout-editor .ui-droppable-active {
    .box-shadow(inset 0 0 5px #fff);
}

#layout-editor .ui-droppable-hover {
    .box-shadow(inset 0 0 10px #313131);
}

/* Layout Manager */
#layout-manager {
    left: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 180px;
    opacity: 0.95;
}

#layout-manager #layout-manager-header {
    background: #2d2d2d;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: #212121 3px solid;
}

#layout-manager #layout-manager-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
    color: #444;
    padding: 2px;
    background: #303030;
    border: #3e3e3e 4px solid;
}

#layout-manager .title {
    color: white;
    font-weight: bold;
    background-color: #4d4d4d;
    cursor: move;
    text-align: center;
}

#layout-manager .label {
    display: inline-block;
    width: 48%;
}

#layout-manager .change {
    color: black;
    background-color: #c3c3c3;
    padding: 2px;
    .border-radius(2px);
}

#layout-manager .change.uploaded {
    background-color: #8dffa6;
}

/* Loading Container */
#layout-editor .loading-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#layout-editor .loading-container .loading-icon {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 75px;
    color: #ffffff;
    z-index: 0;
}

@media (max-width: 768px) {
    #layout-editor #bottom-toolbar {
        padding: 5px 0 0 5px;
    }
}

// Overlay and loading
.custom-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    .transparent-object(50);
    z-index: 2;
}

.custom-overlay.loading {
    display: block;
    z-index: @loading-overlay-z-index;
}

.custom-overlay.loading .loading-icon {
    display: block;
    font-size: 60px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #ffffff;
}