#layout-editor  {
    background: #a7a7a7;
    min-height: 800px;
}

#layout-editor .top-right-btn {
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 25px;
    color: #e0e0e0;
    z-index: 1;
}

#layout-editor .center-msg {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff8a;
    top: 50%;
    transform: translateY(-50%);
}

/* Layout timeline */
#layout-editor #layout-timeline {
    background: #444;
    padding: 5px;
    overflow-x: hidden;
}

#layout-editor #layout-timeline #regions-container {
    overflow: auto;
}

#layout-editor #layout-timeline .designer-region {
    background: #5f75a5;
    height: 40px;
    padding: 3px;
    margin: 4px 0;
}

#layout-editor #layout-timeline .designer-region .message {
    color: white;
    font-weight: bold;
    padding: 7px;
}

#layout-editor #layout-timeline #labels-container {
    font-size: 10px;
    float: left;
    width: 4%;
    padding-top: 38px;
}

#layout-editor #layout-timeline #timeline-container {
    float: left;
    width: 96%
}

#layout-editor #layout-timeline .label-region {
    height: 40px;
    padding: 10px 2px 0 0;
    text-align: right;
    font-weight: bold;
    margin-bottom: 4px;
    color: white;
}

#layout-editor #layout-timeline .designer-widget {
    background: #f1f1f1;
    color: #222;
    font-weight: bold;
    float: left;
    padding: 6px;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #868686;
}

#layout-editor #layout-timeline .designer-widget-ghost {
    background: #f3f3f370;
    color: #fff;
    font-weight: bold;
    float: left;
    height: 100%;
}

#layout-editor #layout-timeline .ghost-padding {
    background: #11111121;
    float: left;
    height: 100%;
}

#layout-editor #layout-timeline .extension {
    color: #999;
    font-weight: bold;
    float: left;
    background: #f3f3f370;
    height: 80%;
    margin-top: 0.2em;
}

/* Layout Viewer */
#layout-editor #layout-viewer-container {
    padding: 5px;
    background: black;
}

#layout-editor #layout-viewer {
    min-height: 450px;
}

#layout-editor .layout-viewer-border {
    background: #000000e6;
    position: absolute;
}

#layout-editor #layout-viewer.fullscreen {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(35, 35, 35, 0.9); /* Black w/ opacity */
}

#layout-editor #layout-viewer.viewer-outline  {
    position: absolute;
    color: #10c01f;
    z-index: 0;
}

#layout-editor #layout-viewer .viewer-element {
    position:relative;
}

#layout-editor #layout-viewer .layout-player {
    background: #000000;
}

#layout-editor #layout-viewer #play-btn {
    font-size: 70px;
    color: #dddddd;
    text-shadow: 0px 0px 5px #5c5c5c;
}

#layout-editor #layout-viewer #play-btn:hover {
    font-size: 70px;
    color: #f0f0f0;
    text-shadow: 0px 0px 25px #ffffff;
}

#layout-editor #layout-viewer-navbar nav {
    background:#444;
    padding: 4px;
    overflow: auto;
    margin-top: 5px;
}

#layout-editor #layout-viewer-navbar .designer-region {
    background:#365aa5;
}

#layout-editor #layout-viewer-navbar .designer-widget {
    background:#9cce63;
}

#layout-editor #layout-viewer-navbar nav .info {
    float: right;
    font-size: 20px;
}

/* Properties Panel */
#layout-editor #properties-panel {
    min-height: 450px;
    padding: 0;
}

#layout-editor #properties-panel-container {
    min-height: 450px;
    background: white;
}

#layout-editor #properties-panel-container .form-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#layout-editor #properties-panel-container .form-title-layout {
    background: #444;
}

#layout-editor #properties-panel-container .form-title-region {
    background: #365aa5;
}

#layout-editor #properties-panel-container .form-title-widget {
    color: #222;
    background: #9cce63;
}

#layout-editor #properties-panel-container .button-container {
    padding: 10px;
}

/* Layout Navigator */
#layout-editor #layout-navigator {
    background: black;
    min-height: 200px;
    padding: 5px;
    border: #30426a 5px solid;
}

#layout-editor #layout-navigator-edit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(35, 35, 35, 0.9); /* Black w/ opacity */
}

#layout-editor #layout-navigator-edit-content {
    width: 90%;
    background: black;
    height: 90%;
    top: 3%;
    left: 5%;
    position: relative;
}

#layout-editor #layout-navigator-edit #layout-navigator-edit-navbar .navbar {
    padding: 5px;
    background: gray;
    width: 90%;
    left: 5%;
}

/* Layout object selection */
#layout-editor .selectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#layout-editor .designer-region.selectable:hover {
    background: #9ebcf8 !important;
}

#layout-editor #layout-timeline .designer-region.selectable:hover {
    background: #9ebcf8 !important;
}

#layout-editor #layout-timeline .designer-widget.selectable:hover {
    background: #c6ee99 !important;
}

#layout-editor .designer-region.selected-region {
    background: #1358e5 !important;
}

#layout-editor #layout-navigator .designer-region.selected-widget,
#layout-editor .designer-widget.selected-widget {
    background: #8bc34a !important;
}

/* Toolbar */
#layout-editor #layout-editor-toolbar nav {
    z-index: 0;
    background: #273759;;
    padding-left: 180px;
    border: none;
}

#layout-editor #layout-editor-toolbar nav .container-toolbar {
    padding: 0 15px;
}

#layout-editor #layout-editor-toolbar .container-toolbar .navbar-right {
    padding: 0 15px;
}

#layout-editor #layout-editor-toolbar .toolbar-content {
    background: #f3f3f3;
}

#layout-editor #layout-editor-toolbar .toolbar-pane-content {
    display: inline-block;
    font-size: 0; /* To remove the whitespace between elements */
    padding: 5px 0;
}

#layout-editor #layout-editor-toolbar .toolbar-pane {
    display: none;
}

#layout-editor #layout-editor-toolbar .toolbar-pane.active {
    display: block;
}

#layout-editor #layout-editor-toolbar .toolbar-pane form {
    background: #5f75a5;
    padding: 5px 5px;
}

/* Toolbar - pagination */
#layout-editor #layout-editor-toolbar .toolbar-content button.pagination-btn {
    width: 5%;
    height: 84px;
    border-radius: 0;
}

#layout-editor #layout-editor-toolbar .toolbar-content button#pag-btn-left {
    float: left;
}

#layout-editor #layout-editor-toolbar .toolbar-content button#pag-btn-right {
    float: right;
}

/* Toolbar - card */
#layout-editor #layout-editor-toolbar .toolbar-content .toolbar-card {
    display: inline-block;
    border: grey 2px solid;
    border-radius: 4px;
    background: #5f75a5;
    color: white;
    text-align: center;
    height: 70px;
    font-size: 12px;
    cursor: move;
}

#layout-editor #layout-editor-toolbar .toolbar-content .toolbar-card .title {
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    margin: 0;
}

#layout-editor #layout-editor-toolbar .toolbar-content .toolbar-card .img-container {
    width: 90%;
    height: 40px;
    margin: 0 5%;
}

#layout-editor #layout-editor-toolbar .toolbar-content .toolbar-card img {
    max-height: 100%;
    max-width: 100%;
}

#layout-editor #layout-editor-toolbar .toolbar-content .toolbar-card:hover {
    background: #273759;
}

#layout-editor #layout-editor-toolbar .toolbar-content .toolbar-card.ui-draggable-dragging {
    background: #c5c5c5;
    color: rgb(51, 51, 51);
    border-color: #5f75a5;
}

/* Toolbar - buttons */
#layout-editor #layout-editor-toolbar .navbar-buttons a {
    color: white;
    cursor: pointer;
}

#layout-editor #layout-editor-toolbar .navbar-buttons a.active {
    background: white;
    color: #444;
}

#layout-editor #layout-editor-toolbar .navbar-buttons a:hover {
    background: #6687ce !important;
}

#layout-editor #layout-editor-toolbar .navbar-buttons a .close-tab-button {
    top: 0;
    right: 0;
    position: absolute;
    padding: 2px 5px;
}

#layout-editor #layout-editor-toolbar nav a .close-tab-button:hover {
    background: #c92121 !important;
    color: white;
}

@media (max-width: 768px) {
    #layout-editor #layout-editor-toolbar nav {
        padding-left: 0;
    }
}


/* Properties Panel */
#layout-manager {
    left: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 15%;
    opacity: 0.95;
}

#layout-manager #layout-manager-header {
    background: #2d2d2d;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: #212121 3px solid;
}

#layout-manager #layout-manager-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
    color: #444;
    padding: 2px;
}

#layout-manager .change {
    color: black;
    background-color: #c3c3c3;
    border-radius: 2px;
    padding: 2px;
}

#layout-manager .change.uploaded {
    background-color: #8dffa6;
}

/* Loading Container */
#layout-editor .loading-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#layout-editor .loading-container .loading-icon {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 75px;
    color: #ffffff;
    z-index: 0;
}

@media (max-width: 768px) {
    #layout-editor #bottom-toolbar {
        padding: 5px 0 0 5px;
    }
}

/* Properties Panel */
#layout-manager {
    left: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 15%;
    opacity: 0.95;
}

#layout-manager #layout-manager-header {
    background: #2d2d2d;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: #212121 3px solid;
}

#layout-manager #layout-manager-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
    color: #444;
    padding: 2px;
}

#layout-manager .change {
    color: black;
    background-color: #c3c3c3;
    border-radius: 2px;
    padding: 2px;
}

#layout-manager .change.uploaded {
    background-color: #8dffa6;
}
