// Import
@import "mixins.less";
@import "toolbar.less";

// Variables
@main-background-color: #a7a7a7;
@widget-main-bg-color:#b3ddff;
@widget-main-fg-color:#333;
@widget-hover-bg-color:#e7f4fe;
@widget-border-color: #868686;
@min-editor-height: 650px;
@widget-selected-color: #58b4fe;
@playlist-viewer-bg: #a0e1a5;
@playlist-editor-z-index-toolbar: 1080;
@playlist-editor-z-index-overlay: 1100;
@playlist-editor-z-index-select: 1110;

// CSS
.modal-dialog {
    padding-bottom: 160px;
}

#playlist-editor  {
    background: @main-background-color;
    min-height: @min-editor-height;
    padding: 10px;
}

#playlist-editor #playlist-timeline {
    background: #d2d9ff;
    min-height: @min-editor-height;
}

#playlist-editor #playlist-timeline #timeline-container{
    padding: 0 5px;
    height: 615px;
    overflow: auto;
}

#playlist-editor #playlist-viewer-container {
    background: @playlist-viewer-bg;
    min-height: 300px;
    margin-bottom: 10px;
}

#playlist-editor #playlist-properties-panel  {
    background: white;
    min-height: @min-editor-height;
    padding: 0;
}

#playlist-editor-container.ui-droppable-active {
    .z-index-set(@playlist-editor-z-index-select);
    .background-stripes(45deg; @main-background-color; lighten(@main-background-color, 10%); 10px; 4px);
}

#playlist-editor-container.ui-droppable-active.ui-droppable-hover,
#playlist-editor-container.ui-droppable-active:hover {
    .background-stripes(45deg; darken(@main-background-color, 10%); @main-background-color; 10px; 4px);
}

#playlist-editor-container.ui-droppable-active * {
    visibility: hidden;
}

#playlist-editor #dropzone-container {
    padding: 10px;
}

#playlist-editor #dropzone-container .loading-container {
    padding: 200px;
    font-size: 100px;
}

#playlist-editor #dropzone-container .dropzone  {
    font-size: 30px;
    border: 2px dashed #0087F7;
    border-radius: 5px;
    min-height: 590px;
    background: white;
    padding: 270px 0;
}

#playlist-editor-toolbar .navbar{
    z-index: @playlist-editor-z-index-toolbar;
}

.custom-overlay{
    z-index: @playlist-editor-z-index-overlay;
}

.form-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
    color: white;
    background-color: #3a3eb6;
    height: 30px;
}

.form-title-widget {
    color: #222;
    background: @widget-selected-color;
}

.form-title-playlist {
    background: #8f2ac3;
}

.editor-toolbar nav {
    padding-left: 0;
}

/* Playlist Widget */
.playlist-widget {
    background: @widget-main-bg-color;
    color: @widget-main-fg-color;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid @widget-border-color;
    margin-bottom: 4px;
}

.playlist-widget.selectable {
    .user-select-none();
}

.playlist-widget.selected {
    background: @widget-selected-color !important;
}

.playlist-widget.selectable:hover {
    background: @widget-hover-bg-color !important;
}

.playlist-widget.ui-droppable-active {
    .z-index-set(@playlist-editor-z-index-select);
    .background-stripes(45deg; @widget-hover-bg-color; lighten(@widget-hover-bg-color, 10%); 10px; 4px);
}

.playlist-widget.ui-droppable-active.ui-droppable-hover,
.playlist-widget.ui-droppable-active:hover {
    .background-stripes(45deg; darken(@widget-hover-bg-color, 10%); @widget-hover-bg-color; 10px; 4px);
}

.playlist-widget.ui-droppable-active * {
    visibility: hidden;
}

.playlist-widget i.editProperty {
    float: right;
    cursor: pointer;
    padding: 2px;
    color: @widget-main-fg-color;
}

.playlist-widget .widgetLabel {
    width: 20px;
    display: inline-block;
    height: 100%;
    text-align: center;
    opacity: 0.85;
    margin-left: 5px;
}

.playlist-widget .widgetTitle {
    display: inline-block;
}

.playlist-widget i.editProperty:hover {
    color: lighten(@widget-main-fg-color, 20%);
}

.ui-droppable-active {
    .box-shadow(inset 0 0 20px #fff);
}

.ui-droppable-hover {
    .box-shadow(inset 0 0 10px #313131);
}

// Bootbox custom dialogs
.bootbox .modal-dialog {
    width: 80% !important;
}

.second-dialog {
    z-index:  3100;
}

.second-dialog + .in.modal-backdrop {
    z-index:  3000;
}