<div style="margin-top:5px; max-height: 400px; overflow-y: auto;"></div>
    {{#if data}}
    {{trans.playerStatusWindow}}:
        {{#eq type "android"}}
            <div class="card p-3 mb-3 bg-light">
                    <span>{{{data}}}</span>
            </div>
        {{/eq}}
        {{#neq type "android"}}
            <div class="card p-3 mb-3 bg-light">
                <ul>
                    {{#each data as |value key|}}
                    <li>{{key}}: {{value}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/neq}}
    {{/if}}
</div>