{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "Preview for Layout" %} {{ layout.layoutId }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        {% block headContent %}{% endblock %}
    </head>
    <body>
      {% block content %}{% endblock %}
      {% block javaScript %}{% endblock %}
      {% include 'layout-preview-partial.twig' with {'layout': layout, 'previewOptions': previewOptions } %}
    </body>
</html>
