{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2016-2018 Spring Signage Ltd
 * (subplaylist-designer-javascript.twig)
 */
#}
{% raw %}
<script type="text/x-handlebars-template" id="subPlaylistFormTemplate">
    <div class="form-group">
        <label class="col-sm-1 control-label" for="subPlaylistId[]">{{ title }}</label>
        <div class="col-sm-7">
            <select class="form-control" name="subPlaylistId[]">
                <option value=""></option>
                {{#each playlists}}
                    <option value="{{ playlistId }}" {{#eq playlistId ../subPlaylistId}}selected{{/eq}}>{{ name }}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default btn-sm"><i class="fa {{ buttonGlyph }}"></i></button>
        </div>
    </div>
</script>

{% endraw %}

<script type="text/javascript">

    // Runs after form opens
    function subplaylist_form_add_open() {
        
        // Set duration field, using the helper ()
        formHelpers.setupCheckboxInputFields($(this).find('form'), '#useDuration', '.duration-fields');

        playlistFormSetup(this);
    }

    // Runs after form opens
    function subplaylist_form_edit_open() {

        // Use same method as form add open
        subplaylist_form_add_open.bind(this)();
    }

    function playlistFormSetup(dialog) {

        console.log(dialog.data().extra);

        // Order Clause
        var subPlaylistFields = $(".sub-playlists");

        if (subPlaylistFields.length === 0)
            return;

        var subPlaylistIdTemplate = Handlebars.compile($("#subPlaylistFormTemplate").html());

        if (dialog.data().extra.subPlaylistId.length === 0) {
            // Add a template row
            subPlaylistFields.append(subPlaylistIdTemplate({
                playlists: dialog.data().extra.playlists,
                title: "1",
                subPlaylistId: "",
                buttonGlyph: "fa-plus"
            }));
        } else {
            // For each of the existing codes, create form components
            var i = 0;
            $.each(dialog.data().extra.subPlaylistId, function (index, field) {
                i++;
                subPlaylistFields.append(subPlaylistIdTemplate({
                    playlists: dialog.data().extra.playlists,
                    title: i,
                    subPlaylistId: field,
                    buttonGlyph: ((i === 1) ? "fa-plus" : "fa-minus")
                }));
            });
        }

        // Nabble the resulting buttons
        subPlaylistFields.on("click", "button", function (e) {
            e.preventDefault();

            // find the gylph
            if ($(this).find("i").hasClass("fa-plus")) {
                subPlaylistFields.append(subPlaylistIdTemplate({
                    playlists: dialog.data().extra.playlists,
                    title: subPlaylistFields.find('.form-group').length + 1,
                    subPlaylistId: "",
                    buttonGlyph: "fa-minus"
                }));
            } else {
                // Remove this row
                $(this).closest(".form-group").remove();
            }
        });
    }
</script>