{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
$formFields = array();
        $formFields[] = Form::AddCheckbox('loop', __('Loop?'),
            $this->GetOption('loop', 0), __('Should the video loop if it finishes before the provided duration?'),
            'l', 'loop-fields');

        $formFields[] = Form::AddCheckbox('mute', __('Mute?'),
            $this->GetOption('mute', 1), __('Should the video be muted?'),
            'm', 'mute-fields');

        $response->AddFieldAction('duration', 'init', '0', array('.loop-fields' => array('display' => 'none')));
        $response->AddFieldAction('duration', 'change', '0', array('.loop-fields' => array('display' => 'none')));
        $response->AddFieldAction('duration', 'init', '0', array('.loop-fields' => array('display' => 'block')), 'not');
        $response->AddFieldAction('duration', 'change', '0', array('.loop-fields' => array('display' => 'block')), 'not');
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Title" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#<<id>>").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="<<id>>" class="XiboForm form-horizontal" method="put" action="action="{{ urlFor("module.widget.edit", {id: module.widget.widgetId}) }}"">

            </form>
        </div>
    </div>
{% endblock %}