# Development related files and folders are excluded from the build context
.idea
.git/
.git*

# Containers
containers/

# Exclude old test results
results.xml

# Vendor will be built by Dockerfile - don't include any of our local vendor files
#vendor/
node_modules/

# Dist will be built by Dockerfile
web/dist/

# Cache should be empty so that it gets built internally
cache/

# User spaces should be empty
library/*
custom/*
!custom/README.md
web/theme/custom/*
!web/theme/custom/README.md

Dockerfile*
docker-compose.yml
docker-compose-mysql-5.7.yml
CONTRIBUTING.md

# Our own container's settings.php shouldn't be included
web/settings.php

# Our own build files
build.sh
build-composer.sh