<phpunit bootstrap="tests/Bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
      <testsuites>
        <testsuite name="Xibo Integration Test Suite">
            <directory suffix="Test.php">tests/integration/</directory>
            <directory suffix="Test.php">tests/integration/Widget/</directory>
            <directory suffix="Test.php">tests/integration/Cache/</directory>
        </testsuite>
        <testsuite name="Xibo Unit-Test Suite">
            <directory suffix="Test.php">tests/Widget/</directory>
        </testsuite>
      </testsuites>
    <groups>
      <exclude>
        <group>broken</group>
      </exclude>
    </groups>
    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="results.xml" logIncompleteSkipped="true"/>
    </logging>
    <php>
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>