<table id="displaygroups" class="table agenda-table" data-type="displaygroups" width="100%">
    <thead>
        <tr class="table-title">
            <th colspan="3">{{trans.displayGroups}}</th>
        </tr>
        <tr>
            <th></th>
            <th>{{trans.id}}</th>
            <th>{{trans.name}}</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(displaygroups, function(displaygroup){ %>
            <tr data-elem-id="<%= displaygroup.displayGroupId %>">
                <%
                    var icon = "";
                    if (displaygroup.isDisplaySpecific == 1)
                        icon = "fa-television";
                %>
                <td><span class="fa <%= icon %>"></span></td>
                <td>
                    <%= displaygroup.displayGroupId %>
                </td>
                <td>
                    <%= displaygroup.displayGroup %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>