{{> components/help-header
    title=trans.helpCentre
    close=true
}}
<div class="list-group-padded-cards">
    {{> components/help-card
        title=(concat trans.welcomeCardTitle appName)
        desc=trans.welcomeCardDesc
        url=welcomeViewURL
        target="_self"
        iconClass="fa-shapes"
    }}
</div>

{{#or helpLandingPageURL helpLinks.length}}
    {{> components/help-header
        title=trans.guides
    }}

    <div class="list-group-cards">
        {{#each helpLinks}}
            {{#or isAllowWhiteLabel ../isXiboThemed}}
                <div class="list-group-card-container">
                    {{> components/help-list-card
                        title=this.title
                        desc=this.summary
                        url=this.url
                        target="_blank"
                    }}
                </div>
            {{/or}}
        {{/each}}

        {{#if helpLandingPageURL}}
            <div class="list-group-card-container">
                {{> components/help-list-card
                    title=trans.visitManual
                    url=helpLandingPageURL
                    target="_blank"
                }}
            </div>
        {{/if}}
    </div>
{{/or}}

{{> components/help-header
    title=trans.resources
}}
<div class="list-group-padded-cards">
    {{> components/help-card
        title=trans.feedbackCardTitle
        desc=trans.feedbackCardDesc
        iconClass="fa-comments"
        action="feedback_form"
    }}

    {{#if isXiboThemed }}
        {{> components/help-card
            title=trans.communityCardTitle
            desc=trans.communityCardDesc
            url=supportURL
            target="_blank"
            iconClass="fa-users"
        }}
        {{> components/help-card
            title=trans.youtubeCardTitle
            desc=trans.youtubeCardDesc
            url="https://www.youtube.com/@XiboOrgUk"
            target="_blank"
            iconClass="fa-circle-play"
        }}
    {{/if}}
</div>