body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

p {
	margin-bottom: 0.21cm;
}

li {
	margin-bottom: 0.21cm;
}

h1 {
	font-size: 18pt;
	color: #000080;
}

h2 { 
	font-size: 16pt;
	color: #0000B0 
}

h3 { 
	font-size: 12pt;
	color: #0000FF 
}

pre {
	font-size: 12px;
	margin:	10px;
	background:#eeeeee;
	padding: 10px;
	border:	1px solid #dddddd;
	color: black;
}


table {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
}

th {
  font-size:1.1em;
  text-align:center;
  border:1px solid #EAF2D3;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
}

tr {
  text-align:left;
  color:#000000;
  background-color:#EAF2D3;
  border:1px solid #98bf21;
  padding-top:5px;
  padding-bottom:4px;
}

td {
  color:#000000;
  background-color:#EAF2D3;
  border:1px solid #98bf21
}

.n {
  background-color:#FFCCFF;
}
.figure {
	padding: 15px; 
	background: #ffffff;
	border: 1px solid #000000
}

img.figure {
	width: 500px; 
	border: none;
	float:left;
}

.figure span.figure_text {
	font-size:75%;
	font-style:italic;
	margin-bottom: 5px;
	float:left;
	clear:left;
}

#tutorial_icon{
	float:right;
	height:150px;
	width:100px;
	text-align:center;
	border: none;
}

#tutorial_icon a img
{
	border:0;
	text-decoration:none;
}

#tutorial_icon a
{
	text-decoration:none;
}
