{#
/**
 * Copyright (C) 2023 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "connector-form-edit.twig" %}
{% import "forms.twig" as forms %}

{% block connectorFormFields %}
    <h3>Alpha Vantage</h3>
    <p>Alpha Vantage provides enterprise-grade financial market data through a set of powerful and developer-friendly data APIs and spreadsheets.</p>

    {% if interface.isProviderSetting("apiKey") %}
        <p>{{ "Your platform provider has configured this connector for you."|trans }}</p>
    {% else %}
        <p>An API key is needed to enable this connector. Register <a href="https://www.alphavantage.co/support/#api-key">here</a> for free to get yours.</p>

        {% set title %}{% trans "API Key" %}{% endset %}
        {% set helpText %}{% trans "Enter your API Key from Alpha Advantage" %}{% endset %}
        {{ forms.input("apiKey", title, interface.getSetting("apiKey"), helpText) }}

        {% set title %}{% trans "Paid plan?" %}{% endset %}
        {% set helpText %}{% trans "Is the above key on a paid plan? You may want to use a paid plan for real time FX rates." %}{% endset %}
        {{ forms.checkbox("isPaidPlan", title, interface.getSetting("isPaidPlan"), helpText) }}

        {% set title %}{% trans "Cache Period" %}{% endset %}
        {% set helpText %}{% trans "This module uses 3rd party data. Please enter the number of seconds you would like to cache results." %}{% endset %}
        {{ forms.input("cachePeriod", title, interface.getSetting("cachePeriod", 3600), helpText) }}
    {% endif %}
{% endblock %}
