{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit DataSet" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#dataSetEditForm").submit()    
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="dataSetEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("dataSet.edit", {id: dataSet.dataSetId}) }}">
                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "A name for this DataSet" %}{% endset %}
                {{ forms.input("dataSet", title, dataSet.dataSet, helpText, "", "required") }}

                {% set title %}{% trans "Description" %}{% endset %}
                {% set helpText %}{% trans "An optional description" %}{% endset %}
                {{ forms.input("description", title, dataSet.description, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}