{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
Theme::Set('form_fields', array(Form::AddMessage(__('Are you sure you want to send a Wake On Lan message to this display?'))));
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Wake On Lan" %}
{% endblock %}

{% block formButtons %}
    {% trans "Save" %}, $("#displayWakeOnLanForm").submit()
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="displayWakeOnLanForm" class="XiboForm form-horizontal" method="post" action="">
                {{forms.message("Are you sure you want to send a Wake On Lan message to this display?") }}
            </form>
        </div>
    </div>
{% endblock %}