{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Send Command" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")  
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#displayGroupCommandForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="displayGroupCommandForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("displayGroup.action.command", {"id": displayGroup.displayGroupId}) }}">
                {% set title %}{% trans "Command" %}{% endset %}
                {% set helpText %}{% trans "Pick a command to send to the Player. If the CMS has XMR enabled this will be sent immediately, otherwise it will show an error." %}{% endset %}
                {{ forms.dropdown("commandId", "single", title, "", commands, "commandId", "command", helpText) }}
            </form>
        </div>
    </div>
{% endblock %}