{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Help Link" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#helpAddForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="helpAddForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("help.add") }}">
                    {% set title %}{% trans "Topic" %}{% endset %}
                    {% set helpText %}{% trans "The Topic for this Help Link" %}{% endset %}
                    {{ forms.input("topic", title, "", helpText) }}
                        
                    {% set title %}{% trans "Category" %}{% endset %}
                    {% set helpText %}{% trans "he Category for this Help Link" %}{% endset %}
                    {{ forms.input("category", title, "", helpText) }}
                       
                    {% set title %}{% trans "Link" %}{% endset %}
                    {% set helpText %}{% trans "The Link to open for this help topic and category" %}{% endset %}
                    {{ forms.input("link", title, "", helpText) }}
            </form>
        </div>
    </div>
{% endblock %}