{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% set name = layout.layout %}
    {% trans %}Assign {{ name }} to a Campaign{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Assign" %}, assignLayoutToCampaignFormSubmit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="layoutAssignCampaignForm" class="XiboForm form-horizontal" method="post" action="{{ url_for("campaign.assign.layout", {id: ":id"}) }}" data-layout-id="{{ layout.layoutId }}">
                {% set title %}{% trans "Campaign" %}{% endset %}
                {% set attributes = [
                    { name: "data-search-url", value:  url_for("campaign.search") ~ "?type=list" },
                    { name: "data-search-term", value: "name" },
                    { name: "data-id-property", value: "campaignId" },
                    { name: "data-text-property", value: "campaign" },
                ] %}
                {% set helpText %}{% trans "Please select the Campaign you would like to assign this Layout to. It will be assigned to the end of the Campaign." %}{% endset %}
                {{ forms.dropdown("campaignId", "single", title, null, campaigns, "campaignId", "campaign", helpText, "pagedSelect", "", "b", "", attributes) }}
            </form>
        </div>
    </div>
{% endblock %}
