{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Truncate" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#truncateForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="truncateForm" class="XiboForm form-horizontal" method="delete" action="{{ urlFor("log.truncate") }}">
                {% set helpText %}{% trans %}Are you sure you want to truncate?{% endtrans %}{% endset %}
                {{ forms.message(helpText) }}
            </form>
        </div>
    </div>
{% endblock %}