{#
/**
 * Copyright (C) 2022 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "connector-form-edit.twig" %}
{% import "forms.twig" as forms %}

{% block connectorFormFields %}
    <h3>Pixabay <small> - Stunning free images & royalty free stock</small></h3>
    <p>Images and Videos are available under the <a href="https://pixabay.com/service/license/" target="_blank">Pixabay license</a>.</p>

    {% if interface.isProviderSetting("apiKey") %}
        <p>{{ "Your platform provider has configured this connector for you."|trans }}</p>
    {% else %}
        <p>An API key is needed to enable this connector. Sign up for a Pixabay account and then use the API key shown
        on the <a href="https://pixabay.com/api/docs/" target="_blank">documentation</a> page.</p>

        {% set title %}{% trans "API Key" %}{% endset %}
        {% set helpText %}{% trans "Enter your API Key from Pixabay." %}{% endset %}
        {{ forms.input("apiKey", title, interface.getSetting("apiKey"), helpText) }}
    {% endif %}
{% endblock %}