{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Delete Widget" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#playlistModuleDeleteForm").submit()
{% endblock %}

{% block callBack %}playlistModuleDeleteFormOpen{% endblock %}


{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="playlistModuleDeleteForm" class="form-horizontal" method="delete" action="{{ urlFor("module.widget.delete", {id: module.widget.widgetId}) }}">
                {% set message %}{% trans "Are you sure you want to remove this widget?" %} {% trans "This action cannot be undone." %}{% endset %}
                {{ forms.message(message) }}

                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label for="deleteMedia" title="{% trans "Also delete from the Library?" %}" accesskey="">
                            <input type="checkbox" id="deleteMedia" name="deleteMedia">
                            {% trans "Also delete from the Library?" %}
                        </label>
                    </div>
                    <span class="help-block">{% trans "This widget is linked to Media in the Library. Check this option to also delete that Media."%} </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}