{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "form-base.twig" %}

{% block callBack %}playlistEditorFormOpen{% endblock %}

{% block formHtml %}
    {# Playlist editor main div #}
    <div class="modal editor-modal">  
        <div class="modal-dialog editor-modal-dialog">
            <div class="modal-content editor-modal-content">
                <div class="modal-header editor-modal-header">
                    <div class="modal-header--left"></div>
                    
                    <div class="">
                        <button type="button" class="close editor-modal-close pl-2">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="modal-body editor-modal-body container-designer">
                    <div id="playlist-editor" playlist-id="{{ playlist.playlistId }}"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" nonce="{{ cspNonce }}">
        $(document).ready(function() {
            // Load the editor to populate the modal
            pE.loadEditor();
        });
    </script>
{% endblock %}