<div style="text-align:center;">
    <i alt="{{ "A playlist region"|trans }}"
       class="module-preview-icon module-icon-subplaylist"></i>
    <p>{{ "Playlist with %countWidgets% Widgets"|trans({"%countWidgets%": countWidgets}) }}</p>
</div>