{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015-2018 Spring Signage Ltd
 * (region-form-timeline.twig)
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Playlist" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Close" %}, pE.close()
    {% trans "Save Order" %}, pE.saveOrder() 
    {% trans "Save and Close" %}, pE.saveOrder(true) 
{% endblock %}

{% block callBack %}pE.loadEditor{% endblock %}

{% block formHtml %}
    {# Playlist editor main div #}
    <div id="playlist-editor" playlist-id="{{ playlist.playlistId }}"></div>

    <script type="text/javascript">
        var playlistData = {{ playlist|json_encode|raw }};
        var transitionsData = {{ transitions|json_encode|raw }};
    </script>
{% endblock %}