<div class="widget-navigation-menu">
    <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link" href="{{ url_for("report.view") }}">{% trans "All Reports" %}</a></li>
        <li role="presentation" class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Reports <span class="caret"></span> </a>
            <div class="dropdown-menu">
                {% for reports in availableReports %}
                    {% for report in reports %}
                        {% if report.hidden != 1 and report.category == reportCategory %}
                            <a class="dropdown-item" href="{{ url_for("report.form", {name: report.name}) }}">{{ report.description }}</a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </li>
    </ul>
</div>