{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
Theme::Set('form_fields', array(Form::AddMessage(__('Are you sure you want to delete?'))));
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Delete Resolution" %}
{% endblock %}

{% block formButtons %}
    {% trans "Save" %}, $("#<<id>>").submit()
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="<<id>>" class="XiboForm form-horizontal" method="delete" action="{{ urlFor("resolution.delete", {"id": resolution.resolutionId}) }}">

            </form>
        </div>
    </div>
{% endblock %}