{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Delete Resolution" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#resolutionDeleteForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="resolutionDeleteForm" class="XiboForm form-horizontal" method="delete" action="{{ urlFor("resolution.delete", {"id": resolution.resolutionId}) }}">
                {% set message %}{% trans "Are you sure you want to delete this Resolution? This cannot be undone" %}{% endset %}
                {{ forms.message(message) }}     
            </form>
        </div>
    </div>
{% endblock %}