{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}


{% block pageContent %}
    <div class="widget">
        <div class="widget-title">{% trans "Upgrade" %}</div>
        <div class="widget-body">
            {% trans "The CMS is temporarily off-line as an upgrade is in progress. Please check with your system administrator for updates or refresh your page in a few minutes." %}
        </div>
    </div>
{% endblock %}
