{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}


{% block pageContent %}
    <div class="widget">
        <div class="widget-title">{% trans "Upgrade" %}</div>
        <div class="widget-body">
            {% trans "Congratulations your CMS is up to date." %}
        </div>
    </div>
{% endblock %}
