{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add User Group" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help.add }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#userGroupAddForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="userGroupAddForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("group.add") }}">
                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "The Name for this User Group" %}{% endset %}
                {{ forms.text("group", title, "", helpText, "", "required maxlength='50'") }}

                {% set title %}{% trans "Library Quota" %}{% endset %}
                {% set helpText %}{% trans "The quota in Kb that should be applied. Enter 0 for no quota." %}{% endset %}
                {{ forms.number("libraryQuota", title, 0, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}