{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Authorized applications for user" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Close" %}, XiboDialogClose()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <table id="applications" class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Expires" %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.name }}</td>
                            <td>{{ application.expires }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}