<style type="text/css">
    .popover-double-width {
        max-width: 652px !important;
        background-color: #d9edf7 !important;
    }
    .popover-normal-width {
        max-width: 552px !important;
        min-width: 150px;
        background-color: #d9edf7 !important;
    }
    .padminus {
        padding-right: 5px !important;
    }
    .tour .popover-title{
        background-color: #b2bfdc;
    }
</style>

<script type="text/javascript">

    {% set appName = theme.getThemeConfig("app_name") %}
    {% set horizontalNav = currentUser.getOptionValue("navigationMenuPosition", theme.getSetting("NAVIGATION_MENU_POSITION", "vertical")) == "horizontal" %}

    $(document).ready(function () {
        var layoutDesignerTour, mainTour, authDisplayTour, schedulingTour, no_nav_template, start_template, next_template, final_template, end_tour_message;
        final_template = "<div class='popover popover-double-width tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-sm btn-primary pull-right' data-role='backToWelcome'>{% trans "Go back to Welcome Page!" %}</button><button class='btn btn-sm btn-default pull-left' data-role='end'>{% trans "Close" %}</button></div></div>";
        final_template_2 = "<div class='popover popover-double-width tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-sm btn-default' data-role='end'>{% trans "End Tour" %}</button></div></div>";
        next_template = "<div class='popover popover-normal-width tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-sm btn-default pull-left' data-role='end'>{% trans "End Tour" %}</button><button class='btn btn-sm btn-primary pull-right' data-role='next'>{% trans "Next" %}</button></div></div>";
        no_nav_template = "<div class='popover popover-normal-width tour'><div class='arrow'></div><button type='button' data-role='end' class='close padminus'>&times;</button><h3 class='popover-title'></h3><div class='popover-content'></div></div>";
        start_template = "<div class='popover popover-double-width tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content popover-content-large'></div><div class='popover-navigation'><button class='btn btn-sm btn-primary' data-role='next'>{% trans "Get started with the basics" %}</button><button class='btn btn-sm btn-default' data-role='end'>{% trans "Skip this tutorial" %}</button></div></div>";
        end_tour_message = '{% trans "End Tour!" %}';

        window.cmsTours = {
            mainTour: mainTour,
            authDisplayTour: authDisplayTour,
            schedulingTour: schedulingTour,
            layoutDesignerTour: layoutDesignerTour
        };

        // MAIN LAYOUT DESIGNER TOUR
        // First steps for the mainTour based on the menu orientation
        var firstSteps = {% if horizontalNav %}
            [{
                element: ".navbar-nav:eq(0) > li:eq(0)",
                placement: "bottom",
                title: "",
                content: "{% trans "The CMS main menu allows for navigation to all key areas." %}",
                template: next_template
            },
            { // 1
                element: '.navbar-nav:eq(0) > li:eq(2)',
                placement: "right",
                title: "",
                content: "{% trans "Start by clicking on <b>Layouts</b> under the Design section of the main menu." %}",
                reflex: true,
                template: no_nav_template,
                onShown: function (tour) {
                    // Open dropdown
                    $('.navbar-nav:eq(0) > li:eq(2)').addClass('open');
                }
            }];
        {% else %}
            [{
                element: ".sidebar-main:eq(0)",
                placement: "right",
                title: "",
                content: "{% trans "The CMS main menu allows for navigation to all key areas." %}",
                template: next_template
            },
            { // 1
                element: ".sidebar-list:eq(3)",
                placement: "right",
                title: "",
                content: "{% trans "Start by clicking on <b>Layouts</b> under the Design section of the main menu." %}",
                reflex: true,
                template: no_nav_template
            }];
        {% endif %}

        // Create tour
        cmsTours.mainTour = new Tour({
            name: 'mainTour',
            debug: false,
            keyboard: false,
            framework: "bootstrap3", 
            showProgressBar: false,     // don't show the progress bar on this step only
            showProgressText: false,    // don't show the progress text on this step only
            highlightOpacity: 0.6,
            onStart: tourStarted,
            onEnd: tourEnded,
            onElementUnavailable: cmsOnElementUnavailable,
            onModalHidden: function(tour, stepNumber) {
                // If the modal is closed in step 19, go to next step automaticaly
                console.debug('onModalHidden');
                console.debug(stepNumber == 5);
                return (stepNumber == 5);
            },
            steps: firstSteps.concat([
                {
                    element: '#layouts_wrapper #layouts',
                    placement: "top",
                    backdrop: true,
                    title: "",
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 5000
                    },
                    content: "{% trans "This is the layout grid and from here is where you can add new and manage existing layouts." %}",
                    template: next_template,
                    onElementUnavailableStep: 1
                },
                { // 3
                    element: ".btn-success a",
                    placement: "left",
                    title: "",
                    content: "{% trans "Create a new layout by clicking on <b>Add Layout</b>" %}",
                    reflex: true,
                    template: no_nav_template,
                    onElementUnavailableStep: 1
                },
                {
                    element: "#name",
                    placement: "bottom",
                    container: '.bootbox',
                    title: "",
                    content: "{% trans "Name your layout so you can easily identify it for scheduling." %}",
                    reflex: "click change",
                    template: no_nav_template,
                    onElementUnavailableStep: 3
                },
                { // 5
                    element: ".save-button",
                    container: '.bootbox',
                    placement: "top",
                    title: "",
                    content: "{% trans "Press <b>Save</b>." %}",
                    template: no_nav_template,
                    onElementUnavailableStep: 3
                },
                {
                    element: '#layout-editor',
                    title: "",
                    placement: "top",
                    delayOnElement: {
                        delayElement: "#layout-editor",
                        maxDelay: 10000
                    },
                    content: "{% trans "This is the layout designer screen where you will add and configure content." %}",
                    template: next_template
                },
                { // 7
                    title: "",
                    content: "{% trans "A status indicator is shown to show you the current 'play' status of the layout." %}",
                    element: "#layout-editor #layoutInfo",
                    placement: "bottom",
                    template: next_template,
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 5000
                    }
                },
                { 
                    title: "",
                    content: "{% trans "Hover over the status icon to see further information!" %}",
                    element: "#layout-editor #layout-info-status i",
                    placement: "bottom",
                    template: next_template
                },
                { // 9
                    title: "",
                    content: "{% trans "The total duration of the layout will be displayed here in seconds." %}",
                    element: "#layout-editor #layoutInfo .layout-info-duration",
                    placement: "bottom",
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "This is the Layout View, where you can view your designs as you create them." %}",
                    element: "#layout-editor #layout-viewer-container",
                    placement: "bottom",
                    backdrop: true,
                    template: next_template
                },
                { // 11 
                    title: "",
                    content: "{% trans "Here is the Play button which you use to Preview your Layout designs to ensure that it will play as you intend." %}",
                    element: "#layout-editor #layout-viewer-navbar #play-btn",
                    placement: "bottom",
                    backdrop: true,
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "This edit icon will open the Edit Layout mode so you can add, position and resize Regions." %}",
                    element: "#layout-editor #layout-viewer-navbar #navigator-edit-btn",
                    placement: "bottom",
                    backdrop: true,
                    template: next_template
                },
                { // 13
                    title: "",
                    content: "{% trans "Use the Edit forms to configure all aspects of your Layout including Regions and Widgets." %}",
                    element: "#properties-panel-parent",
                    placement: "bottom",
                    backdrop: true,
                    template: next_template
                },
                { // 14
                    title: "",
                    content: "{% trans "This is the Layout Timeline which displays the the duration of individual Widgets and will give you an overview of how your media will play on the Layout." %}",
                    element: "#timeline-container",
                    placement: "top",
                    backdrop: true,
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "The Toolbar includes buttons for you to add media items straight from your Library, apply actions using the Tools menu and assign Widgets to your Layouts." %}",
                    element: "#layout-editor-toolbar nav .toolbar-menu-left",
                    placement: "top",
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Let's create a simple layout...Start by clicking on the edit icon." %}",
                    element: "#layout-viewer-navbar #navigator-edit-btn",
                    placement: "top",
                    reflex: true,
                    template: no_nav_template
                },
                { // 17
                    title: "",
                    content: "{% trans "Click anywhere inside the Region to select it so that we can edit." %}",
                    element: '#layout-navigator div[data-type="region"]',
                    smartPlacement: true,
                    reflex: true,
                    delay: 400,
                    template: no_nav_template
                },
                {
                    title: "",
                    content: "{% trans "Grab the Region handle, and drag to resize." %}",
                    element: '#layout-navigator div[data-type="region"] .ui-resizable-se',
                    placement: "bottom",
                    reflex: "mouseover",
                    delay: 400,
                    template: no_nav_template
                },
                { // 19
                    title: "",
                    content: "{% trans "Once positioned, click outside of the Region so that it's deselected or click the blue Save button on the Edit Layout form." %}",
                    element: "#properties-panel button[data-action='save']",
                    placement: "bottom",
                    delay: 400,
                    reflex: true,
                    template: no_nav_template
                },
                { 
                    title: "",
                    content: "{% trans "Click on the back arrow to exit the edit mode and return to the Layout View." %}",
                    element: "#layout-navigator #close-btn",
                    placement: "right",
                    delay: 500,
                    reflex: true,
                    template: no_nav_template
                },
                { // 21
                    title: "",
                    container: '#layout-editor',
                    content: "{% trans "You will now have an empty Region, resized and positioned on a default black background." %}",
                    element: '#layout-timeline .designer-region',
                    placement: "bottom",
                    template: next_template,
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 4000
                    }
                },
                {
                    title: "",
                    content: "{% trans "Now let's change the background from black to a colour." %}",
                    element: '#properties-panel',
                    placement: "left",
                    template: next_template,
                    onShown: function (tour) {
                        // If properties panel is not the right one, go to previous step
                        if ($('#properties-panel #layoutEditForm').length === 0) {
                            tour.goTo(20);
                            return false;
                        }
                    }
                },
                { // 23
                    title: "",
                    content: "{% trans "Click in the Background Colour field on the Edit Layout form and select a colour using the colout picker." %}",
                    element: '#properties-panel input#backgroundColor',
                    placement: "left",
                    template: no_nav_template,
                    reflex: 'click change'
                },
                {
                    title: "",
                    content: "{% trans "Click the Save button." %}",
                    element: '#properties-panel button#save',
                    placement: "left",
                    template: no_nav_template,
                    reflex: true
                },
                { // 25
                    title: "",
                    content: "{% trans "Let's add some content! Click the Widgets button on the bottom toolbar to open." %}",
                    element: "#layout-editor-toolbar #btn-menu-2",
                    delay: 500,
                    placement: "top",
                    reflex: true,
                    template: no_nav_template,
                    onShown: function (tour) {
                        // If widgets are selected already, go to next step
                        if ($('#layout-editor-toolbar #btn-menu-2.active').length > 0) {
                            tour.goTo(26);
                            return false;
                        }
                    }
                },
                {
                    title: "",
                    content: "{% trans "Use the buttons to scroll through the Widgets and find the 'Text' Widget." %}",
                    element: "#layout-editor-toolbar #content-2 .toolbar-pane-content",
                    placement: "top",
                    template: next_template,
                    delay: 500
                },
                { // 27
                    title: "",
                    content: "{% trans "Add the Text Widget by using the 'Grab' option and dragging to the Region or click the '+' button to select then click in the target Region. Click Next after adding the Widget." %}",
                    element: '#layout-editor-toolbar .toolbar-card[data-sub-type="text"]',
                    placement: "top",
                    template: next_template,
                    onShown: function (tour) {
                        // Check if the text widget is into view
                        function isScrolledIntoView(elem, parent) {
                            var parentViewLeft = $(parent).offset().left;
                            var parentViewRight = parentViewLeft + $(parent).width();

                            var elemLeft = $(elem).offset().left;
                            var elemRight = elemLeft + $(elem).width();

                            return ((elemRight <= parentViewRight) && (elemLeft >= parentViewLeft));
                        }

                        // Go back if the element isn't still visible
                        if (!isScrolledIntoView('#layout-editor-toolbar .toolbar-card[data-sub-type="text"]', '.toolbar-pane-content-container')){
                            tour.goTo(26);
                            return false;
                        }
                    },
                    next: 28
                },
                {
                    title: "",
                    content: "{% trans "The Timeline will now update and show that the Text Widget has been added." %}",
                    element: '#layout-timeline',
                    placement: "bottom",
                    backdrop: true,
                    template: next_template,
                    onShown: function (tour) {
                        // If we don't have widget yet, got to the add step
                        if ($('#layout-timeline .designer-widget').length === 0) {
                            tour.goTo(27);
                            return false;
                        }
                    },
                    next: 29
                },
                { // 29
                    title: "",
                    content: "{% trans "We can now edit the Text Widget, Click on the Widget in the Timeline (it will go green once selected)." %}",
                    element: '#layout-timeline .designer-widget',
                    placement: "bottom",
                    template: next_template,
                    onShown: function (tour) {
                        // If the widget is selected, move to the next step
                        if ($('#layout-timeline .designer-widget').hasClass('selected-widget')) {
                            tour.goTo(30);
                            return false;
                        }
                    },
                },
                {
                    title: "",
                    content: "{% trans "Now click on the edit icon so we can easily include some text." %}",
                    element: '#layout-viewer .fa-edit',
                    placement: "right",
                    template: no_nav_template,
                    onShown: function (tour) {
                        // If properties panel is not the right one, go to previous step
                        if ($('#properties-panel .form-title-widget').length === 0) {
                            tour.goTo(29);
                            return false;
                        }
                    },
                    reflex: true,
                    delay: 500
                },
                { // 31
                    title: "",
                    content: "{% trans "Add / edit text and format using the inline editor. The thin visible line is showing your Region border. Ensure that any text remians within these lines." %}",
                    element: '#layout-viewer .viewer-element .cke_editable',
                    placement: "right",
                    template: next_template,
                    delay: 500
                },
                {
                    title: "",
                    content: "{% trans "You can optionally give this Widget a name for easier identification." %}",
                    element: '#properties-panel input#name',
                    placement: "left",
                    template: no_nav_template,
                    reflex: 'click change',
                },
                { // 33
                    title: "",
                    content: "{% trans "Let's override the default time. Click in the Set a duration box." %}",
                    element: '#properties-panel input#useDuration',
                    placement: "left",
                    template: no_nav_template,
                    reflex: true,
                    delay: 500
                },
                {
                    title: "",
                    content: "{% trans "Enter a time in seconds to override the default." %}",
                    element: '#properties-panel input#duration',
                    placement: "left",
                    template: no_nav_template,
                    reflex: 'click change',
                    delay: 500
                },
                { // 35
                    title: "",
                    content: "{% trans "Click Save!" %}",
                    element: '#properties-panel button#save',
                    placement: "left",
                    template: no_nav_template,
                    reflex: true,
                    delay: 500,
                    onShown: function (tour) {
                        // If the input duration is not visible, go back to the checkbox step
                        if (!$('#properties-panel input#duration').is(":visible")) {
                            tour.goTo(33);
                            return false;
                        }
                    }
                },
                {
                    title: "",
                    content: "{% trans "The Text Widget will now show the updated duration for the Region in the Timeline." %}",
                    element: '#layout-timeline .designer-widget .widgetLabel .widgetDuration',
                    placement: "top",
                    template: next_template,
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 4000
                    }
                },
                { // 37
                    title: "",
                    content: "{% trans "When happy with your Layout, you will need to set it to Publish before scheduling to Displays." %}",
                    orphan: true,
                    placement: "top",
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Do this by clicking on the Actions menu on the top toolbar." %}",
                    element: '#layout-editor-topbar #actionsSubmenu',
                    placement: "left",
                    reflex: true,
                    template: no_nav_template
                },
                { // 39
                    title: "",
                    content: "{% trans "Select Publish!" %}",
                    element: '#layout-editor-topbar #publishLayout',
                    placement: "left",
                    reflex: true,
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 4000
                    },
                    template: no_nav_template
                },
                {
                    element: '.bootbox .modal-content button[data-bb-handler="Publish"]',
                    placement: "bottom",
                    container: '.bootbox',
                    title: "",
                    content: "{% trans "You can Publish now or untick this option and provide your own Publish Date, confirm your selection by clicking Publish." %}",
                    template: no_nav_template,
                    reflex: true,
                    delay: 500
                },
                { // 41
                    title: "",
                    element: '#layout-editor',
                    placement: "top",
                    content: "{% trans "Success! Your Layout is now ready for to be scheduled to Displays / Display Groups!" %}",
                    template: next_template,
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 10000
                    }
                },
                {
                    title: "Ready for more?",
                    content: "{% trans "Go back to the Welcome page to learn more about other topics!" %}",
                    orphan: true,
                    template: final_template
                }
            ])
        });

        // Layout Designer tour
        cmsTours.layoutDesignerTour = new Tour({
            debug: false,
            keyboard: false,
            name: 'layoutDesignerTour',
            framework: "bootstrap3", 
            showProgressBar: false,     // don't show the progress bar on this step only
            showProgressText: false,    // don't show the progress text on this step only
            highlightOpacity: 0.6,
            onStart: tourStarted,
            onEnd: tourEnded,
            onElementUnavailable: cmsOnElementUnavailable,
            steps: [
                {
                    orphan: true,
                    title: "",
                    content: "{% trans "This is the layout designer screen where you will add and configure content. By default, your layout is in read-only mode, and needs to be checked out, to enable editing." %}",
                    template: next_template,
                    onNext: function(tour) {
                        if($("#layout-editor-toolbar #read-only-message").length > 0) {
                            tour.goTo(1);
                        } else {
                            tour.goTo(2);
                        }
                        return false;
                    }
                },
                {
                    element: "#layout-editor-toolbar #read-only-message",
                    container: '#layout-editor-toolbar .container-toolbar',
                    reflex: true,
                    title: "",
                    content: "{% trans "Click on this message to checkout the Layout." %}",
                    placement: "top",
                    template: no_nav_template,
                    onElementUnavailableStep: 0
                },
                {
                    element: "#layout-viewer-container",
                    title: "",
                    content: "{% trans "This is the <b>Preview</b> window, that shows previews for layouts, regions and widgets." %}",
                    placement: "bottom",
                    backdrop: true,
                    template: next_template
                },
                { // 3
                    title: "",
                    content: "{% trans "This is the <b>Editor</b>, where we can change layout properties, region options and assigned widgets." %}",
                    element: "#properties-panel",
                    placement: "bottom",
                    backdrop: true,
                    template: next_template
                },
                { 
                    title: "",
                    content: "{% trans "Let's open the Navigator edit mode. Click on the edit button." %}",
                    element: "#layout-viewer-navbar #navigator-edit-btn",
                    placement: "top",
                    reflex: true,
                    template: no_nav_template
                },
                { //7
                    element: '#layout-navigator',
                    placement: "bottom",
                    title: "",
                    content: "{% trans "This is the Navigator edit mode, where you can edit regions and change their properties." %}",
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Click back to go back to the main editor." %}",
                    element: "#layout-navigator #close-btn",
                    placement: "top",
                    reflex: true,
                    template: no_nav_template
                },
                {
                    title: "",
                    content: "{% trans "This is the <b>Layout Timeline</b>, which shows the total layout duration as well as the duration of assigned media." %}",
                    element: "#layout-timeline",
                    placement: "bottom",
                    backdrop: true,
                    template: next_template
                },
                { //10
                    title: "",
                    content: "{% trans "This is the <b>Toolbar</b>, used to interact with the layout designer." %}",
                    element: "#layout-editor-toolbar",
                    placement: "top",
                    backdrop: true,
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Use the Toolbar tabs to select <b>Widgets</b>" %}",
                    element: "#layout-editor-toolbar #btn-menu-2",
                    placement: "top",
                    reflex: true,
                    template: no_nav_template,
                    onShown: function (tour) {
                        // If widgets are selected already, go to next step
                        if ($('#layout-editor-toolbar #btn-menu-2.active').length > 0) {
                            tour.goTo(12);
                            return false;
                        }
                    }
                },
                {
                    title: "",
                    content: "{% trans "These are the widgets you can add." %}",
                    element: "#layout-editor-toolbar #content-2 .toolbar-pane-content",
                    placement: "top",
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 4000
                    },
                    template: next_template
                },
                { //13
                    title: "",
                    content: "{% trans "You can take a look at how your layout will look on your displays by clicking on the Play button on the Preview window." %}",
                    element: '#layout-viewer-navbar #play-btn',
                    placement: "right",
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 4000
                    },
                    template: next_template
                },
                {
                    title: "",
                    element: '#layout-editor-topbar #actionsSubmenu',
                    content: "{% trans "When happy with your layout you will need to publish before being able to schedule to displays." %}",
                    placement: "bottom",
                    template: next_template,
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 4000
                    }
                },
                { // 15
                    title: "Success!",
                    content: "{% trans "And that is how easy it is to use the layout designer. Ready for more? Jump into the User Manual for guidance and top tips!" %}",
                    orphan: true,
                    template: final_template_2
                }
            ]
        });

        // SCHEDULING TOUR
        cmsTours.schedulingTour = new Tour({
            name: 'schedulingTour',
            debug: false,
            keyboard: false,
            framework: "bootstrap3", 
            showProgressBar: false,     // don't show the progress bar on this step only
            showProgressText: false,    // don't show the progress text on this step only
            highlightOpacity: 0.6,
            onModalHidden: function(tour, stepNumber) {
                // If the modal is closed in step 19, go to next step automaticaly
                console.debug('onModalHidden');
                console.debug(stepNumber == 19);
                return (stepNumber == 19);
            },
            onStart: tourStarted,
            onEnd: tourEnded,
            onElementUnavailable: cmsOnElementUnavailable,
            steps: [
                { // 0
                    title: "",
                    content: "{% trans "Schedule Layouts / Campaigns to tell the system when they should show and on what Display(s)." %}",
                    orphan: true,
                    template: next_template
                },
                {% if horizontalNav %}
                    {
                        element: '.navbar-nav:eq(0) > li:eq(1)',
                        placement: "right",
                        title: "",
                        content: "{% trans "Start by clicking on Schedule on the main menu." %}",
                        reflex: true,
                        template: no_nav_template,
                        onShown: function (tour) {
                            // Open dropdown
                            $('.navbar-nav:eq(0) > li:eq(1)').addClass('open');
                        }
                    },
                {% else %}
                    {
                        element: ".sidebar-list:eq(0)",
                        placement: "right",
                        title: "",
                        content: "{% trans "Start by clicking on Schedule on the main menu." %}",
                        reflex: true,
                        template: no_nav_template
                    },
                {% endif %}
                { // 2
                    element: '#CalendarContainer',
                    delayOnElement: {
                        delayElement: 'element',
                        maxDelay: 5000
                    },
                    placement: "top",
                    backdrop: true,
                    title: "",
                    content: "{% trans "This is the schedule view which will show the current month by default." %}",
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Select the Display / Display Group from the list you want to schedule to." %}",
                    element: ".xibo-calendar-controls #DisplayList + span",
                    placement: "right",
                    reflex: 'click change',
                    template: no_nav_template
                },
                { // 4
                    title: "",
                    content: "{% trans "Any current schedules in the system will show in the calendar for the selected Display(s)." %}",
                    orphan: true,
                    template: next_template
                },
                { 
                    element: '.xibo-calendar-controls button.XiboFormButton[href="/schedule/form/add"]',
                    reflex: true,
                    placement: "bottom",
                    title: "",
                    content: "{% trans "Create a new schedule by clicking the Add Event button." %}",
                    template: no_nav_template
                },
                { // 6
                    title: "",
                    content: "{% trans "Use the drop down to select the Event type to schedule." %}",
                    element: ".bootbox #scheduleAddForm #eventTypeId",
                    container: '.bootbox',
                    placement: "top",
                    template: next_template,
                    onElementUnavailableStep: 5
                },
                {
                    title: "",
                    element: '.bootbox #scheduleAddForm select[id="displayGroupIds[]"] + span',
                    content: "{% trans "Check to make sure the correct Display(s) have been selected." %}",
                    placement: "top",
                    template: next_template,
                    onElementUnavailableStep: 5
                },
                { // 8
                    title: "",
                    content: "{% trans "Now you need to select Custom times or set to be Always showing. You can also select Dayparts from the main menu to create your own predefined chunks of time for selection." %}",
                    orphan: true,
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Use the drop down to select the type of Dayparting needed for the Event." %}",
                    element: ".bootbox #scheduleAddForm #dayPartId",
                    container: '.bootbox',
                    placement: "top",
                    template: next_template,
                    onElementUnavailableStep: 10
                },
                { // 10
                    title: "",
                    content: "{% trans "Give a Start Time!" %}",
                    element: ".bootbox #scheduleAddForm .starttime-control .datePickerHelper",
                    container: '.bootbox',
                    placement: "top",
                    reflex: 'focusout',
                    template: no_nav_template,
                    onElementUnavailableStep: 12
                },
                {
                    title: "",
                    content: "{% trans "and End Time!" %}",
                    element: ".bootbox #scheduleAddForm .endtime-control .datePickerHelper",
                    container: '.bootbox',
                    placement: "top",
                    reflex: 'focusout',
                    template: no_nav_template,
                    onElementUnavailableStep: 12
                },
                { // 12
                    title: "",
                    content: "{% trans "If you selected an Always Daypart, you do not need to give start and end times." %}",
                    orphan: true,
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Use the Layout / Campaign selector to pick the Layout / Campaign you want to show." %}",
                    element: ".bootbox #scheduleAddForm .layout-control .select2-container",
                    container: '.bootbox',
                    placement: "top",
                    template: next_template,
                    onElementUnavailableStep: 14
                },
                { // 14
                    title: "",
                    content: "{% trans "Enter a number to determine a Display Order when scheduling more than one Event to show at the same time." %}",
                    element: ".bootbox #scheduleAddForm #displayOrder",
                    container: '.bootbox',
                    placement: "bottom",
                    placement: "top",
                    template: next_template,
                    onElementUnavailableStep: 5,
                    delay: 500
                },
                {
                    title: "",
                    content: "{% trans "When left blank Events scheduled at the same time will be shown in fair rotation." %}",
                    orphan: true,
                    template: next_template
                },
                { // 16
                    title: "",
                    content: "{% trans "Assign a Priority to tell the system that the Event needs to appear in precedence over other Events scheduled at the same time." %}",
                    element: ".bootbox #scheduleAddForm #isPriority",
                    container: '.bootbox',
                    placement: "top",
                    template: next_template,
                    onElementUnavailableStep: 5
                },
                {
                    title: "",
                    content: "{% trans "A higher Priority number will take precedence over Priorities with a lower number." %}",
                    orphan: true,
                    template: next_template
                },
                { // 18
                    title: "",
                    content: "{% trans "Run at CMS Time should only be used for Events you need to run according to the set Timezone for the CMS and not the local time set on the Player." %}",
                    orphan: true,
                    template: next_template
                },
                { 
                    element: '.bootbox .save-button',
                    content: "{% trans "Save!" %}",
                    container: '.bootbox',
                    placement: "top",
                    template: no_nav_template,
                    onShow: function() {
                        // Scroll to save button
                        if($('.bootbox .save-button').length > 0) {
                            $('.bootbox').animate({ scrollTop: $('.bootbox .save-button').offset().top }, 500);
                        }
                    },
                    onElementUnavailableStep: 5
                },
                { // 20
                    title: "",
                    content: "{% trans "The created Event icon will now be available to view in the calendar. Mouse over it to see further details and click on it to make any edits." %}",
                    template: next_template,
                    container: '#page-wrapper',
                    orphan: true
                },
                {
                    title: "",
                    content: "{% trans "Now you have grasped the basics to create Layouts and Schedule them, take a look at the User Manual for top tips and further guidance!" %}",
                    orphan: true,
                    container: '#page-wrapper',
                    template: next_template
                },
                { // 22
                    title: "Ready for more?",
                    content: "{% trans "Go back to the Welcome page to learn more about other topics!" %}",
                    orphan: true,
                    container: '#page-wrapper',
                    template: final_template
                }
            ]
        });

        cmsTours.authDisplayTour = new Tour({
            name: 'authDisplayTour',
            debug: false,
            keyboard: false,
            framework: "bootstrap3", 
            showProgressBar: false,     // don't show the progress bar on this step only
            showProgressText: false,    // don't show the progress text on this step only
            highlightOpacity: 0.6,
            onStart: tourStarted,
            onEnd: tourEnded,
            onElementUnavailable: cmsOnElementUnavailable,
            steps: [
                { // 0
                    title: "",
                    content: "{% trans "What is a Display? A Display is the connection from the Player to the CMS which groups content and schedule information." %}",
                    orphan: true,
                    template: next_template
                },
                {
                    title: "",
                    content: "{% trans "Once the Player software has been installed, licensed (if applicable) and registered with the CMS" %}",
                    orphan: true,
                    template: next_template
                },
                { // 2
                    title: "",
                    content: "{% trans "Displays can be connected to the CMS over the API using 'XMDS' and entering the CMS URL / Key or by using the Add Display (code) button in the CMS." %}",
                    orphan: true,
                    template: next_template
                },
                {% if horizontalNav %}
                    {
                        element: '.navbar-nav:eq(0) > li:eq(4)',
                        placement: "right",
                        title: "",
                        content: "{% trans "Click on Displays under the Displays section of the main menu." %}",
                        reflex: true,
                        template: no_nav_template,
                        onShown: function (tour) {
                            // Open dropdown
                            $('.navbar-nav:eq(0) > li:eq(4)').addClass('open');
                        }
                    },
                {% else %}
                    {
                        element: ".sidebar-list:eq(9)",
                        placement: "right",
                        title: "",
                        content: "{% trans "Click on Displays under the Displays section of the main menu." %}",
                        reflex: true,
                        template: no_nav_template
                    },
                {% endif %}
                { // 4
                    element: '.widget .XiboGrid #displays',
                    backdrop: true,
                    placement: 'top',
                    delayOnElement: {
                        delayElement: 'element',
                        maxDelay: 5000
                    },
                    title: "",
                    content: "{% trans "This is the Display grid which shows all Displays that have been added and registered." %}",
                    template: next_template
                },
                {
                    element: '.btn a[href="/display/form/addViaCode"]',
                    content: "{% trans "The Add Display (code) button allows for connection to the CMS by providing a 6 character 'Activation Code' shown on the Player screen, for supported Players. Please refer to the documentation for more information." %}",
                    template: next_template,
                    placement: "left"
                },
                { // 6
                    element: '.btn #refreshGrid',
                    content: "{% trans "If you have yet to complete the Player Installation you can do that now.  Click 'Refresh' once installation is complete to continue." %}",
                    placement: "bottom",
                    template: next_template
                },
                { 
                    element: '#displays tbody tr:first td button.dropdown-toggle',
                    content: "{% trans "Use the row menu for the Display!" %}",
                    reflex: true,
                    placement: "left",
                    template: no_nav_template
                },
                { // 8
                    element: '#displays tbody tr:first td ul.dropdown-menu .display_button_authorise',
                    content: "{% trans "Now select Authorise!" %}",
                    reflex: true,
                    placement: "left",
                    template: no_nav_template
                },
                { 
                    element: '.bootbox .save-button',
                    content: "{% trans "Click Yes to confirm!" %}",
                    reflex: true,
                    container: '.bootbox',
                    placement: "bottom",
                    template: no_nav_template
                },
                { // 10
                    element: '#displays tbody tr:first td button.dropdown-toggle',
                    content: "{% trans "You may also need to select a Default Layout for your new Player to run, so that in the event you have no scheduled content, the Player will always have a Layout to show." %}",
                    placement: "left",
                    template: next_template,
                    delayOnElement: {
                        delayElement: "element",
                        maxDelay: 4000
                    }
                },
                { 
                    element: '#displays tbody tr:first td button.dropdown-toggle',
                    content: "{% trans "Set this by using the row menu and selecting Default Layout, use the drop down to select the Layout to use." %}",
                    placement: "bottom",
                    template: next_template
                },
                { // 12
                    title: "Ready for more?",
                    content: "{% trans "Go back to the Welcome page to learn more about other topics!" %}",
                    orphan: true,
                    template: final_template
                }
            ]
        });

        // Add degault delayOnElement to all the non set steps
        Object.values(cmsTours).forEach((tour) => {
            for (let index = 0; index < tour.getStepCount(); index++) {
                var step = tour.getStep(index);
                if(step.delayOnElement == null) {
                    step.delayOnElement = {
                        delayElement: "element",
                        maxDelay: 2000
                    };
                }
            }
        });

        // Handle back to welcome button
        $('body').on('click', '.tour button[data-role="backToWelcome"]', function() {
            var tourPlaying = localStorage.getItem('tour_playing');
            cmsTours[tourPlaying].end();
            window.location.href = '{{ url_for("welcome.view") }}';
        });

        // Fix for close button title
        $('body').on('mouseenter', '.tour .close', function() {
            $(this).attr('title', end_tour_message);
        });

        // Check if a tour was playing already and reload it
        var tourPlaying = localStorage.getItem('tour_playing');
        if(tourPlaying != '' && tourPlaying != null && localStorage.getItem(tourPlaying + '_end') != 'yes') {
            restartTour(cmsTours[tourPlaying]);
        }
    });

    function tourStepBroken(tour, stepNumber) {
        // Restart tour and go to a stable step
        restartTour(tour, Number(stepNumber-1));
    }

    // Restart tour and/or save to prefs
    function restartTour(tour, fromStep) {
        if(tour == undefined) {
            return false;
        }

        // Reshow the user welcome wizard
        if(tour.ended()) {
            tour.restart();
        } else if(fromStep != undefined && (fromStep != tour.getCurrentStepIndex() || tour.getCurrentStepIndex() == null)) {
            tour.restart();
            setTimeout(() => { tour.goTo(fromStep); }, 500);
        } else {
            // Start tour
            tour.start();
        }
    }

    function startTour(tour) {
        // Tour only starts if no tour is ongoing
        if(localStorage.tour_playing == undefined) {
            if(tour.ended()) {
                tour.restart();
            } else {
                tour.start();
            }
            
            // Tour has started
            return true;
        }
        
        // Tour did not start
        return false;
    }

    function tourStarted(tour) {
        // Save tour playing to local storage
        localStorage.tour_playing = tour._options.name;
    }

    function tourEnded(tour) {
        var tourName = tour._options.name;
        var tourPlaying = localStorage.getItem('tour_playing');

        // Save tour as played to the local storage
        localStorage.setItem(tourName + '_seen', 1);

        // Remove tour playing from local storage
        localStorage.removeItem(tourName + '_current_step');
        localStorage.removeItem('tour_playing');

        // if we're in welcome page, call update status for the buttons status
        if(typeof updateTourCardStatus == "function") {
            updateTourCardStatus();
        }
    }

    function cmsOnElementUnavailable(tour, step) {
        var currentStep = tour.getStep(step);

        if(currentStep.onElementUnavailableStep != undefined) {
            restartTour(tour, currentStep.onElementUnavailableStep);
        } else {
            restartTour(tour, step - 1);
        }
    }
</script>