<li class="nav-item actions-tab">
    <a class="nav-link" href="#actionsTab" role="tab" data-toggle="tab">
        <i class="fas fa-paper-plane tooltip-always-on" data-toggle="tooltip" data-title="{{trans.actions}}"></i>
    </a>
</li>