<div class="tab-pane" id="actionsTab">
    <div class="element-actions">
        <div class="header">{{lookup trans.elementActions elementType}}</div>
    </div>
    <div class="other-actions">
        <div class="header">{{trans.otherActions}}</div>
    </div>
</div>