<div class="tab-pane" id="actionsTab">
    <div class="item-actions">
        <div class="header">{{lookup trans.itemActions objectType}}</div>
    </div>
    <div class="other-actions">
        <div class="header">{{trans.otherActions}}</div>
    </div>
</div>