<button class="btn btn-success XiboFormButton hidden action-button-add" type="button" data-title="{{trans.button.description}}" href="{{addUrl}}">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;{{trans.button.name}}
</button>