<div class="checkbox">
    <label for="autoSubmit" accesskey="a" title="{{trans.helpText}}">
        <input type="checkbox" id="autoSubmit" name="autoSubmit">
        {{trans.label}}
    </label>
</div>