<button id="refreshDesigner" type="button" class="btn btn-success">
    Refresh
</button>
<button id="undoLastAction" {{undo}} type="button" class="btn btn-warning">
    Undo
</button>
<button id="enableNavigatorEditMode" type="button" class="btn btn-primary">
    Open Navigator
</button>


<button id="debugButton" type="button" class="btn btn-info" style="float: right; margin-right: 5px;">
    Debug
</button>