<div id="layout-top-region" class="container-fluid">
    
    <div class="row">
        <div class="col-sm-3 layout-module">
            <div id="layout-navigator">
                <!--NAVIGATOR-->
            </div>
        </div>

        <div class="col-sm-9 layout-module">
            <div id="layout-timeline">
                <!--TIMELINE-->
            </div>
        </div>
    </div>
</div>

<div id="layout-center-region" class="container-fluid">
    <div class="row">

        <div class="col-md-5 col-lg-7 layout-module">
            <div id="layout-viewer-container">
                <div id="layout-viewer">
                    <!--VIEWER-->
                </div>
                <div id="layout-viewer-navbar">
                    <!--VIEWER NAVBAR-->
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-5 layout-module">
            <div id="properties-panel" class="bootbox">
                <!--PROPERTIES PANEL-->
            </div>
        </div>
    </div>
</div>

<div id="layout-navigator-edit">
    <div id="layout-navigator-edit-content">
        <!--NAVIGATOR EDIT RENDER AREA-->
    </div>
    <div id="layout-navigator-edit-navbar">
        <!--NAVIGATOR EDIT NAVBAR-->
    </div>
</div>

<div id="layout-manager">
    <!--MANAGER-->
</div>

<div id="layout-editor-toolbar" class="editor-toolbar">
    <!--TOOLBAR-->
</div>

<div class="custom-overlay"></div>

