<div id="layout-top-region" class="container-fluid">
    
    <div class="row">
        <div id="layout-navigator" class="col-sm-3">
            NAVIGATOR
        </div>

        <div id="layout-timeline" class="col-sm-9">
            TIMELINE
        </div>
    </div>
</div>

<div id="layout-center-region" class="container-fluid">
    <div class="row">
        <div id="layout-viewer" class="col-sm-7 col-sm-offset-1">
            <h2>Viewer</h1>
        </div>

        <div id="layout-property-panel" class="col-sm-3">
            <h2>Property Panel</h1>
        </div>
    </div>
</div>

<div id="layout-navigator-edit">
    <div id="layout-navigator-edit-content">
        NAVIGATOR EDIT
    </div>
    <nav id="layout-navigator-edit-navbar" class="navbar">
        <button type="button" class="btn btn-danger close-button">Close Navigator</button>
    </nav>
</div>

<nav id="layout-bottom-navbar" class="navbar navbar-default navbar-fixed-bottom">
    <button id="undoLastAction" type="button" class="btn btn-warning">Undo</button>
    <button id="refreshDesigner" type="button" class="btn btn-primary">Refresh</button>
    <button id="enableNavigatorEditMode" type="button" class="btn btn-primary">Open Navigator</button>
</nav>

