<div id="layout-top-region" class="container-fluid">
    
    <div class="row">
        <div id="layout-navigator" class="col-sm-3">
            <!--NAVIGATOR-->
        </div>

        <div id="layout-timeline" class="col-sm-9">
            <!--TIMELINE-->
        </div>
    </div>
</div>

<div id="layout-center-region" class="container-fluid">
    <div class="row">
        <div class="col-sm-7" id="layout-viewer-container">
            <div id="layout-viewer">
                <!--VIEWER-->
            </div>
            <div id="layout-viewer-navbar">
                <!--VIEWER NAVBAR-->
            </div>
        </div>

        <div id="properties-panel" class="col-sm-5">
            <!--PROPERTIES PANEL-->
        </div>
    </div>
</div>

<div id="layout-navigator-edit">
    <div id="layout-navigator-edit-content">
        <!--NAVIGATOR EDIT RENDER AREA-->
    </div>
    <div id="layout-navigator-edit-navbar">
        <!--NAVIGATOR EDIT NAVBAR-->
    </div>
</div>

<div id="layout-manager">
    <!--MANAGER-->
</div>

<div id="layout-editor-toolbar">
    <!--TOOLBAR-->
</div>


