<div class="back-button">
    <button id="backBtn" class="btn btn-primary">
        <i class="fa fa-angle-left"></i>
        <span>{{trans.back}}</span>
    </button>
</div>

<div id="layout-editor-topbar" class="editor-toolbar editor-top-bar">
    <!--TOPBAR-->
</div>

<div class="container-designer layout-editor-flex">
    <div class="flex-h flex-grow-0">
        <div id="layout-editor-toolbar" class="editor-toolbar editor-side-bar">
            <!--TOOLBAR-->
        </div>
    </div>

    <div class="flex-v justify-content-between">
        <div class="flex-h overflow-auto">
            <div class="main-panel">
                <div id="layout-viewer-container">
                    <div class="main-panel-wrapper">
                        <div id="layout-viewer">
                            <!--VIEWER-->
                        </div>
                    </div>
                </div>

                <div id="layout-navigator">
                    <div class="main-panel-wrapper">
                        <div id="layout-navigator-content">
                            <!--NAVIGATOR RENDER AREA-->
                        </div>
                    </div>
                </div>
            </div>  

            <div class="properties-panel-container layout-module">
                <div id="properties-panel" class="bootbox properties-panel">
                    <!--PROPERTIES PANEL-->
                </div>
            </div>
        </div>

        <div class="flex-h flex-grow-0">
            <div class="timeline-panel" class="rowspan2">
                <div class="">
                    <div class="timeline-toggle-container text-center">
                        <div class="timeline-toggle">
                            <i class="fa fa-chevron-up hide-closed"></i>
                            <i class="fa fa-chevron-down hide-opened"></i>
                        </div>
                    </div>
                    <div class="layout-module flex-h">
                        <div id="layout-timeline" class="flex-grow-1">
                            <!--TIMELINE-->
                        </div>

                        <div id="actions-drawer" class="text-center flex-grow-0">
                            <!--ACTION DRAWER-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-h flex-grow-0">
            <div id="layout-editor-bottombar" class="editor-toolbar editor-bottom-bar">
                <!--BOTTOMBAR-->
            </div>
        </div>
    </div>
</div>

<div id="layout-manager">
    <!--MANAGER-->
</div>

<div class="custom-overlay"></div>

