<div class="fallback-data-record">
    <div class="fallback-data-record-fields">
        {{! Fallback record fields }}
    </div>
    <div class="fallback-data-record-previews">
        {{! Fallback record fields }}
    </div>
    <div class="fallback-data-record-buttons">
        {{> forms/button action="delete-record" type="btn-outline-danger fb-btn-delete" name=trans.deleteRecord }}
        {{> forms/button action="edit-record" type="btn-outline-primary fb-btn-edit" name=trans.editRecord }}
        {{> forms/button action="save-record" type="btn-success fb-btn-save" name=trans.saveRecord }}
    </div>
</div>