<div class="form-group row form-colors mb-0">
    <div class="col-sm-10 pl-0">
        {{> forms/inputs/color id=colorId name="color[]" value=value customClass="custom-color" }}
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-white"><i class="fa {{ buttonGlyph }}"></i></button>
    </div>
</div>