<div class="form-group row mb-0">
    <label class="col-sm-1 control-label" for="seriesColor[]">{{ title }}</label>
    <div class="col-sm-4">
        <input class="form-control color-picker" name="seriesColor[]" value="{{ color }}" />
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-white"><i class="fa {{ buttonGlyph }}"></i></button>
    </div>
</div>