<div class="form-clock row mb-2 p-1 alert alert-info">
    <div class="form-group localSelect w-75">
        <select class="form-control">
            <option value selected>Timezone</option>
            {{#each timezones}}
                <option value="{{ id }}" {{#eq id ../clockTimezone}}selected{{/eq}}>{{ value }}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group w-25">
        <button class="btn btn-primary pull-right"><i class="fa {{ buttonGlyph }}"></i></button>
    </div>

    <div class="form-group w-50">
        <input class="form-control clockLabel" type="text" value="{{ clockLabel }}" placeholder="Label" />
    </div>

    <div class="form-group w-50">
        <input type="checkbox" class="clockHighlight" name="clockHighlight" {{#if clockHighlight}}checked{{/if}}>
        <label for="clockHighlight">Highlight?</label>
    </div>
</div>