<div class="form-group row form-product-options">
    <div class="form-group col-xl-5">
        <input class="form-control" name="productOptions[]" type="text" value="{{ optionName }}" placeholder="Option Name">
    </div>

    <div class="form-group col-xl-5">
        <input class="form-control" name="productValues[]" type="number" step="0.01" value="{{ optionValue }}" placeholder="Option Value">
    </div>

    <div class="form-group col-xl-2 px-2 px-xl-0">
        <button class="btn btn-success pull-right"><i class="fa {{ buttonGlyph }}"></i></button>
    </div>
</div>