<div id="miniLayoutPreview" class="mini-layout-preview">
    <div id="playBtn" class="fa fa-play preview-button" title="{{trans.play}}"></div>
    <div id="closeBtn" class="fa fa-close preview-button" title="{{trans.close}}"></div>
    <div id="sizeBtn" class="fa fa-plus-square preview-button" title="{{trans.changeSize}}"></div>
    <div id="newTabBtn" class="fa fa-external-link-square preview-button" title="{{trans.newWindow}}"></div>
    <div id="content"></div>
</div>