
<nav class="navbar">
    <button type="button" id="close-btn" class="btn btn-secondary">
        <i class="fa fa-times"> Save</i>
    </button>
    <button type="button" id="undo-btn" class="btn btn-warning">
        Undo
    </button>
    <button type="button" id="delete-btn" class="btn btn-danger">
        Delete region
    </button>
    <button type="button" id="add-btn" class="btn btn-success">
        Add region
    </button>
</nav>