
<nav class="navbar">
    <button type="button" id="close-btn" class="btn btn-secondary">
        <i class="fa fa-times"></i>
    </button>
    <button type="button" id="undo-btn" {{undo}} class="btn btn-warning">
        Undo
    </button>
    <button type="button" id="delete-btn" {{selected}} class="btn btn-danger">
        Delete
    </button>
    <button type="button" id="add-btn" class="btn btn-success">
        Add
    </button>
</nav>