<div class="form-title selectable">
    <span>Timeline</span>
    <i id="unsaved" class="fa fa-spinner fa-spin" style="display: none;"></i>
    <i id="saved" class="fa fa-save" style="display: none;"></i>
</div>

<div id="timeline-container">
    {{#each widgets}}
        {{> playlist-timeline-widget}}
    {{/each}}

    <div id="timeline-overlay-container">
        {{#each widgets}}
            <div class="timeline-overlay-step"
                data-position="{{@index}}"></div>
            <div class="timeline-overlay-dummy"></div>
        {{/each}}
    </div>
</div>

