<div id="playlist-editor-container">
    
    <div class="row">
        <div id="editing-container" class="col-sm-12 row">
            <div class="col-md-5 playlist-timeline-container">
                <div id="playlist-timeline"  class="editable">
                    {{!--TIMELINE--}}
                </div>
            </div>

            <div class="col-md-7">
                <div id="playlist-properties-panel" class="col-sm-12">
                    {{!--PROPERTIES PANEL--}}
                </div>
            </div>
        </div>
            
        <div id="dropzone-container" class="col-sm-12 editable text-center">
            {{!--DROP ZONE--}}
        </div>
    </div>
</div>

<div id="layout-manager">
    {{!--MANAGER--}}
</div>

<div id="playlist-editor-toolbar" class="editor-toolbar editor-bottom-bar">
    {{!--TOOLBAR--}}
</div>

<div class="custom-overlay"></div>





