<div id="timeline-container">
    {{#each widgets}}
        {{> playlist-timeline-widget}}
    {{/each}}

    <div id="timeline-overlay-container">
        {{#each widgets}}
            <div class="timeline-overlay-step"
                data-position="{{@index}}"></div>
            <div class="timeline-overlay-dummy"
                data-position="{{@index}}"></div>
        {{/each}}
    </div>
</div>

