<div id="playlist-editor-container" class="container-fluid">
    
    <div class="row">
        <div id="playlist-container">
            <div class="col-sm-4">
                <div id="playlist-timeline">
                    <!--TIMELINE-->
                </div>
            </div>

            <div class="col-sm-8">

                <!-- Viewer removed for now
                            <div class="col-sm-12" id="playlist-viewer-container">
                                <div id="playlist-viewer">VIEWER</div>
                                <div id="playlist-viewer-navbar">VIEWER NAVBAR</div>
                            </div>
                            -->

                <div id="playlist-properties-panel" class="col-sm-12">
                    <!--PROPERTIES PANEL-->
                </div>
            </div>
        </div>
            
        <div id="dropzone-container" class="col-sm-12 text-center">
            <!--DROP ZONE-->
        </div>
    </div>
</div>

<div id="layout-manager">
    <!--MANAGER-->
</div>

<div id="playlist-editor-toolbar" class="editor-toolbar">
    <!--TOOLBAR-->
</div>





