<div class="form-inline form-editor-controls d-none">
    <div class="form-group">
        <label class="font-weight-bold control-label mr-1" for="editorWidth">{{trans.width }}</label>
        <input type="number" class="form-control text_editor_width" id="editorWidth">
    </div>
    <div class="form-group">
        <label class="font-weight-bold control-label mr-1" for="editorHeight">{{trans.height }}</label>
        <input type="number" class="form-control text_editor_height" id="editorHeight">
    </div>
    <div class="form-group">
        <label class="font-weight-bold control-label mr-1" for="editorScale">{{trans.scale }}</label>
        <input type="checkbox" class="form-control text_editor_scale" id="editorScale" checked>
    </div>
</div>