<div class="form-inline form-editor-controls">
    <div class="form-group">
        <label for="editorWidth">Width</label>
        <input type="number" class="form-control text_editor_width" id="editorWidth" placeholder="Width">
    </div>
    <div class="form-group">
        <label for="editorHeight">Height</label>
        <input type="number" class="form-control text_editor_height" id="editorHeight" placeholder="Height">
    </div>
    <div class="form-group">
        <label for="editorScale">Scale</label>
        <input type="checkbox" class="form-control text_editor_scale" id="editorScale" checked>
    </div>
</div>