<div class="form-inline form-editor-controls form-editor-controls-target-region">
    <div class="form-group w-100">
        <label class="w-25 d-block text-right px-2 control-label" for="drawerWidgetTargetRegion" accesskey="">{{trans.targetDrawer }}</label>
        <div class="w-75">
            <select class="form-control w-100" name="drawerWidgetTargetRegion" id="drawerWidgetTargetRegion">
                <option value="" class="default-option">{{trans.selectATarget }}</option>
                {{! Populate with layout regions }}
            </select>
        </div>
    </div>
</div>