<div id="{{ id }}" data-type="region" class="region selectable {{selectedFlag}}">
    {{#unless hideDetails}}
        {{#each widgets}}
            {{> timeline-widget}}
        {{/each}}
        
        {{#if loop}}
            {{#each ghostWidgetsObject}}
                {{> timeline-ghost-widget}}
            {{/each}}
        {{/if}}
    {{else}}
        <p>Zoom in to see/edit region</p>
    {{/unless}}
</div>