<div id="{{ id }}" data-type="widget" class="designer-widget designer-widget-ghost" style="
width: {{ durationPercentage }}%;">
    <span class="widgetName">
        {{widgetName}}
    </span>
    <span class="widgetSubType">
        [{{ subType }}]
    </span>
</div>

