<div class="media-preview">
    <div id="closeBtn" class="fa fa-close preview-button" data-title="{{trans.mediaPreview.close}}" data-toggle="tooltip" data-placement="top"></div>
    <div id="sizeBtn" class="fa fa-arrow-circle-up preview-button" data-title="{{trans.mediaPreview.change}}" data-toggle="tooltip" data-placement="top"></div>
    <div id="selectBtn" class="fa fa-plus-square preview-button" data-title="{{trans.mediaPreview.select}}" data-toggle="tooltip" data-placement="top"></div>
    <div id="content"></div>
    <div id="info"></div>
</div>