{{#if headerMessage }}<p class="alert alert-info p-2 text-center font-weight-bold text-center">{{headerMessage}}</p>{{/if}}

{{> toolbar-search-form trans=trans filters=filters class=formClass showSort=showSort autocomplete="off"}}

<div id="media-content-{{menuIndex}}" class="toolbar-pane-content"></div>