<div class="content-header">
    <div class="close-submenu close-content" data-toggle="tooltip" data-placement="right" data-title="{{trans.closeTab}}">
        <i class="fa fa-arrow-left"></i>
    </div>
    <div class="content-title">
        <i class="{{data.icon}} card-icon"></i>
        <span>{{data.cardTitle}}</span>
    </div>
</div>

{{> toolbar-search-form trans=trans filters=filters class="template-search-form" autocomplete="off"}}

<div class="toolbar-pane-container"></div>