<div class="toolbar-card" 
    data-toggle="tooltip" 
    data-placement="top" 
    data-media-id="{{mediaId}}" 
    data-type="media" 
    data-sub-type="{{mediaType}}">
    <div class="img-container">
        {{#if thumbnailUrl}}
            <img src="{{thumbnailUrl}}">
        {{/if}}
    </div>
    
    <p class="title">{{name}}</p>
</div>