<div class="toolbar-card" 
    data-toggle="tooltip" 
    data-placement="top"
    data-type="tool"
    data-sub-type="{{type}}"
    drop-to="{{dropTo}}">

    <div class="add-area">
        <i class="fa fa-plus fa-2x" title="Add"></i>
    </div>
    <div class="drag-area" title="Drag">
        <i class="fa fa-hand-rock-o fa-2x"></i>
    </div>

    <div class="img-container">
        <i class="fa tool-icon-{{type}} fa-3x"></i>
    </div>
    
    <p class="card-title">{{name}}</p>
</div>