<div class="playlist-switch-container">
    <div class="playlist-switch-input-container">
        <input type="checkbox" name="playlist-switch-input">
    </div>
    <label for="playlist-switch-input" class="playlist-switch-label form-check-label"><strong>{{playlistSwitch.title}}</strong></label>
    <span class="playlist-switch-help-text">{{playlistSwitch.helpText}}</span>
</div>