<nav class="navbar text-center">
    <button type="button" id="left-btn" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i>
    </button>
    <span class="label label-info">
        {{ extra.current_item }} / {{ extra.number_items }}
    </span>
    <button type="button" id="right-btn" class="btn btn-secondary">
        <i class="fa fa-arrow-right"></i>
    </button>
</nav>