<form class="widget-form">
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="#configureTab" role="tab" data-toggle="tab"><span>{{trans.configure}}</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#appearanceTab" role="tab" data-toggle="tab"><span>{{trans.appearance}}</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#advancedTab" role="tab" data-toggle="tab"><span>{{trans.advanced}}</span></a></li>
        </ul>
        <div class="w-100 p-3">
            <form id="embeddedFormEdit" class="XiboForm form-horizontal" method="put" action="saveWidgetForm">
                <div class="tab-content">
                    <div class="tab-pane active" id="configureTab"></div>

                    <div class="tab-pane" id="appearanceTab"></div>

                    <div class="tab-pane" id="advancedTab"></div>
                </div>
            </form>
        </div>
    </div>
</form>