<div class="clear-filter-btn-container" style="margin-left: auto;">
    <a class="clear-filter-btn nav-link" role="button">
        <i class="fa fa-eraser" aria-hidden="true"></i>
        <span>{{trans.clearFilters}}</span>
    </a>
</div>