/* Common styles */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Make the player fill the screen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* cursor: none; */
}

div {
    margin: 0;
    padding: 0;
}

/* Make the screen div fill the player */
div.preview-player {
    height: 100%;
    z-index: 1;
    background-color: #000000;
}

div.preview-screen {
    height: 100%;
    z-index: 1;
}

/* Style the Splash Screen */
div.preview-splash {
    height: 100%;
    background:#000000 url('../preview/img/xibologo.png') no-repeat center center;
    background-size: 45%;
}

div.preview-loader {
    height: 19px;
    width: 220px;
    position: relative;
    margin:0 auto;
    top: 75%;
    background:#000000 url('../preview/img/loader.gif') no-repeat center center;
    background-size: 100%;
}

div.preview-loaderCaption p {
    position: absolute;
    font-family: sans-serif;
    color: #ffffff;
    text-align:center;
    top: 82%;
    margin: 10px 0;
    width: 100%;
}

div.preview-log {
    height: 20px;
    background:#ffffff;
    position:absolute;
    bottom:0;
    width:100%;
    font-family: sans-serif;
    opacity:0.4;
    z-index: 100;
}

div.preview-info {
    position: absolute;
    height: 100%; /* 400px; */
    width: 100%; /*500px;*/
    background:#ffffff;
    font-family: sans-serif;
    opacity:0.6;
    margin:0 auto;
    z-index: 100;
}

div.preview-end {
    position: absolute;
    height: 100%;
    width: 100%;
    background:#000000;
    font-family: sans-serif;
    color:#ffffff;
    font-size: 2em;
    margin:0 auto;
    z-index: 100;
    text-align: center;
}

div.preview-end a {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

video {
    width: 100%;
    height: 100%;
}

div.empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

span.empty-icon {
    color: rgba(255, 255, 80, 0.6);
    display:block;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

div.action-controller {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 1001;
    font-family: monospace, monospace;
    font-size: 0.75rem;
    background-color: #363636;
    border-radius: 4px;
    opacity: 0.95;
    filter: alpha(opacity=90); /* IE8 and lower */
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
    scrollbar-width: thin; /* firefox */
}

div.action-controller::-webkit-scrollbar {
    width: 8px;
    background-color: #aaa; /* or add it to the track */
    border-radius: 4px;
}

div.action-controller::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 4px;
}

div.action-controller .action-controller-title {
    width: calc(300px - 8px);
    z-index: 2;
    padding: 4px;
    color: #fff;
    cursor: grab;
    position: fixed;
    border-radius: 4px;
    background-color: #363636;
}

div.action-controller .action-controller-title .title {
    margin-left: 4px;
}

div.action-controller .action-controller-title .toggle {
    cursor: pointer;
    color: inherit;
    width: 24px;
    height: 18px;
    padding: 0;
    background-color: #5f5f5f;
    border: none;
    border-radius: 3px;
    line-height: 12px;
    font-weight: bold;
}

div.action-controller .action-controller-title .toggle:focus {
    outline: none;
}

div.action-controller .action-controller-title .toggle:after {
    content: ' \002D';
}

div.action-controller.d-none .action-controller-title .toggle:after {
    content: ' \002B';
}

div.action-controller .actions-container {
    margin-top: 24px;
    padding: 4px;
}

div.action-controller.d-none {
    min-width: 100px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE8 and lower */
}

div.action-controller.d-none .actions-container {
    display: none;
}

div.action-controller.d-none:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* IE8 and lower */
}

div.action-controller.d-none .action {
    display: none;
}

div.action-controller .action {
    position: relative;
    height: 20px;
    border-radius: 4px;
    margin-bottom: 4px;
    background-color: #337ab7;
    padding: 2px 4px;
    color: #f3f3f3;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}

div.action-controller .action:hover {
    background-color: #4289c7;
}

div.action-controller .action:not([triggerType="webhook"]) {
    display: none;
}

div.action-controller .action .action-row-title {
    width: 200px;
}

/* Iframe click fix */
iframe {
    pointer-events: none;
}