/* Make the player fill the screen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* cursor: none; */
}

div {
    margin: 0;
    padding: 0;
}

/* Make the screen div fill the player */
div.preview-player {
    height: 100%;
    z-index: 1;
    background-color: #000000;
}

div.preview-screen {
    height: 100%;
    z-index: 1;
}

/* Style the Splash Screen */
div.preview-splash {
    height: 100%;
    background:#000000 url('../preview/img/xibologo.png') no-repeat center center;
    background-size: 50%;
}

div.preview-loader {
    height: 19px;
    width: 220px;
    position: relative;
    margin:0 auto;
    top: 80%;
    background:#000000 url('../preview/img/loader.gif') no-repeat center center;
    background-size: 100%;
}

div.preview-loaderCaption p {
    position: absolute;
    font-family: sans-serif;
    color: #ffffff;
    text-align:center;
    top: 85%;
    width: 100%;
}

div.preview-log {
    height: 20px;
    background:#ffffff;
    position:absolute;
    bottom:0;
    width:100%;
    font-family: sans-serif;
    opacity:0.4;
    z-index: 100;
}

div.preview-info {
    position: absolute;
    height: 100%; /* 400px; */
    width: 100%; /*500px;*/
    background:#ffffff;
    font-family: sans-serif;
    opacity:0.6;
    margin:0 auto;
    z-index: 100;
}

div.preview-end {
    position: absolute;
    height: 100%;
    width: 100%;
    background:#000000;
    font-family: sans-serif;
    color:#ffffff;
    font-size: 300%;
    margin:0 auto;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
}

video {
    width: 100%;
    height: 100%;
}

div.empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

span.empty-icon {
    color: rgba(255, 255, 80, 0.6);
    display:block;
    text-align: center;
}
