<span data-placement="bottom"
    data-toggle="popover"
    data-trigger="hover"
    data-html="true"
    data-container="body"
    data-content="{{content}}"><i class="fa fa-info-circle"></i></span>
