<div class="canvas-widget-control mb-2">
    {{> dropdown id="canvasWidgetControl" value=widgetId title=trans.canvasWidgets customClass="canvas-widget-control-dropdown" options=widgets optionsTitle="widgetName" optionsValue="widgetId" helpText=trans.canvasWidgetsHelp }}
</div>