<div class="xibo-form-input dataset-filter-clause"
    {{#if visibility}}data-visibility="{{visibility}}"{{/if}}
    data-filter-id="{{id}}"
>
    <div class="filter-clause-container alert alert-primary p-2 overflow-auto"></div>
    {{> hidden id=id value=value }}
</div>