<div class="xibo-form-input dataset-order-clause"
    data-order-id="{{id}}"
>
    <div class="order-clause-container alert alert-primary p-2 overflow-auto"></div>
    {{> hidden id=id name=name value=value }}
</div>