<div class="xibo-form-input dataset-filter-clause"
    data-filter-id="{{id}}"
>
    <div class="filter-clause-container alert alert-primary p-2 overflow-auto"></div>
    {{> hidden id=id name=name value=value }}
</div>