<div class="form-group xibo-form-input image-replace-control">
    <label for="input_{{id}}" class="control-label"><strong>{{title}}</strong></label>
    <div class="input-info-container">
        {{#if helpText}}
            {{>add-ons/helpText helpText=helpText}}
        {{/if}}
    </div>
    <div class="image-replace-control-area">
        <div>{{helpText}}</div>
    </div>
</div>