<div class="xibo-form-input playlist-mixer"
    data-mixer-id="{{id}}"
    data-playlist-id="{{playlistId}}"
>
    <div class="mixer-playlist-container alert alert-primary overflow-auto"></div>
    {{> hidden id=id name=name value=value }}
</div>