<div class="xibo-form-input ticker-tag-selector pb-2"
    data-select-id="{{id}}"
>
    <div class="connectedlist w-50">
        <p class="text-info text-center col-out-title mb-0">{{trans.tagAvailable}}1</p>
        <ul id="tagsOut" class="connectedSortable m-auto text-center">
        </ul>
    </div>
    <div class="connectedlist w-50">
        <p class="text-info text-center col-in-title mb-0">{{trans.tagSelected}}2</p>
        <ul id="tagsIn" class="connectedSortable m-auto text-center">
        </ul>
    </div>

    {{> hidden id=id name=name value=value }}

    <div class="ticker-tag-styles">
        <!-- TAG STYLES -->
    </div>
</div>