<div class="xibo-form-input world-clock-control"
    data-order-id="{{id}}"
>
    <div class="clocksContainer"></div>
    {{> hidden id=id name=name value=value customClass="world-clock-value" }}
</div>