
@font-face {
    font-family: 'Nothing you could Do';
    src: url('http://172.28.128.3/index.php?p=module&mod=font&q=Exec&method=GetResource&download=1&downloadFromLibrary=1&mediaid=105');
}
        
@font-face {
    font-family: 'JustMeAgainDownHere';
    src: url('http://172.28.128.3/index.php?p=module&mod=font&q=Exec&method=GetResource&download=1&downloadFromLibrary=1&mediaid=107');
}
        