@import "variables";

#layout-editor-bottombar {
    display: none; // Hidden for now
    flex: 1 100%;
    
    nav {
        border: none;
        min-height: 30px;
        z-index: 2;
        margin: 0;
        background: $xibo-color-pure-white;
        color: $xibo-color-primary;
        right: 0;
        left: 0;
        border-radius: 0;
    }
}