@import "variables";
@import "mixins";

#layout-editor-bottombar  {
    height: 38px;
    margin: 0px 16px 16px 16px;
    
    nav {
        border: 2px solid $xibo-color-secondary;
        color: $xibo-color-primary;
        padding: 0 16px !important;
        min-height: 30px;
        font-size: 0;
        z-index: 2;
        margin: 0;
        background: $xibo-color-neutral-0;
        right: 0;
        left: 0;
        @include border-radius(0 0 4px 4px);

        span, .info {
            font-size: 1rem;
        }

        .divider {
            display: inline-block;
            height: 40px;
            vertical-align: middle;
            border-right: 3px solid $xibo-color-primary-l5;
            margin: 0 3px;
        }

        .btn {
            color: $xibo-color-secondary;
            width: 38px;
            font-size: 1.2rem;
            border: none;
            border-radius: 0;

            &:hover:not(:disabled) {
                color: lighten($xibo-color-secondary, 10%);
            }

            &:disabled, &.disabled {
                opacity: 0.4;
            }

            &#delete-btn {
                color: $xibo-color-semantic-error;

                &:hover {
                    color: lighten($xibo-color-semantic-error, 10%);
                }
            }
        }

        .hide-on-fs {
            display: inline-block;
        }

        .show-on-fs {
            display: none;
        }

        .viewer-navbar-overlay {
            position: absolute;
            width: 100%;
            margin: 0;
            height: 38px;
            top: -38px;
            color: $xibo-color-primary-l5;
            opacity: 0.8;
            padding: 0 1rem;
            left: 0;
            background-color: $xibo-color-primary;

            .info {
                line-height: 2.5rem;

                .label-name {
                    max-width: 20%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .btn {
                color: $xibo-color-primary-l5;
                height: 38px;
                width: 38px;
                font-size: 1.2rem;
            }

            &:hover {
                opacity: 1 !important;
            }
        }

        &.designer-layout {
            .viewer-navbar-overlay {
                display: none;
            }
        }
    }

    #inline-editor-save {
        display: none;
    }
}

#layout-editor.fullscreen-mode #layout-editor-bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1060;
    margin: 0;

    &.fs-edit {
        #inline-editor-save {
            display: inline-block;
        }  
    }

    .hide-on-fs {
        display: none;
    }

    .show-on-fs {
        display: inline-block;
    }
}