// Import
@import "mixins";
@import "variables";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// CSS
/* Properties Panel */
.form-content-title {
    margin: -5px 0 10px 0;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

/* Form Editor Controls */
.form-editor-controls {
    display: none;
    padding: 5px 10px;
    background: $form-editor-controls-bg-color;
    color: $form-editor-controls-fg-color;
}

.form-editor-controls .form-group {
    margin-right: 10px;
}

.form-editor-controls .form-group input {
    height: 25px;
}

.form-editor-controls .form-group input[type=checkbox] {
    margin: 0 6px;
}

/* Tab System */
.form-container .nav>li>a {
    color: $properties-panel-nav-fg-color;
    background-color: lighten($properties-panel-nav-fg-color, 30%);
    @include border-radius(4px);
    padding: 5px 7px;
}

.form-container .nav>li>a:hover {
    color: $properties-panel-nav-active-bg-color;
    background-color: $properties-panel-nav-active-fg-color !important;
}

.form-container .nav>li.active>a,
.form-container .nav>li.active>a:hover {
    background-color: $properties-panel-nav-active-bg-color !important;
    color: $properties-panel-nav-active-fg-color;
}

.form-container .tab-pane {
    padding-top: 5px;
}

/* Form drag and drop list */
.form-container .connectedlist .ui-sortable {
    background-color: $properties-panel-nav-bg-color;
    min-height: 80px;
}

/* Layout Manager */
#layout-manager {
    left: 10px;
    top: 10px;
    z-index: 1;
    position: fixed;
    width: 220px;
    opacity: 0.8;
}

#layout-manager #layout-manager-header {
    background: #2d2d2d;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: #212121 3px solid;
}

#layout-manager #layout-manager-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
    color: #444;
    padding: 2px;
    background: #303030;
    border: #3e3e3e 4px solid;
}

#layout-manager .title {
    color: white;
    font-weight: bold;
    background-color: #4d4d4d;
    cursor: move;
    text-align: center;
}

#layout-manager .label {
    display: inline-block;
    width: 48%;
}

#layout-manager .change {
    color: black;
    background-color: #c3c3c3;
    padding: 2px;
    @include border-radius(2px);
}

#layout-manager .change.uploaded {
    background-color: #8dffa6;
}

// Overlay and loading
.custom-overlay,
.loading-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    @include transparent-object(50);
    z-index: 2;
}

.loading-overlay.loading {
    display: block;
    z-index: $loading-overlay-z-index;
}

.loading-overlay.loading .loading-icon {
    display: block;
    font-size: 4.3rem;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #ffffff;
}

/* Modules icons */
.module-icon-audio {
    @extend .fa-file-audio;
}

.module-icon-calendar {
    @extend .fa-calendar;
}

.module-icon-chart {
    @extend .fa-pie-chart;
}

.module-icon-clock {
    @extend .fa-clock-o;
}

.module-icon-countdown {
    @extend .fa-hourglass-o;
}

.module-icon-currencies {
    @extend .fa-line-chart;
}

.module-icon-datasetticker {
    @extend .fa-list;
}

.module-icon-datasetview {
    @extend .fa-table;
}

.module-icon-embedded {
    @extend .fa-code;
}

.module-icon-flash {
    @extend .fa-flash;
}

.module-icon-forecastio {
    @extend .fa-cloud;
}

.module-icon-googletraffic {
    @extend .fa-car;
}

.module-icon-hls {
    @extend .fa-video-camera;
}

.module-icon-htmlpackage {
    @extend .fa-file-code-o;
}

.module-icon-image {
    @extend .fa-file-image-o;
}

.module-icon-localvideo {
    @extend .fa-file-video-o;
}

.module-icon-notificationview {
    @extend .fa-bell-o;
}

.module-icon-pdf {
    @extend .fa-file-pdf-o;
}

.module-icon-powerpoint {
    @extend .fa-file-powerpoint-o;
}

.module-icon-shellcommand {
    @extend .fa-terminal;
}

.module-icon-spacer {
    @extend .fa-hourglass-o;
}

.module-icon-stocks {
    @extend .fa-bar-chart;
}

.module-icon-subplaylist {
    @extend .fa-play-circle-o;
}

.module-icon-text {
    @extend .fa-font;
}

.module-icon-ticker {
    @extend .fa-rss;
}

.module-icon-twitter {
    @extend .fa-twitter;
}

.module-icon-twittermetro {
    @extend .fa-twitter-square;
}

.module-icon-video {
    @extend .fa-file-video-o;
}

.module-icon-videoin {
    @extend .fa-video-camera;
}

.module-icon-weather {
    @extend .fa-cloud;
}

.module-icon-webpage {
    @extend .fa-sitemap;
}

.module-icon-worldclock {
    @extend .fa-globe;
}

/* Tools icons */
.tool-icon-region {
    @extend .fa-clone;
}

.tool-icon-audio {
    @extend .fa-volume-up;
}

.tool-icon-expiry {
    @extend .fa-calendar-check-o;
}

.tool-icon-transitionIn {
    @extend .fa-sign-in;
}

.tool-icon-transitionOut {
    @extend .fa-sign-out;
}

.tool-icon-permissions {
    @extend .fa-user-secret;
}

/* Form icons */
.bg_not_found_icon {
    @extend .fa-exclamation-triangle;
    padding: 0 5px;
}

/* Context menu */
.context-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $loading-overlay-z-index;
}

.context-menu {
    position: absolute;
    z-index: ($loading-overlay-z-index + 1);
    opacity: 0.9;
    background: $context-menu-bg-color;
    border: $context-menu-border-color solid 2px;
    @include box-shadow(2px 2px 5px $context-menu-shadow);
}

.context-menu .sort-controls-container {
    text-align: center;
    background: $properties-panel-nav-active-fg-color;
}

.context-menu .sort-controls-container .context-menu-btn {
    color: $context-menu-btn-move-color;
}

.context-menu .sort-controls-container .context-menu-btn:hover {
    color: $context-menu-btn-move-hover-color;
}

.context-menu .main-button-container {
    margin: 2px 5px;
}

.context-menu .context-menu-btn {
    display: inline-block;
    font-size: 1.25rem;
    color: $context-menu-btn-color;
    cursor: pointer;
}

.context-menu .context-menu-btn:hover {
    color: $context-menu-btn-hover-color;
}

.context-menu .deleteBtn {
    color: $context-menu-bin-btn-color;
}

.context-menu .deleteBtn:hover {
    color: $context-menu-bin-btn-hover-color;
}