// Imports
@import "mixins";
@import "variables";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";


// CSS
/* Form Editor Controls */
.form-editor-controls {
    padding: 6px;
    background: $xibo-color-neutral-900;
    color: $xibo-color-neutral-100;

    .form-group {
        margin-right: 10px;

        input {
            height: 25px;
        }

        input[type=checkbox] {
            margin: 0 6px;
        }
    }

    select {
        padding: 4px;
        height: 28px;
    }
}

/* Tab System */
.form-container {
    .nav>li>a {
        color: $xibo-color-neutral-900;
        background-color: lighten($xibo-color-neutral-900, 30%);
        @include border-radius(0);
        border: 1px solid $xibo-color-neutral-100 !important;
        padding: 5px 7px;
    
        &:hover {
            color: $xibo-color-neutral-100;
            background-color: $xibo-color-primary !important;
        }

        &.active,
        &.active:hover {
            background-color: $xibo-color-neutral-100 !important;
            color: $xibo-color-primary;
        }
    }

    .tab-pane {
        padding-top: 5px;
    }

    /* Form drag and drop list */
    .connectedlist .ui-sortable {
        background-color: $xibo-color-primary;
        min-height: 80px;
    }

    .form-check {
        display: flex;
    }
    .form-check-label {
        flex-grow: 1;
    }
    .control-label {
        & > strong {
            + span[data-toggle="popover"] {
                margin-left: 10px;
            }
        }
    }
}

/* Layout Manager */
#layout-manager {
    left: 10px;
    top: 10px;
    z-index: 1;
    position: fixed;
    width: 220px;
    opacity: 0.8;

    #layout-manager-header {
        background: #2d2d2d;
        color: white;
        font-weight: bold;
        padding: 5px;
        border: #212121 3px solid;
    }

    #layout-manager-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 2px;
        color: #444;
        padding: 2px;
        background: #303030;
        border: #3e3e3e 4px solid;
    }

    .title {
        color: white;
        font-weight: bold;
        background-color: #4d4d4d;
        cursor: move;
        text-align: center;
    }

    .label {
        display: inline-block;
        width: 48%;
    }

    .change {
        color: black;
        background-color: #c3c3c3;
        padding: 2px;
        @include border-radius(2px);
    }

    .change.uploaded {
        background-color: #8dffa6;
    }
}

// Overlay and loading
.custom-overlay,
.loading-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    @include transparent-object(65);
    z-index: 2;
}

.loading-overlay {
    top: auto;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 0 12px 0 0;
}

.loading-overlay.loading {
    z-index: $loading-overlay-z-index;
}

.loading-overlay.loading .loading-icon {
    display: block;
    font-size: 4.3rem;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #ffffff;
}

/* Context menu */
.context-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $loading-overlay-z-index;

    .context-menu {
        position: absolute;
        z-index: ($loading-overlay-z-index + 1);
        opacity: 0.9;
        background: $xibo-color-primary-l10;
        border: $xibo-color-primary-l60 solid 1px;
        @include box-shadow(2px 2px 5px $xibo-color-neutral-900);

        .sort-controls-container {
            text-align: center;
            background: $xibo-color-secondary;

            .context-menu-btn {
                color: $xibo-color-primary-l60;

                &:hover {
                    color: $xibo-color-primary;
                }
            }
        }

        .main-button-container {
            margin: 0.25rem 0.5rem;
        }

        .context-menu-btn {
            display: inline-block;
            font-size: 1.25rem;
            color: $xibo-color-primary;
            cursor: pointer;

            &:hover {
                color: darken($xibo-color-primary, 5%);
            }
        }

        .deleteBtn {
            color: lighten($xibo-color-semantic-error, 5%);

            &:hover {
                color: $xibo-color-semantic-error;
            }
        }
    }
}

/* Modules icons */
// Font Awesome
/* TODO: Module icons should be based on classes defined in the module XML */
.module-icon-audio, .media-icon-audio {
    @extend .fa-file-audio;
}

.module-icon-calendar {
    @extend .fa-calendar-o;
}

.module-icon-ics-calendar {
    @extend .fa-calendar-alt;
}

.module-icon-chart {
    @extend .fa-pie-chart;
}

.module-icon-clock, .module-icon-clock-digital, .module-icon-clock-flip, .module-icon-clock-analogue {
    @extend .fa-clock-o;
}

.module-icon-countdown, .module-icon-countdown-days, .module-icon-countdown-table, .module-icon-countdown-text, .module-icon-countdown-clock {
    @extend .fa-hourglass-o;
}

.module-icon-currencies {
    @extend .fa-line-chart;
}

.module-icon-dataset {
    @extend .fa-table;
}

.module-icon-embedded {
    @extend .fa-code;
}

.module-icon-flash, .media-icon-flash {
    @extend .fa-flash;
}

.module-icon-forecastio {
    @extend .fa-cloud;
}

.module-icon-googletraffic {
    @extend .fa-car;
}

.module-icon-hls {
    @extend .fa-video-camera;
}

.module-icon-htmlpackage, .media-icon-htmlpackage {
    @extend .fa-file-code-o;
}

.module-icon-image, .media-icon-image {
    @extend .fa-file-image-o;
}

.module-icon-localvideo {
    @extend .fa-file-video-o;
}

.module-icon-notificationview {
    @extend .fa-bell-o;
}

.module-icon-pdf, .media-icon-pdf {
    @extend .fa-file-pdf-o;
}

.module-icon-playlist, .module-icon-subplaylist {
    @extend .fa-list-ol;
}

.module-icon-powerpoint, .media-icon-powerpoint {
    @extend .fa-file-powerpoint-o;
}

.module-icon-shellcommand {
    @extend .fa-terminal;
}

.module-icon-spacer {
    @extend .fa-hourglass-o;
}

.module-icon-mastodon {
    @extend .fab, .fa-mastodon;
}

.module-icon-stocks {
    @extend .fa-bar-chart;
}

.module-icon-text {
    @extend .fa-font;
}

.module-icon-rss-ticker {
    @extend .fa-rss;
}

.module-icon-twitter {
    @extend .fa-twitter;
}

.module-icon-twittermetro {
    @extend .fa-twitter-square;
}

.module-icon-video, .media-icon-video {
    @extend .fa-file-video-o;
}

.module-icon-videoin {
    @extend .fa-video-camera;
}

.module-icon-weather {
    @extend .fa-cloud;
}

.module-icon-webpage {
    @extend .fa-sitemap;
}

.module-icon-worldclock, .module-icon-worldclock-analogue, .module-icon-worldclock-digital, .module-icon-worldclock-flip {
    @extend .fa-globe;
}

.module-icon-menuboard {
    @extend .fa-th;
}

.module-icon-dashboard {
    @extend .fa-file-image;
}

/* Tools icons */
.tool-icon-region {
    @extend .fa-clone;
}

.tool-icon-audio {
    @extend .fa-volume-up;
}

.tool-icon-expiry {
    @extend .fa-calendar-check-o;
}

.tool-icon-transitionIn {
    @extend .fa-sign-in;
}

.tool-icon-transitionOut {
    @extend .fa-sign-out;
}

.tool-icon-permissions {
    @extend .fa-user-secret;
}

/* Actions icons */
.actions-icon-navLayout {
    @extend .fa-desktop;
}

.actions-icon-navWidget {
    @extend .fa-square-o;
}

.actions-icon-nextWidget {
    @extend .fa-caret-square-o-right;
}

.actions-icon-previousWidget {
    @extend .fa-caret-square-o-left;
}

.actions-icon-nextLayout {
    @extend .fa-arrow-circle-right;
}

.actions-icon-previousLayout {
    @extend .fa-arrow-circle-left;
}

/* Form icons */
.bg_not_found_icon {
    @extend .fa-exclamation-triangle;
    padding: 0 5px;
}