// Import
@import "mixins";
@import "common";
@import "topbar";

// Colours
$designer-colour-layout: $xibo-color-light-blue;
$designer-colour-region: $xibo-color-orange;
$designer-colour-widget: $xibo-color-green; 

// Variables
$designer-module-bg-color: $xibo-color-white;
$designer-module-border-color: $xibo-color-black;

$designer-primary-color: $xibo-color-primary;
$designer-secondary-color: $xibo-color-secondary;
$designer-z-index-select: 10;

$layout-main-bg-color: $xibo-color-light-blue;
$layout-main-fg-color: $xibo-color-black;
$layout-hover-color: lighten($layout-main-bg-color, 20%);
$layout-selected-color: lighten($layout-main-bg-color, 10%);

$region-main-bg-color: $xibo-color-orange;
$region-main-fg-color: $xibo-color-black;
$region-hover-color: lighten($region-main-bg-color, 30%);
$region-selected-color: lighten($region-main-bg-color, 20%);

$widget-main-bg-color: $xibo-color-green;
$widget-main-fg-color: $xibo-color-black;
$widget-hover-color: lighten($widget-main-bg-color, 20%);
$widget-selected-color: lighten($widget-main-bg-color, 10%);

$timeline-widget-bg-color: $xibo-color-white;
$timeline-widget-fg-color: $xibo-color-black;
$timeline-widget-fg-color2: darken($xibo-color-gray, 30%);
$timeline-widget-border-color: $xibo-color-gray;
$timeline-widget-to-sort-bg-color: $xibo-color-yellow;

$timeline-ghost-bg-color: $xibo-color-gray;
$timeline-ghost-fg-color: $xibo-color-white;

$timeline-transition-in-bg-color: darken($xibo-color-green, 30%);
$timeline-transition-out-bg-color: darken($xibo-color-red, 30%);
$timeline-transition-in-fg-color: $xibo-color-green;
$timeline-transition-out-fg-color: $xibo-color-red;

$top-btn-fg-colour: $xibo-color-light-blue;
$top-btn-hover-fg-colour: lighten($xibo-color-light-blue, 20%);

$viewer-player-bg-colour: $xibo-color-black;
$viewer-preview-text-colour: darken($xibo-color-white, 30%);
$viewer-preview-text-shadow-colour: darken($xibo-color-white, 60%);
$viewer-navbar-bg-colour: $xibo-color-gray;
$viewer-inline-editor-shadow: $xibo-color-red;
$viewer-inline-editor-overlay-fg-colour: $xibo-color-white;
$viewer-inline-editor-overlay-bg-colour: $xibo-color-secondary;

$navigator-shadow-colour: $xibo-color-white;
$navigator-non-editable-shadow-colour: $xibo-color-gray;

$designer-overlay-z-index: 1050;

$padding-navigator: 5px;

$unsuccess-message-bg-color: darken($xibo-color-red, 30%);
$layout-status-popover-message-bg-color: $xibo-color-red;

#read-only-message {
    margin: 5px 5%;
    padding: 10px;
    width: 90%;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// CSS
#layout-editor  {
    overflow: hidden;
    margin: 25px -15px 0 -15px;
}

#layout-editor-main {
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    height: calc(100vh - 140px);
}

#layout-editor .container-designer {
    margin: 0 16px;
}

@media (min-width: 768px) {
    .welcome-screen-modal .modal-dialog {
        width: 600px;
    }
}

@media (max-width: 768px) {
    #layout-editor-main {
        padding-top: 15px;
    }

    #layout-editor  {
        margin-top: 40px;
    }
}

#layout-editor .top-btn {
    top: 10px;
    position: absolute;
    font-size: 25px;
    @include set-transparent-color(color, $top-btn-fg-colour, 65%);
    text-shadow: 0px 0px 5px $xibo-color-black;
    z-index: 1;
    cursor: pointer;

    &:hover {
        color: $top-btn-hover-fg-colour;
    }

    &.top-right-btn {
        right: 15px;

        &.second {
            right: 45px;
        }
    }

    &.top-left-btn {
        left: 15px;

        &.second {
            left: 45px;
        }
    }
}

#layout-editor .layout-module {
    padding-right: 2px;
    padding-left: 2px;
    margin-bottom: 8px;
}

#layout-editor .center-msg {
    position: relative;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    font-weight: bold;
    @include set-transparent-color(color, $xibo-color-white, 50%);
    top: 50%;
    transform: translateY(-50%);
}

/* Layout timeline */
#layout-editor #layout-timeline {
    background: $designer-primary-color;
    padding: 5px;
    min-height: 25vh;
    overflow-y: auto;
    @include border-radius(4px);
    border: 2px solid $designer-module-border-color;
}

/* width */
#layout-editor #layout-timeline #regions-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
#layout-editor #layout-timeline #regions-container::-webkit-scrollbar-track {
    @include box-shadow(inset 0 0 5px $xibo-color-gray);
}
 
/* Handle */
#layout-editor #layout-timeline #regions-container::-webkit-scrollbar-thumb {
    background: $designer-secondary-color;
    @include border-radius(4px);
}

/* Handle on hover */
#layout-editor #layout-timeline #regions-container::-webkit-scrollbar-thumb:hover {
    background: lighten($designer-secondary-color, 20%);
}

#layout-editor #layout-timeline #regions-container::-webkit-scrollbar-corner {
    @include box-shadow(inset 0 0 5px $xibo-color-gray);
}

#layout-editor #layout-timeline #regions-container {
    overflow: auto;
    min-height: 18vh;
    max-height: 24vh;
}

#layout-editor #layout-timeline #controls-container .label {
    font-size: 13px;
    margin-bottom: 4px;

    &.label-custom {
        width: 45px;
        background-color: $designer-secondary-color;
    }

    &#zoom {
        width: 80px;
    }

    &.label-time {
        background: $xibo-color-white;
        color: $xibo-color-black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 60px;
    }
}

#layout-editor #layout-timeline #controls-container .layout-info {
    color: $xibo-color-white;
    position: absolute; 

    &.left {
        left: 80px;
    }

    &.right {
        right: 80px;
    }

    .layout-info-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 140px;
        float: left;
    }

    #layout-info-status {
        float: left;
        margin-right: 6px;
    }

    .popover {
        color: $xibo-color-black;
        min-width: 250px;
        
        .popover-title {
            padding: 4px;
            font-weight: bold;
            text-align: center;
        }

        .popover-content {
            padding: 0;  
        }

        .popover-content .status-message {
            padding: 6px;
            margin: 0px -1px 3px -1px;
            background: $layout-status-popover-message-bg-color;
            color: $xibo-color-white;
        }

        .popover-content .status-title {
            padding: 4px; 
            font-weight: bold;
        }
    }
}

#layout-editor #layout-timeline .designer-region {
    background: $region-main-bg-color;
    height: 48px;
    padding: 3px;
    margin: 4px 0;
    @include border-radius(4px);
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

#layout-editor #layout-timeline .designer-region:not(.editable) {
    @include box-shadow(inset 0 0 6px 4px $xibo-color-gray);
}

#layout-editor #layout-timeline .designer-region .message {
    color: $xibo-color-white;
    font-weight: bold;
    padding: 10px;
}

#layout-editor #layout-timeline #timeline-container {
    float: left;
    width: 100%;
}

#layout-editor #layout-timeline .label-region {
    height: 40px;
    padding: 10px 2px 0 0;
    text-align: right;
    font-weight: bold;
    margin-bottom: 4px;
    color: $region-main-fg-color;
}

#layout-editor #layout-timeline .designer-widget {
    position: relative;
    background: $timeline-widget-bg-color;
    color: $timeline-widget-fg-color;
    font-weight: bold;
    height: 100%;
    border: 1px solid $timeline-widget-border-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 4px;
    @include border-radius(4px);
}

#layout-editor #layout-timeline .designer-widget .widgetLabel {
    float: left;
    height: inherit;
    color: $designer-module-bg-color;
    min-width: 20px;
    height: 100%;
    text-align: center;
    opacity: 0.85;
    padding: 0 4px;
}

#layout-editor #layout-timeline .designer-widget .widgetName {
    font-style: italic;
    color: $timeline-widget-fg-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
    padding-left: 4px;
}

#layout-editor #layout-timeline .designer-widget .widgetProperties {
     float: right;
}

#layout-editor #layout-timeline .designer-widget .widget-transition-container {
    position: absolute;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
}

#layout-editor #layout-timeline .designer-widget .widget-transition {
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 70%;
    height: 30%;
    opacity: 0.3;
    font-size: 9px;
    color: $xibo-color-white;
}

#layout-editor #layout-timeline .designer-widget .widget-transition:hover {
    top: 50%;
    height: 50%;
    opacity: 0.6;
    font-size: 13px;
}

#layout-editor #layout-timeline .designer-widget .widget-transition-container.transition-in {
    left: 0;
    border-right: $timeline-transition-in-fg-color solid 2px;
}

#layout-editor #layout-timeline .designer-widget .widget-transition-container.transition-out {
    right: 0;
    border-left: $timeline-transition-out-fg-color solid 2px;
}

#layout-editor #layout-timeline .designer-widget .widget-transition.transition-in {
    background: $timeline-transition-in-bg-color;
    border-radius: 80% 0 0 0;
    text-align: right;
    padding-right: 5px;
}

#layout-editor #layout-timeline .designer-widget .widget-transition.transition-out {
    background: $timeline-transition-out-bg-color;
    border-radius: 0 80% 0 0;
    text-align: left;
    padding-left: 5px;
}

#layout-editor #layout-timeline .designer-widget i.editProperty {
    float: right;
    cursor: pointer;
    padding: 2px;
    color: $widget-main-fg-color;
}

#layout-editor #layout-timeline .designer-widget i.editProperty:hover {
    color: lighten($widget-main-fg-color, 20%);
}

#layout-editor #layout-timeline .designer-widget-ghost {
    @include set-transparent-color(background, $timeline-ghost-bg-color, 60%);
    color: $timeline-ghost-fg-color;
    font-weight: bold;
    display: flex;
    height: 100%;
}

#layout-editor #layout-timeline .designer-widget-ghost .widgetName,
#layout-editor #layout-timeline .designer-widget-ghost .widgetSubType {
    color: $timeline-ghost-fg-color;
}

#layout-editor #layout-timeline .designer-widget-sortable-highlight {
    background: $xibo-color-yellow;
    float: left;
    width: 20px;
    height: 100%;
    border: none;
}


#layout-editor #layout-timeline .ghost-padding {
    @include set-transparent-color(background, $xibo-color-black, 20%);
    float: left;
    height: 100%;
}

#layout-editor #layout-timeline .widgetExtension {
    color: $timeline-ghost-fg-color;
    padding: 0 4px;
    font-weight: bold;
    @include set-transparent-color(background, $xibo-color-white, 50%);
    height: 80%;
    margin-top: 0.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Layout Viewer */
#layout-editor #layout-viewer-container {
    @include border-radius(4px);
    border: 2px solid $designer-module-border-color;
    background: $xibo-color-black;
}

#layout-editor #layout-viewer {
    min-height: 45vh;

    #inline-editor-save {
        display: none;
    }
}

#layout-editor .layout-viewer-border {
    @include set-transparent-color(background, $xibo-color-black, 90%);
    position: absolute;
}

#layout-editor #layout-viewer-container.fullscreen {
    @include set-transparent-color(background-color, $xibo-color-black, 90%);
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 
    #layout-viewer {
        position: fixed; /* Stay in place */
        z-index: $designer-overlay-z-index; /* Sit on top */
        left: 0;
        top: 5%;
        width: 100%;
        height: 90%;
        @include set-transparent-color(background-color, $xibo-color-black, 90%);

        .top-btn {
            position: fixed;
            z-index: 2000;
        }
    }
}

#layout-editor #layout-viewer .viewer-element {
    position:relative;
}

#layout-editor #layout-viewer .viewer-element .module-preview-icon {
    font-size: 4em;
    margin-top: 10px;
}

#layout-editor #layout-viewer .cke_textarea_inline {
    display: none;
}

#layout-editor #layout-viewer #viewer-preview iframe {
    @include user-select-none();
}

#layout-editor #layout-viewer {
    background: $viewer-player-bg-colour;
}

#layout-editor #layout-viewer #viewer-preview {
    color: $viewer-preview-text-colour;
    text-shadow: 0px 0px 2px $viewer-preview-text-shadow-colour;
}

#layout-editor #layout-viewer .layout-player {
    background: $viewer-player-bg-colour;
    @include box-shadow(0 0 4px 0px $xibo-color-gray);
}

#layout-editor #layout-viewer .play-btn-container {
    position: relative;
    width: 100%;
    display: table;
    height: 100%;
    text-align: center;
    @include set-transparent-color(background, $viewer-player-bg-colour, 20%);
}

#layout-editor #layout-viewer .designer-region {

    .module-preview-icon {
        font-size: 2em;
    }

    @include set-transparent-color(background, $xibo-color-white, 30%);
    @include box-shadow(0 0 4px 0px $xibo-color-black);

    .loading-icon {
        font-size: inherit;
    }

    .center-msg {
        font-size: 12px;
        overflow: visible;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .preview-select {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .preview-paging {
        position: absolute;
        color: $xibo-color-white;
        display: none;
        position: absolute;
        min-width: 100%;
        width: max-content;
        height: 20px;
        bottom: 0;
        z-index: 2;
        @include set-transparent-color(background, $xibo-color-black, 50%);
        opacity: 0.2;
        padding: 0 4px;
        white-space: nowrap;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .preview-paging.active {
        display: block;
    }

    .preview-paging-message {
        font-weight: bold;
        font-size: 13px;
    }

    .preview-paging-name {
        font-weight: bold;
        font-style: italic;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .widget-arrow
    {
        display: none;
        cursor: pointer;
        padding: 2px 3px;
        color: $xibo-color-gray;

        &:hover {
            color: $xibo-color-white;
        }
    }
    
    &:hover {
        @include set-transparent-color(background, $xibo-color-white, 50%);
        @include box-shadow(0 0 4px 2px $xibo-color-black);

        .preview-paging.active {
            opacity: 0.9;
        }
    }
}

/* Viewer navbar */
#layout-editor #layout-viewer-navbar {

    background: darken($layout-main-bg-color, 10%);
    height: 45px;
    
    .viewer-navbar {
        background: $viewer-navbar-bg-colour;
        height: 42px;
        padding: 6px 3px;
        overflow: auto;
        @include border-radius(0 0 2px 2px);
    }
}

#layout-editor #layout-viewer-container.fullscreen #layout-viewer-navbar {
    position: fixed;
    z-index: 2000;
    width: 100%;
    left: 0;
    bottom: 0;

    .viewer-navbar {
        height: 100%;
    }
}

#layout-editor #layout-viewer-navbar .viewer-navbar .row > div {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

/* CKEditor controls */
#layout-editor #layout-viewer-navbar .viewer-navbar .ckeditor_controls > div {
    padding: 0 5px;
    float: right;
}

#layout-editor #layout-viewer-navbar .viewer-navbar .ckeditor_controls .select2-container--bootstrap .select2-selection--single {
    height: 26px;
    padding: 2px 24px 2px 4px;
}

#layout-editor #layout-viewer-navbar .viewer-navbar .inline-editor-templates .control-label {
    padding: 0 3px 0 0;
    text-align: right;
}

#layout-editor #layout-viewer-navbar .viewer-navbar .inline-editor-templates .ckeditor_select_container {
    padding: 0;
}

#layout-editor #layout-viewer-navbar .viewer-navbar.designer-layout {
    background: darken($designer-secondary-color, 10%);
}

#layout-editor #layout-viewer-navbar .viewer-navbar.designer-region {
    background: darken($region-main-bg-color, 10%);
}

#layout-editor #layout-viewer-navbar .viewer-navbar.designer-widget {
    background: darken($widget-main-bg-color, 10%);
}

#layout-editor #layout-viewer-navbar .viewer-navbar .info {
    float: right;
    font-size: 19px;
}

/* Viewer inline editor */
#layout-editor #inline-editor {
    height: inherit;
    @include box-shadow(inset $viewer-inline-editor-shadow 0px 0px 10px 0px);
}

/* Inline Editor Overlay */
#layout-editor #inline-editor-overlay {
    position: absolute;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%; 
    @include set-transparent-color(background, $viewer-inline-editor-overlay-bg-colour, 20%);
    @include box-shadow(inset $viewer-inline-editor-overlay-bg-colour 0px 0px 10px 0px);

    &:hover {
        @include set-transparent-color(background, $viewer-inline-editor-overlay-bg-colour, 50%);
    }

    .edit-btn-container {
        display: table;
        width: 100%;
        height: 100%; 

        #edit-btn {
            font-size: 60px;
            text-shadow: 0px 0px 5px $xibo-color-black;
            @include set-transparent-color(color, $viewer-inline-editor-overlay-fg-colour, 80%);
            vertical-align: middle;
            display: table-cell;
            
            &:hover {
                @include set-transparent-color(color, $viewer-inline-editor-overlay-fg-colour, 90%);
            }
        }
    }
}

#layout-editor .inline-editor-opened,
#layout-editor .inline-editor-closed,
#layout-editor .inline-editor-closed#inline-editor-overlay {
    display: none;
}

/* Properties Panel */
#layout-editor #properties-panel {
    padding: 0;
}

#layout-editor #properties-panel .form-title.unsuccessMessage {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: $xibo-color-white;
    padding: 30px;
    background-color: $unsuccess-message-bg-color;
}

#layout-editor #properties-panel-container {
    background: $designer-module-bg-color;
    height: calc(45vh + 49px);
    position: relative;
}

/* Hide playlist editor only messages */
#layout-editor #properties-panel-container .playlist-editor-message {
    display: none;
}

#layout-editor #properties-panel-container.properties-layout {
    @include border-radius(4px);
    border: 2px solid $layout-main-bg-color;
}

#layout-editor #properties-panel-container.properties-region {
    @include border-radius(4px);
    border: 2px solid $region-main-bg-color;
}

#layout-editor #properties-panel-container.properties-widget {
    @include border-radius(4px);
    border: 2px solid $widget-main-bg-color;
}

#layout-editor #properties-panel-container .form-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: $xibo-color-white;
}

#layout-editor #properties-panel-container .form-title-layout {
    color: $layout-main-fg-color;
    background: $layout-main-bg-color;
}

#layout-editor #properties-panel-container .form-title-region {
    color: $region-main-fg-color;
    background: $region-main-bg-color;
}

#layout-editor #properties-panel-container .form-title-widget {
    color: $widget-main-fg-color;
    background: $widget-main-bg-color;
}

#layout-editor #properties-panel-container .form-container {

    overflow-x: hidden;
    overflow-y: auto;
    height: calc(45vh - 22px);

    /*
        .row > .nav + div form {
        height: calc(46vh - 72px);
    }
    */

    .row > div {
        padding: 5px;
        margin: 0;
    }

    .row > div > form {
        margin-right: -5px;
        padding-right: 5px;
        
        .row > div  {
            padding: 4px 8px;
        }
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            @include box-shadow(inset 0 0 5px $xibo-color-gray);
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $designer-secondary-color;
            @include border-radius(4px);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: lighten($designer-secondary-color, 20%);
        }

        &::-webkit-scrollbar-corner {
            @include box-shadow(inset 0 0 5px $xibo-color-gray);
        }

    }

    table td span.label {
        white-space: inherit;
    }
}

#layout-editor #properties-panel-container .button-container {
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Layout Navigator */
#layout-editor #layout-navigator {
    background: $designer-primary-color;
    min-height: 25vh;
    padding: $padding-navigator;
    @include border-radius(4px);
    border: 2px solid $designer-module-border-color;
}

#layout-editor #layout-navigator .layout {
    @include box-shadow(inset 0 0 4px 0px $navigator-shadow-colour);
}

#layout-editor #layout-navigator .designer-region {
    @include box-shadow(inset 0 0 4px 1px $navigator-shadow-colour);
}

#layout-editor #layout-navigator .designer-region:not(.editable) {
    @include box-shadow(inset 0 0 4px 2px $navigator-non-editable-shadow-colour);
}

#layout-editor #layout-navigator-edit .layout {
    @include box-shadow(inset 0 0 5px 0px $navigator-shadow-colour);
}

#layout-editor #layout-navigator-edit .designer-region {
    @include box-shadow(inset 0 0 10px 2px $navigator-shadow-colour);
}

#layout-editor #layout-navigator-edit .designer-region:not(.editable) {
    @include box-shadow(inset 0 0 10px 2px $navigator-non-editable-shadow-colour);
}

#layout-editor #layout-navigator-edit {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: $designer-overlay-z-index;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    @include set-transparent-color(background-color, $xibo-color-black, 90%);
}

#layout-editor .layout-navigator-edit-element {
    float: left;
}

#layout-editor #layout-navigator-edit-content {
    background: $xibo-color-black;
    width: 94vw;
    height: 87vh;
    margin-left: 3vw;
    margin-top: 3vh;

    .top-right-btn {
        right: 25px;
        top: 5px;
    }
}

#layout-editor #layout-navigator-properties-panel {
    background: $xibo-color-gray;
    width: 30vw;
    height: 87vh;
    margin-top: 3vh;
    display: none;

    #properties-panel-container {
        height: 100%;
    }
    
    .form-container form {
        min-height: 75vh;
    }

    .form-container .row > div  {
        padding: 5px;
    }

    .loading-container {
        position: relative;
    }

    .button-container {
        display: none;
    }

    #setFullScreenButton {
        white-space: normal;
    }
}

#layout-editor #layout-navigator-edit #layout-navigator-edit-navbar {
    width: 100vw;

    .navbar {
        padding: 7px;
        background: $designer-secondary-color;
        @include border-radius(0 0 4px 4px);
        left: 3vw;
        width: 94vw;
    }
}

#layout-editor #layout-navigator-edit.region-selected {

    #layout-navigator-edit-content {
        width: 64vw;
    }

    #layout-navigator-properties-panel {
        display: block;
    }
}

/* Layout object selection */
#layout-editor .selectable {
    @include user-select-none();
}

#layout-editor .designer-region.selectable:hover {
    background: $region-hover-color !important;
}

#layout-editor #layout-timeline .designer-region .designer-region-overlay {
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    @include border-radius(4px);

    .info {
        position: absolute;
        top: 12px;
        left: 12px;
        font-weight: bold;
        font-size: 16px;
    }
}

#layout-editor #layout-timeline .designer-widget.selectable:hover {
    background: $widget-hover-color !important;
}

#layout-editor .selected-region {
    background: $region-selected-color !important;
}

#layout-editor #layout-navigator .designer-region.selected-widget,
#layout-editor .designer-widget.selected-widget {
    background: $widget-selected-color !important;
}

#layout-editor  #layout-timeline .designer-widget.ui-droppable-active {
    @include z-index-set($designer-z-index-select);
    @include background-stripes(45deg, $widget-hover-color, lighten($widget-hover-color, 10%), 10px, 4px);
    visibility: visible;
}

#layout-editor #layout-timeline .designer-widget.ui-droppable-active.ui-droppable-hover,
#layout-editor #layout-timeline .designer-widget.ui-droppable-active:hover {
    @include background-stripes(45deg, darken($widget-hover-color, 10%), $widget-hover-color, 10px, 4px);
}

#layout-editor  #layout-timeline .designer-widget.ui-droppable-active * {
    visibility: hidden;
}

#layout-editor  #layout-timeline .designer-widget.invalid-widget {
    @include box-shadow(inset 0px 0px 10px 3px $xibo-color-red);
}

#layout-editor  #layout-timeline .designer-region.to-sort .designer-widget {
    background: $timeline-widget-to-sort-bg-color !important;
}

#layout-editor #layout-timeline .designer-region.ui-droppable-active {
    @include z-index-set($designer-z-index-select);

    .designer-region-overlay {
        @include background-stripes(45deg, $region-hover-color, lighten($region-hover-color, 10%), 10px, 4px);
        display: block;
        opacity: 0.75;
    }

    &.ui-droppable-hover, &:hover {
        .designer-region-overlay {
            @include background-stripes(45deg, darken($region-hover-color, 10%), $region-hover-color, 10px, 4px);
        }
    }
}

#layout-editor #layout-navigator .designer-region.ui-droppable-active {
    @include z-index-set($designer-z-index-select);
    @include background-stripes(45deg, $region-hover-color, lighten($region-hover-color, 10%), 10px, 4px);

    &.ui-droppable-hover,
    &:hover {
        @include background-stripes(45deg, darken($region-hover-color, 10%), $region-hover-color, 10px, 4px);
    }

    * {
        visibility: hidden;
    }
}

#layout-editor  #layout-navigator .layout.ui-droppable-active {
    @include z-index-set($designer-z-index-select);
    @include background-stripes(45deg, $layout-hover-color, lighten($layout-hover-color, 10%), 10px, 4px);
}

#layout-editor  #layout-navigator .layout.ui-droppable-active.ui-droppable-hover,
#layout-editor  #layout-navigator .layout.ui-droppable-active:hover {
    @include background-stripes(45deg, darken($layout-hover-color, 10%), $layout-hover-color, 10px, 4px);
}

#layout-editor  #layout-navigator .layout.ui-droppable-active * {
    visibility: hidden;
}

#layout-editor .ui-droppable-active {
    @include box-shadow(inset 0 0 2px $xibo-color-white);
}

#layout-editor .ui-droppable-hover {
    @include box-shadow(inset 0 0 4px #313131);
}


/* Loading Container */
#layout-editor .loading-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#layout-editor .loading-container .loading-icon {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 75px;
    color: $xibo-color-white;
    z-index: 0;
}

@media (max-width: 768px) {
    #layout-editor #bottom-toolbar {
        padding: 5px 0 0 5px;
    }
}

/* Select2 width fix */
#layout-editor .select2-container {
    width: auto !important;
}