@import "variables";
@import "mixins";


.input-info-container {
    float: right;
    padding-top: 6px;

    .input-info {
        float: right;
        margin-left: 4px;
        color: $xibo-color-primary-l60;

        &.checkbox-popup {
            padding-top: 3px;
        }
    }
}

.text-area-buttons {
    display: flex;
    justify-content: flex-end;
}

/* Code input */
.code-input-group {
    .code-input-editor-container {
        background-color: $xibo-color-neutral-900;
        padding: 6px;
        height: 250px;
        border: 2px solid $xibo-color-neutral-700;
        border-radius: 3px;

        .code-input-editor {
            width: 100%;
            height: 100%;
        }
    }

    /* Fix for monaco editor helper */
    .monaco-editor .editor-widget.suggest-widget {
        left: 0 !important;
    }
}

/* Data input */
.date-input-group {

    .input-group {
        & > .form-control:not([type="hidden"]) {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            background-color: white;
            cursor: pointer;
        }
    }
}

/* Header */
.header {
    font-weight: bold;
    font-size: 1.1rem;
    color: $xibo-color-primary;
    margin-left: -4px;

    &.main {
        color: $xibo-color-primary-d60;
        font-size: 1.3rem;
    }
}

/* Rich text input */
.rich-text-container {
    transition: transform 200ms;
    transform-origin: top right;

    .cke_textarea_inline {
        box-shadow: none !important;
        outline: 2px solid $xibo-color-neutral-700;
    }

    &.detached {
        transform: scale(2);
        z-index: 3001;
        position: absolute;

        .text-area-buttons {
            transform: scale(calc(1/2));
            transform-origin: bottom right;
            @include set-transparent-color(background-color, $xibo-color-neutral-1000, 0.1);

            button {
                color: $xibo-color-neutral-0;
            }
        }
    }
}