@import "variables";

.form-help-popup {
    float: right;
    padding-top: 6px;
    color: $xibo-color-primary-l60;

    &.checkbox-popup {
        padding-top: 3px;
    }
}

/* Code input */
.code-input-group {
    .code-input-editor-container {
        background-color: $xibo-color-neutral-900;
        padding: 6px;
        height: 250px;
        border: 2px solid $xibo-color-neutral-700;
        border-radius: 3px;

        .code-input-editor {
            width: 100%;
            height: 100%;
        }
    }

    /* Fix for monaco editor helper */
    .monaco-editor .editor-widget.suggest-widget {
        left: 0 !important;
    }
}

/* Data input */
.date-input-group {

    .input-group {
        & > .form-control:not([type="hidden"]) {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            background-color: white;
            cursor: pointer;
        }
    }
}

/* Header */
.header {
    font-weight: bold;
    font-size: 1.1rem;
    color: $xibo-color-primary;
    margin-left: -4px;

    &.main {
        color: $xibo-color-primary-d60;
        font-size: 1.3rem;
    }
}