// Playlist Editor ( common properties )
// Imports
@import "variables";
@import "mixins";


// Variables
$left-bar-width: 100px;
$top-bar-height: 38px;

.playlist-editor-inline-container {
    padding: 16px;

    #playlist-editor {
        @include border-radius(4px);
        outline: 1px solid $xibo-color-neutral-300;
        background-color: $xibo-color-neutral-0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .editor-body {
            flex: 1;
            display: flex;

            .time-grid {
                color: $xibo-color-neutral-700;
                background-color: $xibo-color-neutral-300;
                height: 100%;
                width: $left-bar-width;
            }

            #playlist-timeline {
                flex: 1;
                margin: 0;
                border: 0;
                background-color: $xibo-color-neutral-0;

                .playlist-widget {
                    @include border-radius(2px);
                    background-color: $xibo-color-primary-l10;
                    color: $xibo-color-secondary;
                    outline: 1px solid $xibo-color-primary-d60;

                    .info {
                        @include border-radius(4px 0 0 4px);
                        background-color: $xibo-color-primary;
                        color: $xibo-color-neutral-0;
                    }
                }
            }
        }

        .editor-footer {
            height: $top-bar-height;
            display: flex;

            .footer-controls {
                background-color: $xibo-color-primary-d60;
                width: $left-bar-width;
                height: 100%;
                display: flex;

                .btn {
                    color: $xibo-color-neutral-100;
                    width: 25%;
                    padding: 0;
                    border-radius: 0;
                    border: none;

                    i {
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: $xibo-color-secondary;
                    }
                }
            }

            .footer-info-bar {
                color: $xibo-color-neutral-100;
                background-color: $xibo-color-primary;
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;

                i {
                    margin: auto 0.5rem;
                    font-size: 1.2rem;
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }
}