// Imports
@import "variables";
@import "mixins";

// Variables
$playlist-editor-main-background-color: $xibo-color-white;
$playlist-editor-main-fb-color: $xibo-color-black;
$playlist-editor-min-content-height: 40vh;
$playlist-editor-max-content-height: 65vh;

$playlist-editor-widget-bg-color: $xibo-color-white;
$playlist-editor-widget-fg-color:$xibo-color-black;
$playlist-editor-widget-fg-color2: $xibo-color-gray-dark;
$playlist-editor-widget-selected-color: $xibo-color-green;
$playlist-editor-widget-multi-selected-color: lighten($xibo-color-purple, 20%);
$playlist-editor-widget-hover-bg-color: lighten($xibo-color-green, 20%);
$playlist-editor-widget-border-color: $xibo-color-gray-dark;
$playlist-editor-playlist-hover-color-color: lighten($xibo-color-primary, 20%);

$playlist-editor-z-index-background: 1011;
$playlist-editor-z-index-overlay: 1012;
$playlist-editor-z-index-select: 1013;

$playlist-editor-timeline-fg-color: $xibo-color-primary;

$playlist-editor-unsuccess-message-bg-color: $xibo-color-red;

// CSS
.editor-modal {
    display: block;
    z-index: $playlist-editor-z-index-background;
    overflow: auto;
    @include set-transparent-color(background, $xibo-color-black, 0.6);

    &.toolbar-opened {
        margin-left: 350px;
    }

    .editor-modal-content {
        background: $playlist-editor-main-background-color;
        margin-bottom: 60px;
    }

    .editor-modal-body {
        padding: 15px 0 0 0;
    }

    .editor-modal-title {
        line-height: 1;
        font-weight: bold;
        color: $playlist-editor-main-fb-color;
    }
}

// Bootbox custom dialogs
.second-dialog {
    z-index:  3100;

    & + .in.modal-backdrop {
        z-index:  3000;
    }

    & ~ .select2-container.select2-container--open {
        z-index:  3200;
    }
}

.inner-modal {
    z-index: 3101;
}

.vakata-context {
    z-index: 3102;
}

.playlist-widget-preview {
    z-index: $playlist-editor-z-index-background;

    &.tooltip.right .tooltip-arrow {
        border-right-color: $properties-panel-nav-active-fg-color;
    }

    .tooltip-inner-image {
        min-height: 50px;
        padding: 4px;
        background-color: $properties-panel-nav-active-fg-color;
        border-radius: 4px;
        
        img {
            height: 60px;
            max-width: 200px;
        }
    }
}

.multi-delete-modal .multi-delete-element {

    & > div {
        overflow: hidden;
    }

    .checkbox, .help-block {
        margin: 0;
    }
}

#playlist-editor {
    .editor-toolbar nav {
        margin-left: 0 !important;
        padding-left: 0;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: $xibo-color-white;
        @include border-radius(6px);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $xibo-color-blue-darker;
        @include border-radius(4px);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: lighten($xibo-color-blue-darker, 20%);
    }

    ::-webkit-scrollbar-corner {
        @include box-shadow(inset 0 0 5px $xibo-color-gray-dark);
    }

    #playlist-timeline {
        background: $xibo-color-white;
        @include border-radius(4px);
        border: 2px solid $playlist-editor-timeline-fg-color;
        margin-bottom: 10px;
        
        #timeline-container {
            padding: 5px;
            height: $playlist-editor-max-content-height;
            overflow: auto;
            position: relative;

            @media (max-width: 992px) {
                height: auto;
            }
        }

        #timeline-overlay-container {
            display: none;
            padding: 0;
            position: absolute !important;
            width: 100%;
            min-height: 100%;
            top: 0;
            left: 0;
            opacity: 0.6;

            .timeline-overlay-step {
                height: 14px;
                background: darken($xibo-color-white, 10%);
                margin-top: -5px;
                margin-bottom: 5px;

                &:hover, &.ui-droppable-hover {
                    background: lighten($xibo-color-white, 10%);
                    @include box-shadow(0px 0px 3px 1px $xibo-color-white);
                }
            }

            .timeline-overlay-dummy {
                height: 32px;
            }

            :nth-child(1) {
                height: 12px;
                margin: 0;
            }

            :nth-child(2) {
                height: 35px;
            }
        }

        &.ui-droppable-active {
            #timeline-overlay-container {
                display: block;
                @include z-index-set($playlist-editor-z-index-select);
                background: darken($playlist-editor-playlist-hover-color-color, 20%);
            }
        }

        &.ui-droppable-active.ui-droppable-hover,
        &.ui-droppable-active:hover {
            #timeline-overlay-container {
                display: block;
                background: darken($playlist-editor-playlist-hover-color-color, 10%);
            }
        }
    }

    .playlist-timeline-container {
        z-index: auto;
    }

    &.multi-select {
        .playlist-timeline-container {
            z-index: $playlist-editor-z-index-select;
        }
    }

    #playlist-properties-panel  {
        background: $xibo-color-white;
        padding: 0;
        @include border-radius(4px);
        border: 2px solid $playlist-editor-widget-selected-color;

        .form-container form {
            padding-top: 10px;
        }

        /* Select2 width fix */
        .select2-container {
            width: auto !important;
        }

        /* Hide layout designer only messages */
        .layout-designer-message {
            display: none;
        }
    }

    #properties-panel-container .button-container {
        padding: 5px;
        bottom: 0;
        font-size: 0;
        width: 100%;

        & > button {
            margin: 0 2px;
        }
    }

    #dropzone-container {
        padding: 10px;

        .loading-container {
            padding: 200px;
            font-size: 7.15rem;
        }

        .dropzone  {
            font-size: 2.2rem;
            border: 2px dashed $xibo-color-secondary;
            @include border-radius(4px);
            min-height: 590px;
            padding: 270px 0;
        }
    }

    #dropzone-container {
        &.ui-droppable-active {
            @include z-index-set($playlist-editor-z-index-select);
            background: darken($playlist-editor-main-background-color, 30%);
        }

        &.ui-droppable-active.ui-droppable-hover,
        &.ui-droppable-active:hover {
            background: darken($playlist-editor-main-background-color, 10%);
        }
    }

    .custom-overlay {
        z-index: $playlist-editor-z-index-overlay;
    }

    .form-title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        color: $xibo-color-white;
        background: $xibo-color-primary;
        border-width: 0 0 4px 0;
        border-style: solid;
        height: 30px;

        &.unsuccessMessage {
            margin: 20px 0;
            background-color: $playlist-editor-unsuccess-message-bg-color;
        }
    }

    /* Playlist Widget */
    .playlist-widget {
        background: $playlist-editor-widget-bg-color;
        color: $playlist-editor-widget-fg-color;
        font-weight: bold;
        height: 42px;
        width: 100%;
        @include border-radius(4px);
        border: 1px solid $playlist-editor-widget-border-color;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 4px;

        &:not(.editable) {
            @include box-shadow(inset 0 0 4px 2px $xibo-color-gray-dark);
        }

        &.selectable {
            @include user-select-none();
        }

        &.selected {
            background: $playlist-editor-widget-selected-color !important;
        }

        &.selectable:hover {
            background: $playlist-editor-widget-hover-bg-color !important;
        }

        &.ui-droppable-active {
            @include z-index-set($playlist-editor-z-index-select);
            background: darken($playlist-editor-widget-hover-bg-color, 30%);
        }

        &.ui-droppable-active.ui-droppable-hover,
        &.ui-droppable-active:hover {
            background: darken($playlist-editor-widget-hover-bg-color, 50%);
        }

        &.ui-droppable-active * {
            visibility: hidden;
        }

        i.editProperty {
            float: right;
            cursor: pointer;
            padding: 2px;
            color: $playlist-editor-widget-fg-color;
        }

        .widgetLabel {
            color: $playlist-editor-main-background-color;
            width: 30px;
            height: 100%;
            text-align: center;
            float: left;

            .widgetDuration {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                padding: 0 2px;
            }
        }

        .widgetName {
            font-style: italic;
            color: $playlist-editor-widget-fg-color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 90%;
            padding-left: 4px;
        }

        .widgetProperties {
            float: right;
        }

        i.editProperty:hover {
            color: lighten($playlist-editor-widget-fg-color, 20%);
        }

        &.invalid-widget {
            @include box-shadow(inset 0px 0px 10px 3px $xibo-color-red);
        }
    }

    &.multi-select {
        .playlist-widget {
            &:hover {
                background: lighten($playlist-editor-widget-multi-selected-color, 20%) !important;
            }

            &.multi-selected {
                    background: $playlist-editor-widget-multi-selected-color !important;
            }
        }
    }

    .ui-droppable-active {
        @include box-shadow(inset 0 0 20px $xibo-color-white);
    }

    .ui-droppable-hover {
        @include box-shadow(inset 0 0 10px $xibo-color-black);
    }
}