// Import
@import "common";

// Variables
$toolbar-tab-min-width: 80px; 
$toolbar-z-index: 1040;

// Colours
$toolbar-main-color: $xibo-color-secondary;
$toolbar-secondary-color: $xibo-color-primary;
$toolbar-green: darken($xibo-color-green, 20%);
$toolbar-light-green: $xibo-color-green;
$toolbar-dark-blue: $xibo-color-primary;
$toolbar-card-color: $xibo-color-primary;
$toolbar-content-bg-color: $xibo-color-white;
$toolbar-disabled-color: $xibo-color-gray;

$toolbar-tab-bg-color: $xibo-color-primary;
$toolbar-tab-fg-color: $xibo-color-white;
$toolbar-tab-hover-color: $xibo-color-light-blue;
$toolbar-tab-border-color: $xibo-color-secondary;

$bin-bg-color: $xibo-color-red;
$bin-fg-color: $xibo-color-white;
$bin-bg-color-hover: darken($xibo-color-red, 20%);

$undo-bg-color: $xibo-color-orange;
$undo-fg-color: $xibo-color-white;
$undo-bg-color-hover: darken($xibo-color-orange, 20%);

// CSS
.editor-toolbar nav {
    background: $toolbar-main-color;
    z-index: $toolbar-z-index;
    margin-left: 0;
    min-height: 40px;
    border: none;
}

#page-wrapper .editor-toolbar nav {
    margin-left: 180px;
}

@media (max-width: 768px) {
    .editor-toolbar nav,
    #page-wrapper .editor-toolbar nav {
        margin-left: 0;
    }
}

.editor-toolbar .container-toolbar {
    padding: 0 15px;
}

.editor-toolbar .container-toolbar .navbar-btn {
    margin: 8px 3px;
}

.editor-toolbar .container-toolbar .navbar-peek-button {
    width: 50px;
    text-align: center;
    font-size: 24px;
    padding: 5px 10px;
    line-height: 30px;
    @include set-transparent-color(background, $toolbar-disabled-color, 30%);
    color: lighten($toolbar-disabled-color, 30%);
    opacity: 0.4;
    cursor: unset;

    &.active {
        cursor: pointer;
        opacity: 1;

        &.navbar-bin {
            background: $bin-bg-color;
            color: $bin-fg-color;
        }

        &.navbar-bin:hover {
            background: $bin-bg-color-hover !important;
        }

        &.navbar-undo {
            background: $undo-bg-color;
            color: $undo-fg-color;
        }

        &.navbar-undo:hover {
            background: $undo-bg-color-hover !important;
        }
    }
}


.editor-toolbar .container-toolbar .navbar-right {
    padding-right: 15px;
}

.editor-toolbar .toolbar-content {
    background: $toolbar-content-bg-color;
}

.editor-toolbar .toolbar-pane-content {
    display: inline-block;
    font-size: 0; /* To remove the whitespace between elements */
    padding: 5px 0;
}

.editor-toolbar .search-content {
    width: 50%;
    background: $xibo-color-white;
    border: 4px solid $xibo-color-blue;
    opacity: 0.95;
    position: fixed;
    bottom: 50px;
    right: 0px;
    height: fit-content;

    .drag-handle {
        cursor: grab;
    }

    &.ui-draggable-dragging .drag-handle {
        cursor: grabbing;
    }

    .media-search-controls {
        color: $xibo-color-white;
        font-size: 16px;
        font-weight: bold;
        padding: 4px;

        i.fa {
            cursor: pointer;
            color: $toolbar-tab-hover-color;
            font-size: 20px;
            &:hover {
                color: $toolbar-tab-fg-color;

                &.btn-window-close {
                    color: $bin-bg-color;
                }
                
            }
        }
    }

    .dataTables_length {
        margin-top: 5px;
    }

    .media-table {

        width: 100% !important;

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }

        tr.media-selected {
            background-color: $toolbar-tab-hover-color;
        }
        
        .assignItem {
            color: $toolbar-main-color;
            font-size: 16px;
        }

        tbody>tr>td {
            padding: 4px;
            img {
                height: 50px;
            }
        }
    }
}

.editor-toolbar .toolbar-pane {
    display: none;
}

.editor-toolbar .toolbar-pane.active {
    display: block;
}

.editor-toolbar .toolbar-pane form {
    background: $xibo-color-blue;
    padding: 5px 5px;
}

/* Toolbar - pagination */
.editor-toolbar .toolbar-content button.pagination-btn {
    width: 5%;
    height: 90px;
    @include border-radius(0);
}

.editor-toolbar .toolbar-content button.pagination-btn[disabled] {
    background: $toolbar-disabled-color;
}

.editor-toolbar .toolbar-content button.pagination-btn[disabled]:hover {
    opacity: 1;
}

.editor-toolbar .toolbar-content button.pag-btn-left {
    float: left;
}

.editor-toolbar .toolbar-content button.pag-btn-right {
    float: right;
}

/* Toolbar - card */
.editor-toolbar .toolbar-content .toolbar-card {
    display: inline-block;
    background: $toolbar-card-color;
    color: $xibo-color-white;
    text-align: center;
    height: 70px;
    font-size: 12px;
    position: relative;
    @include border-radius(4px);
}

.editor-toolbar .toolbar-content .toolbar-card .card-title {
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    margin: 0 5%;
    padding: 0 5%;
    text-overflow: ellipsis;
}

.editor-toolbar .toolbar-content .toolbar-card .img-container {
    height: 45px;
    margin-top: 10px;
}

.editor-toolbar .toolbar-content .toolbar-card .add-area {
    display: none;
    position: absolute;
    width: inherit;
    height: 30px;    
    padding: 3px 0;
    @include border-radius(4px 4px 0 0);
    @include set-transparent-color(background-color, $xibo-color-black, 70%);
}

.editor-toolbar .toolbar-content .toolbar-card.card-selected .add-area {
    display: block;
    height: 80px;
    @include set-transparent-color(background-color, $toolbar-light-green, 90%);
    @include border-radius(4px);
    padding-top: 21px;
    font-size: 22px;
}

.editor-toolbar .toolbar-content .toolbar-card .drag-area {
    display: none;
    position: absolute;
    width: inherit;
    height: 50px;
    margin-top: 30px;
    cursor: move;
    padding: 13px 0;
    z-index: inherit;
    @include border-radius(0 0 4px 4px);
    @include set-transparent-color(background-color, $xibo-color-gray, 70%);
    
}

.editor-toolbar .toolbar-content .toolbar-card .img-container img {
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
}

.editor-toolbar .toolbar-content .toolbar-card:not(.card-selected):hover .add-area {
    display: block;
}

.editor-toolbar .toolbar-content .toolbar-card:not(.card-selected):hover .drag-area {
    display: block;
}

.editor-toolbar .toolbar-content .toolbar-card:not(.card-selected):hover .add-area:hover {
    @include set-transparent-color(background-color, $toolbar-green, 70%);
}

.editor-toolbar .toolbar-content .toolbar-card:not(.card-selected):hover .add-area:active {
    @include box-shadow(inset 0 0 10px $xibo-color-white);
}

.editor-toolbar .toolbar-content .toolbar-card:hover .drag-area:hover {
    @include set-transparent-color(background-color, $toolbar-dark-blue, 70%);
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags {
    display: block;
    position: absolute;
    bottom: 80px;
    width: 90%;
    left: 5%;
    opacity: 0.9;
    background-color: darken($toolbar-card-color, 20%);
    @include border-radius(4px 4px 0 0);
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags:hover {
    opacity: 1;
    z-index: 2;
    width: 96%;
    left: 2%;
    background-color: darken($toolbar-card-color, 40%);
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags:not(.expanded):hover {
    width: 100%;
    left: 0;
    min-width: fit-content;
    @include border-radius(4px);
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags-label {
    display: block;
    margin: 2px;
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags .toggle-tags {
    font-size: 100%;
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags.expanded .media-tags-container {
    opacity: 0;
    bottom: 17px;
    position: absolute;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.1s, opacity 0.4s linear;
    min-width: 100%;

}

.editor-toolbar .toolbar-content .toolbar-card .media-tags.expanded:hover .media-tags-container { 
    opacity: 1;
    transform: scaleY(1);
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags .toggle-tags {
    display: none;
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags.expanded .toggle-tags {
    display: block;
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags .toggle-tags span i {
    @extend .fa-angle-up;
}

.editor-toolbar .toolbar-content .toolbar-card .media-tags:hover .toggle-tags span i {
    @extend .fa-angle-down;
}

/* Toolbar - buttons */
.editor-toolbar a {
    color: $xibo-color-white;
    cursor: pointer;
}

.editor-toolbar .navbar-buttons a.active {
    background: $xibo-color-white;
    color: #444;
}

.editor-toolbar .navbar-submenu-container {
    background: $toolbar-tab-fg-color;
    padding: 2px;
    border: none;
}

.editor-toolbar .navbar-submenu a:hover {
    color: $toolbar-card-color;
}

.editor-toolbar .navbar-submenu-item {
    color: $toolbar-tab-fg-color;    
    padding: 4px;
    cursor: pointer;
}

.editor-toolbar .btn-menu-tool {
    color: $xibo-color-white;
    width: 50px;
    text-align: center;
    font-size: 24px;
    padding: 5px 10px;
    line-height: 30px;
    max-height: 40px;

    .material-icons {
        font-size: 26px;
        line-height: 30px;
    }

    &:hover {
        color: $xibo-color-blue;
        background: $xibo-color-white;
    }
}

.editor-toolbar .navbar-buttons a .close-tab-button {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    padding: 2px;
}

.editor-toolbar .navbar-buttons a:hover .close-tab-button {
    display: block;
}

.editor-toolbar .navbar-buttons a:hover .close-tab-button:hover {
    color: $xibo-color-red !important;
}

.editor-toolbar .bootstrap-tagsinput {
    line-height: 24px;
}

.editor-toolbar .bootstrap-tagsinput .label {
    font-size: 95%;
}

.editor-toolbar .navbar-submenu {
    & > a {
        padding: 10px;
        line-height: 20px;

        &#optionsContainer {
            width: 50px;
            text-align: center;
            font-size: 24px;
            padding: 5px 10px;
            line-height: 30px;
        }

        color: $xibo-color-white;

        &:hover, &:focus {
            color: $toolbar-main-color;
        }
    }

    &.open > a {
        color: $toolbar-main-color;
    }

    .navbar-submenu-item-options {
        width: 100%;
        background-color: $toolbar-main-color;
        font-weight: normal;
        margin: 0;

        i {
            padding: 1px;
            margin-top: 4px;
        }

        &:hover {
            background-color: darken($toolbar-main-color, 10%);
        }
    }
}