// Imports
@import "variables";
@import "mixins";

// CSS
.editor-toolbar nav {
    background: $toolbar-main-color;
    color: $toolbar-secondary-color;
    z-index: $toolbar-z-index;
    margin-left: 0;
    height: 100%;
    border: none;
    padding: 0 !important;

    .container-toolbar {
        padding: 0;
        height: 100%;

        .navbar-btn {
            margin: 8px 3px;
        }

        .navbar-peek-button {
            display: block;
            width: $toolbar-width;
            text-align: center;
            font-size: 1.5rem;
            padding: 10px;
            line-height: 30px;
            @include set-transparent-color(background, $toolbar-disabled-color, 0.3);
            color: lighten($toolbar-disabled-color, 30%);
            opacity: 0.4;
            cursor: unset;

            &.active {
                cursor: pointer;
                opacity: 1;

                &.navbar-bin {
                    background: $bin-bg-color;
                    color: $bin-fg-color;
                }

                &.navbar-bin:hover {
                    background: $bin-bg-color-hover !important;
                }

                &.navbar-undo {
                    background: $undo-bg-color;
                    color: $undo-fg-color;
                }

                &.navbar-undo:hover {
                    background: $undo-bg-color-hover !important;
                }

                &.navbar-multiselect {
                    background: $multiselect-bg-color;
                    color: $multiselect-fg-color;
                }

                &.navbar-multiselect:hover {
                    background: $multiselect-bg-color-hover !important;
                }
                
                &.navbar-multiselect.multiselect-active {
                    background: $multiselect-bg-color-active !important;
                }
            }
        }
    }

    .toolbar-pane {
        display: none;
        flex-direction: column !important;

        &.active {
            display: flex;
        }

        form {
            margin: 13px 12px 6px;

            .form-group {

                label {
                    font-weight: bold;
                }

                margin-bottom: 0;
            }
        }
    }

    /* Toolbar - button content */
    .toolbar-menu-content {
        .toolbar-pane {
            position: absolute;
            left: $toolbar-width;
            top: 0;
            bottom: 0;
            background: $xibo-color-blue-darker;
            border-width: 4px 4px 4px 0;
            border-style: solid;
            border-color: $xibo-color-blue-darker;
            color: $xibo-color-gray-light;

            .toolbar-pane-container {
                float: left;
                scroll-behavior: smooth;
                overflow-x: hidden;
                overflow-y: auto;
                width: 334px;
                margin: 0px -2px 6px 6px;

                /* SCROLLBAR */
                scrollbar-color: $xibo-color-primary lighten($xibo-color-primary, 40%); /* For firefox */

                /* width */
                ::-webkit-scrollbar {
                    width: 7px !important;
                }

                &::-webkit-scrollbar-thumb {
                    background: $xibo-color-primary !important;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: lighten($xibo-color-primary, 5%) !important;
                }

                &::-webkit-scrollbar-track {
                    background: lighten($xibo-color-primary, 40%) !important;
                    border-radius: 0 !important;
                }

                /* Internet explorer fix */
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    & {
                        -ms-overflow-style: -ms-autohiding-scrollbar;
                    }
                }
    
                .toolbar-pane-content {
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    margin: 4px 6px;
                    white-space: nowrap;
                    flex-wrap: wrap;

                    .toolbar-header {
                        flex-basis: 100%;
                        margin: 6px 0 4px 0;
                        text-transform: uppercase;
                    }

                    .no-results-message {
                        font-size: 1.2rem;
                        white-space: normal;
                        margin-top: 1rem;
                        font-weight: bold;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .toolbar-card {
                position: relative;
                overflow: hidden;
                background: $toolbar-card-color;
                height: auto !important;
                min-height: 45px;
                color: $xibo-color-white;
                width: $toolbar-card-width;
                height: $toolbar-card-height;
                @include border-radius(4px);
                font-size: 0.95rem;


                .thumb {
                    width: 100%;
                }

                .card-title {
                    display: block;
                    position: relative;
                    line-height: 30px;
                    height: $toolbar-width;
                    padding: 5px 2px;
                    margin-left: 40px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .card-icon {
                    position: relative;
                }

                .action-area {
                    display: none;
                    z-index: 2;
                    position: absolute;
                    text-align: center;
                    @include set-transparent-color(background-color, $xibo-color-black, 0.7);

                    i {
                        line-height: $toolbar-card-height;
                        font-size: 1.65rem;
                    }
                }
            }

            &.toolbar-library-pane {
                .toolbar-pane-content {
                    width: 310px;
                }

                .media-search-form {
                    width: 320px;
                    margin: 2px 2px 6px;
                }

                .toolbar-pane-container {
                    width: 334px;
                    margin: 6px -2px 6px 6px;
                    min-height: calc(100% - 10px);
                }

                .loading-container {
                    .loading {
                        font-size: 3rem;
                        opacity: 0.6;
                        margin: 15px;
                    }
                }

                .toolbar-card {
                    cursor: grab;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 0 0 11px 0;

                    & > * {
                        transition: 0.25s 0.25s opacity ease-in-out;
                        opacity: 1;
                    }

                    &.hide-content {
                        animation: animateBg 1.5s linear infinite;
                        background-image: linear-gradient(0deg, $xibo-color-primary,lighten($xibo-color-primary, 10%),$xibo-color-primary);
                        background-size: 100% 1100%;

                        & > * {
                            opacity: 0;
                        }
                    }
                    @keyframes animateBg {
                        0% { background-position: 0% 0%; }
                        100% { background-position: 0% 100%; }
                    }

                    &.ui-draggable-dragging {
                        cursor: grabbing;

                        .select-button {
                            display: none !important;
                        }
                    }

                    &.no-thumbnail {
                        min-height: 85px;
                    }

                    .media-title {
                        display: block;
                        background-color: $xibo-color-gray;
                        color: $xibo-color-primary;
                        padding: 0 4px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .card-icon {
                        font-size: 2.5rem;
                        color: $xibo-color-gray;
                        margin: 20px 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .select-button {
                        display: none;
                        cursor: pointer;
                        position: absolute;
                        background-color: $xibo-color-white;
                        color: darken($xibo-color-gray-darker, 20%);
                        @include box-shadow(0px 0px 2px 1px $xibo-color-gray-darker);
                        top: 6px;
                        left: 4px;
                        border-radius: 50%;
                        width: 17px;
                        height: 17px;

                        i {
                            cursor: pointer;
                            font-size: 14px;
                            line-height: 14px;
                            position: absolute;
                            top: 2px;
                            left: 3px;

                            &.fa-check {
                                left: 2px;
                                font-size: 13px;
                            }
                        }

                        .selectedHide {
                            display: block;
                        }

                        .selectedShow {
                            display: none;
                        }
                    }

                    .provider {
                        display: block;
                        background-color: $xibo-color-white-pure;
                        img {
                            width: 100%;
                            padding: 2px 6px;
                        }
                    }

                    &:hover {
                        @include box-shadow(0px 0px 0px 2px $xibo-color-white);

                        .select-button, .media-title {
                            display: block;
                            background-color: $xibo-color-white;
                        }

                        .card-icon {
                            color: $xibo-color-white;
                        }
                    }

                    &.card-selected {
                        @include box-shadow(0px 0px 0px 2px $xibo-color-green-highlight);
                        .select-button {
                            display: block;
                            background-color: $xibo-color-green-highlight !important;
                        }

                        .selectedHide {
                            display: none;
                        }

                        .selectedShow {
                            display: block;
                        }
                    }
                }

                .show-more {
                    margin: 6px 10px;
                    width: 310px;
                }
            }

            &.toolbar-widgets-pane {
                .toolbar-card {
                    min-height: $toolbar-widgets-card-height;
                    height: $toolbar-widgets-card-height;
                    margin: 4px;
    
                    .card-title {
                        line-height: 15px;
                        padding: 0 3px;
                        text-align: center;
                        margin: 9px 0 0 0;
                        width: 100%;
                        height: auto;
                    }
    
                    .card-icon {
                        line-height: 25px;
                        font-size: 1.25rem;
                        transform: translate(-50%);
                        padding: 0;
                        left: 50%;
                        top: 10px;
                    }
    
                    .action-area {
                        width: calc(100% / 2);
                        height: $toolbar-widgets-card-height;
    
                        i {
                            line-height: $toolbar-widgets-card-height;
                        }
                    }

                    .add-area {
                        @include border-radius(4px 0 0 4px);
                    }
    
                    &.card-selected .add-area {
                        display: block;
                        width: 100%;
                        @include set-transparent-color(background-color, $toolbar-light-green, 0.9);
                        @include border-radius(4px);
                        font-size: 1.55rem;
                    }
    
                    .drag-area {
                        cursor: move;
                        margin-left: calc(100% / 2);
                        @include border-radius(0 0 4px 0);
                    }
    
                    &.card-dragged .drag-area {
                        display: block;
                        margin-left: 0;
                        width: 100%;
                        @include set-transparent-color(background-color, $toolbar-purple, 0.6);
                        @include border-radius(4px);
                        font-size: 1.55rem;
                    }
    
                    &:not(.card-selected):hover {
                        .add-area {
                            display: block;
    
                            &:hover {
                                @include set-transparent-color(background-color, $toolbar-green, 0.6);
                            }
                        }
    
                        .drag-area {
                            display: block;
    
                            &:hover {
                                @include set-transparent-color(background-color, $toolbar-purple, 0.6);
                            }
                        }
                    }

                    .btn-favourite {
                        display: none;
                        cursor: pointer;
                        color: $xibo-color-yellow;
                        position: absolute;
                        z-index: 3;
                        background: $xibo-color-primary;
                        width: 16px;
                        @include border-radius(4px 0 4px 0);
                        margin: 0;
                        height: 16px;
                        text-align: center;
                        font-size: 0.85rem;
                    }
    
                    &:not(.card-selected):hover, &.favourited {
                        .btn-favourite {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    /* Toolbar - buttons */
    a:not(.page-link) {
        color: $xibo-color-white;
        cursor: pointer;
    }

    .navbar-buttons a.active {
        background: $xibo-color-blue-darker;
        color: $xibo-color-white-pure;
    }

    .navbar-submenu-container {
        background: $xibo-color-blue-pastel;

        & > a {
            padding: 0;
        }
    }

    .navbar-submenu a:hover {
        color: $xibo-color-primary;
    }

    .navbar-submenu-item {
        padding: 3px 6px;
        cursor: pointer;
    }

    .btn-menu-option {
        display: block;
        color: $xibo-color-white;
        width: $toolbar-width;
        text-align: center;
        font-size: 1.5rem;
        padding: 10px;
        line-height: 30px;
        max-height: $toolbar-width;

        .material-icons {
            font-size: 1.85rem;
            line-height: 30px;
        }

        &:hover {
            background: darken($xibo-color-blue-darker, 10%);
            color: $xibo-color-white-pure;
        }
    }

    .navbar-buttons a .close-tab-button {
        display: none;
        top: 0;
        right: 0;
        position: absolute;
        padding: 2px;
    }

    .navbar-buttons a:hover .close-tab-button {
        display: block;
    }

    .navbar-buttons a:hover .close-tab-button:hover {
        color: $xibo-color-red !important;
    }

    .bootstrap-tagsinput {
        width: 100%;
        min-width: 100%;
    }

    .navbar-submenu {
        & > a {
            padding: 10px;
            line-height: 20px;
            color: $toolbar-secondary-color;

            &.option-container, &.undo-container, &.trash-container {
                width: 50px;
                text-align: center;
                font-size: 1.5rem;
                padding: 5px 10px;
                line-height: 30px;
                
                &::after {
                    display: none;
                }
            }

            &:hover, &:focus {
                color: $xibo-color-white;
                background-color: $toolbar-main-color;
            }

            &.trash-container {
                color: $xibo-color-red;

                &:hover, &:focus {
                    color: $xibo-color-white;
                    background-color: $xibo-color-red;
                }
            }

            &.undo-container:not(.active), &.undo-container:not(.active):hover, &.undo-container:not(.active):focus,
            &.trash-container:not(.active), &.trash-container:not(.active):hover, &.trash-container:not(.active):focus {
                color: $xibo-color-gray-dark;
                background-color: transparent;
                opacity: 0.6;
                cursor: unset;
            }
        }

        &.open > a {
            color: $toolbar-main-color;
        }

        .navbar-submenu-item-options {
            width: 100%;
            font-weight: normal;
            margin: 0;

            i {
                padding: 1px;
                margin-top: 4px;
            }
        }
    }
}

/* Side bar */
.editor-toolbar.editor-side-bar nav {
    width: $toolbar-width;
    padding: 16px 0 !important;

    &.opened {
        margin-right: 340px;
    }
}

/* Playlist Editor side bar */
.editor-toolbar.editor-side-bar-playlist-editor nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    .navbar-submenu > a.option-container {
        text-align: center;
        font-size: 1.5rem;
        color: $xibo-color-white;
        width: $toolbar-width;
        padding: 10px;
        line-height: 30px;
        max-height: $toolbar-width;
        
        &::after {
            display: none;
        }

        &:hover {
            color: $xibo-color-blue;
            background: $xibo-color-white;
        }
    }
}