@import "variables";
@import "mixins";

.editor-top-bar nav {
    border: none;
    // Hide for now
    // min-height: 40px;
    z-index: 2;
    margin: 0;
    background: $xibo-color-neutral-0;
    color: $xibo-color-primary;
    right: 0;
    left: 0;
    border-radius: 0;
}

@media (max-width: 768px) {    
    .editor-top-bar nav {
        .layout-info-duration, .layout-info-dimensions {
            display: none;
        }
    }
}

.editor-toolbar .container-toolbar {
    .navbar-text.layout-info,
    .navbar-text.playlist-info {
        color: $xibo-color-secondary;
        line-height: 24px;
        display: inline-block;
        // Fix position for now
        position: fixed;
        top: 6px;
        left: 122px;
        // Fix position for now

        & > span {
            margin-right: 10px;
            line-height: 24px;
        }

        .layout-info-icon {
            margin-right: 2px;
        }   

        .layout-info-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
            float: left;
        }

        #layout-info-status {
            float: left;
            padding: 0 5px;
            min-width: 24px;

            &.clickable {
                cursor: pointer;
            }

            i {
                font-size: 1rem;
            }
        }

        .popover {
            color: $xibo-color-neutral-900;
            min-width: 250px;
            
            .popover-title {
                padding: 4px;
                font-weight: bold;
                text-align: center;
                border: none;
            }

            .popover-content {
                padding: 3px 6px;  
            }

            .popover-content .status-message {
                padding: 6px;
                margin: 0px -1px 3px -1px;
                border-radius: 6px;
                background: $xibo-color-semantic-error;
                color: $xibo-color-primary-l5;
            }

            .popover-content .status-title {
                padding: 4px; 
                font-weight: bold;
            }
        }
    
    }

    .layout-action-menu {
        margin: 0;
        padding: 0;
        // Fix position for now
        position: fixed;
        top: 0;
        right: 114px;
        // Fix position for now

        #layoutJumpListContainer {
            min-width: 120px;
            margin: 10px 6px;

            .select2-selection {
                max-height: 30px;
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
    }

    .navbar-submenu-options-container {
        a:not(.page-link) {
            color: $xibo-color-secondary !important;
            background-color: unset !important;

            &:hover, &:focus {
                color: $xibo-color-primary !important;
            }
        }

        .dropdown-item:hover, .dropdown-item:focus {
            background-color: $xibo-color-neutral-0;
        }
    }
}