// Global SASS variables 

// COLOURS
$xibo-color-primary: #1775F6;
$xibo-color-secondary: #121A5E;
$xibo-color-tertiary: #15D5CB;
$xibo-color-accent: #EB7857;

//  Variants
$xibo-color-primary-d60: #0E4694;
$xibo-color-primary-l60: #74ACFA;
$xibo-color-primary-l30: #B9D6FC;
$xibo-color-primary-l20: #dcedff;
$xibo-color-primary-l10: #E8F1FE;
$xibo-color-primary-l5: #F3F8FF;

//  Neutral
$xibo-color-neutral-0: #fff;
$xibo-color-neutral-100: #FCFCFC;
$xibo-color-neutral-300: #E9E9E9;
$xibo-color-neutral-500: #CECECE;
$xibo-color-neutral-700: #898989;
$xibo-color-neutral-900: #333333;
$xibo-color-neutral-1000: #000000;

// Semantic
$xibo-color-semantic-error: #BF5555;
$xibo-color-semantic-success: #3E9A42;
$xibo-color-semantic-warning: #D4D74E;
$xibo-color-semantic-info: #5593BF;

// Overlay
$xibo-color-overlay: rgba(0, 0, 0, 0.6);

// Specific
$xibo-color-selected: $xibo-color-accent;
$xibo-color-shadow: rgba(0, 0, 0, 0.1);
$xibo-color-shadow-2: rgba(0, 0, 0, 0.25);

$xibo-color-layout-hover: $xibo-color-primary-l60;
$xibo-color-layout-selected: $xibo-color-primary-l30;

$xibo-color-region-hover: $xibo-color-accent;
$xibo-color-region-selected: lighten($xibo-color-accent, 15%);

$xibo-color-widget-hover: $xibo-color-primary;
$xibo-color-widget-selected: lighten($xibo-color-primary, 15%);

$xibo-color-action-target: #D07CEE;
$xibo-color-action-target-light: #EFDDF5;
$xibo-color-action-trigger: #86F4DA;
$xibo-color-action-trigger-light: #E3FDF6;


// ZINDEX
$loading-overlay-z-index: 4000;
$toolbar-z-index: 1040;
$toolbar-card-z-index: 1060;
$toolbar-content-header-height: 40px;

// DIMENSIONS
$toolbar-width: 60px;

$toolbar-widgets-card-height: 60px;
$toolbar-widgets-card-margin-bottom: 0.5rem;

$properties-panel-width: 320px;
$designer-overlay-z-index: 1050;
$designer-z-index-select: 10;
$inline-editing-z-index: 1040;