// Global SASS variables 

// COLOURS
$xibo-color-primary: #1775F6;
$xibo-color-secondary: #121A5E;
$xibo-color-tertiary: #15D5CB;
$xibo-color-accent: #EB7857;

//  Variants
$xibo-color-primary-d60: #0E4694;
$xibo-color-primary-l60: #74ACFA;
$xibo-color-primary-l30: #B9D6FC;
$xibo-color-primary-l20: #dcedff;
$xibo-color-primary-l10: #E8F1FE;
$xibo-color-primary-l5: #F3F8FF;

//  Neutral
$xibo-color-neutral-0: #fff;
$xibo-color-neutral-100: #FCFCFC;
$xibo-color-neutral-300: #E9E9E9;
$xibo-color-neutral-500: #CECECE;
$xibo-color-neutral-600: #CCC;
$xibo-color-neutral-700: #898989;
$xibo-color-neutral-900: #333333;
$xibo-color-neutral-1000: #000000;

// Semantic
$xibo-color-semantic-error: #BF5555;
$xibo-color-semantic-success: #3E9A42;
$xibo-color-semantic-warning: #D4D74E;
$xibo-color-semantic-info: #5593BF;

// Overlay
$xibo-color-overlay: rgba(0, 0, 0, 0.6);

// Specific
$xibo-color-selected: $xibo-color-accent;
$xibo-color-shadow: rgba(0, 0, 0, 0.1);
$xibo-color-shadow-2: rgba(0, 0, 0, 0.25);

$xibo-color-layout-hover: $xibo-color-primary-l60;
$xibo-color-layout-selected: $xibo-color-primary-l30;

$xibo-color-region-hover: $xibo-color-accent;
$xibo-color-region-selected: lighten($xibo-color-accent, 15%);

$xibo-color-widget-hover: lighten($xibo-color-semantic-success, 15%);
$xibo-color-widget-selected: lighten($xibo-color-semantic-success, 15%);

$xibo-color-action-target: #D07CEE;
$xibo-color-action-target-light: #EFDDF5;
$xibo-color-action-trigger: #86F4DA;
$xibo-color-action-trigger-light: #E3FDF6;

// ZINDEX
$viewer-object-group-overlay-z-index: 1001;
$viewer-object-group-bts-z-index: 1002;
$viewer-button-z-index: 1002;
$viewer-overlay-index: 1003;
$viewer-moveable-z-index: 1004;
$viewer-bottom-bar-z-index: 1005;

$properties-panel-z-index: 1005;
$header-z-index: 1006;
$custom-overlay-z-index: 1010;
$designer-select-z-index: 1011;
$viewer-layer-editor-z-index: 1020;
$inline-editing-z-index: 1040;

$toolbar-z-index: 1040;
$designer-overlay-z-index: 1050;
$toolbar-card-z-index: 1060;

$properties-panel-rich-text-container-z-index: 1050;

$preview-playing-z-index: 2000;

$bootbox-second-dialog-z-index: 3100;
$context-menu-overlay-z-index: 3000;
$loading-overlay-z-index: 3000;

// DIMENSIONS
$toolbar-width: 60px;
$toolbar-tab-menu-height: 50px;
$toolbar-header-height: 50px;
$toolbar-content-header-height: 40px;
$toolbar-content-level-1-width: 160px;
$toolbar-content-level-2-width: 290px;
$toolbar-content-level-3-width: 420px;
$toolbar-content-level-4-width: 600px;

$toolbar-widgets-card-height: 60px;
$toolbar-widgets-card-margin-bottom: 0.5rem;

$properties-panel-width: 320px;

$viewer-bottom-bar-height: 64px;
$viewer-bottom-bar-border-width: 2px;
$viewer-bottom-bar-plus-border-height: calc($viewer-bottom-bar-height + $viewer-bottom-bar-border-width);