<div class="list-group-card">
    <a class="list-group-link" href="{{url}}" target="{{target}}">{{title}}</a>
    {{#if summary}}
        <div class="list-group-summary">{{{summary}}}</div>
    {{/if}}
</div>