<div class="help-pane-card-header">
    {{#if back}}
        <i class="back-icon fas fa-angle-left"></i>
    {{/if}}

    <span class="card-header-title">{{title}}</span>

    {{#if close}}
        <i class="close-icon fas fa-close"></i>
    {{/if}}
</div>