<div class="alert alert-info help-pane-alert max-uploads-message">
    <i class="fas fa-circle-info"></i>
    <div class="alert-break-text">
        <span>{{trans.form.maxUploadsMessage1}}</span>
        <span>{{trans.form.maxUploadsMessage2}}</span>
    </div>
</div>