<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
        <%
        var title = event.title;
        var eventIcon = "fa-desktop";
        var eventClass = "event-warning";

        if (event.event.dayPartId == 0) {
                if (event.event.eventTypeId == 2) {
                title = "[" + moment(event.event.fromDt).format("HH:mm") + "] " + event.title;
                } else if (event.sameDay) {
                title = "[" + moment(event.event.fromDt).format("HH:mm") + " - " + moment(event.event.toDt).format("HH:mm") + "] " + event.title;
                } else {
                title = "[" + moment(event.event.fromDt).format(jsDateFormat) + " - " + moment(event.event.toDt).format(jsDateFormat) + "] " + event.title;
                }
        }

        if (event.event.displayOrder > 0)
        title = title + " (" + event.event.displayOrder + ")";

        if (event.event.displayGroups.length <= 1) {
        eventClass = "event-info";
        }
        else {
        eventClass = "event-success";
        }

        if (event.event.dayPartId == 1) {
        eventIcon = "fa-retweet";
        }

        if (event.event.recurrenceType != null && event.event.recurrenceType != "") {
        eventClass = "event-special";
        eventIcon = "fa-repeat";
        }

        if (event.event.isPriority >= 1) {
        eventClass = "event-important";
        eventIcon = "fa-bullseye";
        }

            if (event.event.eventTypeId == 2)
            eventIcon = "fa-wrench";

            if (!event.editable) {
            eventIcon = "fa-lock";
            eventClass = "event-inverse";
            }
        %>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= eventClass %>" class="event-item">
                    <span class="fa <%= eventIcon %>"></span> <%= title %></a>
			</li>
		<% }) %>
	</ul>
</div>
