<div class="modal welcome-video-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="welcome-video-header">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-close"></i>
        </button>
      </div>
      <div class="welcome-video-body">
        <!-- Body content -->
      </div>
    </div>
  </div>
</div>