<div class="http-key-value-element mt-1">
    <input class="form-control validated-element form-control-inline http-key" placeholder="{{trans.key}}" value="{{ key }}">
    <input class="form-control validated-element form-control-inline http-value" placeholder="{{trans.value}}" value="{{ value }}">
    <button type="button" class="btn btn-sm btn-warning pull-right http-key-value-remove"><i class="fa fa-minus"></i></button>
</div>