<form class="region-form">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#generalTab" role="tab" data-toggle="tab"><span>{{trans.general}}</span></a></li>
        {{#if showExitTransition}}
            <li class="nav-item"><a class="nav-link" href="#transitionTab" role="tab" data-toggle="tab"><span>{{trans.transition}}</span></a></li>
        {{/if}}
        <li class="nav-item"><a class="nav-link" href="#positionTab" role="tab" data-toggle="tab"><i class="fas fa-border-none tooltip-always-on" data-toggle="tooltip" data-title="{{trans.positioning}}"></i></a></li>
    </ul>
    <div class="form-content">
        <form id="regionFormEdit" class="XiboForm">
            <div class="tab-content">
                <div class="tab-pane active" id="generalTab">
                    {{> inputs/hidden id="type" value=region.type customClass="region-input" }}
                    {{> inputs/text value=region.name id="name" title=trans.region.name helpText=trans.region.nameHelpText customClass="region-input" }}

                    {{#eq region.type 'playlist' }}
                        {{> inputs/text value=region.syncKey id="syncKey" title=trans.region.syncKey helpText=trans.region.syncKeyHelpText customClass="region-input" }}
                    {{/eq}}

                    {{#eq region.type 'frame' }}
                        {{> inputs/checkbox value=(getOption region.regionOptions "loop") id="loop" title=trans.region.loop helpText=trans.region.loopHelpText customClass="region-input" }}
                        {{> inputs/message messageType="info" title=trans.region.loopMessage1}}
                        {{> inputs/message messageType="info" title=trans.region.loopMessage2}}
                        {{> inputs/message messageType="info" title=trans.region.loopMessage3}}
                    {{/eq}}
                </div>

                {{#if showExitTransition}}
                    <div class="tab-pane" id="transitionTab">
                        {{> inputs/dropdown value=(getOption region.regionOptions "transitionType") options=(arrMerge (arr (obj code='' transition='Off')) transitions.out) optionsTitle="transition" optionsValue="code" id="transitionType" title=trans.region.exitTransitionTitle helpText=trans.region.exitTransitionHelpText }}
                    </div>
                {{/if}}

                <div class="tab-pane" id="positionTab">
                    {{> button id="bringToViewButton" type="btn-block btn-outline-success inline-btn d-none mb-2" name=trans.region.bringRegionToView customClass="position-input" }}
                    {{> inputs/number value=region.zIndex id="zIndex" title=trans.region.layer helpText=trans.region.layerHelpText customClass="position-input" }}
                    {{> inputs/number value=region.top id="top" title=trans.region.top helpText=trans.region.topHelpText customClass="position-input" }}
                    {{> inputs/number value=region.left id="left" title=trans.region.left helpText=trans.region.leftHelpText customClass="position-input" }}
                    {{> inputs/number value=region.width id="width" title=trans.region.width helpText=trans.region.widthHelpText customClass="position-input" }}
                    {{> inputs/number value=region.height id="height" title=trans.region.height helpText=trans.region.heightHelpText customClass="position-input" }}
                    {{> button id="setFullScreenButton" type="btn-block btn-outline-primary inline-btn" name=trans.region.makeRegionFullScreen customClass="position-input" }}
                </div>
            </div>
        </form>
    </div>
</form>