name: Build Container

on:
  push:
    branches:
      - master
      - develop
      - kopff
      - release23
      - release33
      - release40
      - kopff_chromeos

jobs:
  build:
    name: Build Containers
    if: github.repository == 'xibosignage/xibo-cms'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Configure Build X
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Latest
      - name: Build Latest
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ghcr.io/xibosignage/xibo-cms:latest
          build-args: GIT_COMMIT=${{ github.sha }}
          push: true
          load: false

      # Release branch
      - name: Build Branch
        if: github.ref != 'refs/heads/master'
        uses: docker/build-push-action@v5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ghcr.io/xibosignage/xibo-cms:${{ github.ref_name }}
          build-args: GIT_COMMIT=${{ github.sha }}
          push: true
          load: false
