name: Build Container

on:
  push:
    branches:
      - master
      - develop
      - release23
      - release31

jobs:
  build:
    name: Build Containers
    if: github.repository == 'xibosignage/xibo-cms'
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      # Latest
      - name: Build Latest
        if: github.ref == 'refs/heads/master'
        run: |
          docker build . -t xibosignage/xibo-cms:latest --build-arg GIT_COMMIT=${GITHUB_SHA}
      - name: Push Latest
        if: github.ref == 'refs/heads/master'
        run: |
          docker login --username ${{ secrets.DOCKER_HUB_USERNAME }} --password ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push xibosignage/xibo-cms:latest

      # Release branch
      - name: Build Branch
        if: github.ref != 'refs/heads/master'
        run: |
          docker build . -t xibosignage/xibo-cms:${GITHUB_REF##*/} --build-arg GIT_COMMIT=${GITHUB_SHA}
      - name: Push Branch
        if: github.ref != 'refs/heads/master'
        run: |
          docker login --username ${{ secrets.DOCKER_HUB_USERNAME }} --password ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push xibosignage/xibo-cms:${GITHUB_REF##*/}